[
  {
    "name": "Ahorn",
    "id": 4,
    "annualCo2SavingInTons": 0.02,
    "description": "Die Ahorn bilden eine Pflanzengattung in der Unterfamilie der Rosskastaniengewächse (Hippocastanoideae) innerhalb der Familie der Seifenbaumgewächse (Sapindaceae). ",
    "imageFile": null,
    "infoLink": null
  },
  {
    "name": "Birke",
    "id": 3,
    "annualCo2SavingInTons": 0.02,
    "description": "Die Birke bilden eine Pflanzengattung in der Unterfamilie der Rosskastaniengewächse (Hippocastanoideae) innerhalb der Familie der Seifenbaumgewächse (Sapindaceae). ",
    "imageFile": null,
    "infoLink": null
  },
  {
    "name": "Buche",
    "id": 1,
    "annualCo2SavingInTons": 0.02,
    "description": "Die Buche bilden eine Pflanzengattung in der Unterfamilie der Rosskastaniengewächse (Hippocastanoideae) innerhalb der Familie der Seifenbaumgewächse (Sapindaceae). ",
    "imageFile": null,
    "infoLink": null
  }
]