.finances {
  margin-top: 2rem;
  max-width: 1080px;
}

li {
  color: green !important;
}

.column {
  padding: 0 !important;
}

.finance-link {
  font-size: 1rem;
  margin-bottom: 15px;
}

.scroll-container {
  min-height: 1000px;
}

.finances-columns {
  min-height: 65vh;
}
