<div
  class="is-flex is-flex-direction-column padding-left padding-top-075 is-justify-content-space-between"
>
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a class="breadcrumb-active" routerLink="/finances">
          {{ 'finances' | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="w-100 is-flex is-flex-direction-column padding-1 padding-left margin-top-1">
  <div class="columns is-hidden-mobile finances-columns">
    <div class="column is-2">
      <h2>{{ 'finances' | translate }}</h2>

      <div *ngFor="let finance of finances; index as i">
        <div class="finance-link">
          <a (click)="selectYear(finance)">{{ finance.title }}</a>
        </div>
      </div>
    </div>
    <div class="column is-10" *ngIf="currentlySelectedYear">
      <h4>{{ currentlySelectedYear?.title }}</h4>
      <div *ngFor="let paragraph of currentlySelectedYear?.paragraphs">
        <p>{{ paragraph.title}}</p>
        <div innerHtml="{{ paragraph.text }}"></div>
      </div>
    </div>
  </div>
  <div class="columns is-hidden-desktop">
    <div class="column">
      <div *ngFor="let finance of finances; index as i">
        <div id="{{ 'finance-' + i }}">
          <h4>{{ finance.title }}</h4>
          <div [innerHtml]="finance.intro | safeHtml"></div>
          <div *ngFor="let paragraph of finance.paragraphs">
            <div innerHtml="{{ paragraph.title }}"></div>
            <div [innerHtml]="paragraph.text | safeHtml"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
