<div
  class="w-100 is-flex is-flex-direction-column is-justify-content-center is-align-items-center padding-1"
>
  <div class="finances">
    <h2>{{ 'finances' | translate }}</h2>
    <div *ngFor="let finance of finances">
      <h4>{{ finances.title }}</h4>
      <div innerHtml="{{ finance.intro }}"></div>
      <div *ngFor="let paragraph of finance.paragraphs">
        {{ paragraph.title }}
        <div innerHtml="{{ paragraph.title }}"></div>
        <div innerHtml="{{ paragraph.text }}"></div>
      </div>
    </div>
  </div>
</div>
