<div class="header">
  <div class="columns">
    <div class="column is-12 stats"><app-tree-icon></app-tree-icon> 489.230</div>
  </div>
  <div class="columns">
    <div class="column is-5">
      <h2>
        {{ "headerText" | translate }}
      </h2>
      <p>
        {{ "headerSubtext1" | translate }} <br />
        {{ "headerSubtext2" | translate }}
      </p>
      <a href="" routerLink="/">
        {{ "learnMore" | translate }}
      </a>
    </div>
    <div class="column">
      <h1 class="header-title">
        I PLANT <br />
        A TREE
      </h1>
    </div>
  </div>
</div>
