<video autoplay id="myVideo">
  <source src="assets/animation.mp4" type="video/mp4" />
</video>

<div class="header is-flex is-flex-direction-column padding-left padding-right">
  <div class="stats"><app-tree-icon></app-tree-icon>{{ treeCount$ | async }}</div>
  <div class="is-flex direction-wrapper">
    <div class="is-flex is-flex-direction-column">
      <p class="text-left">
        {{ 'headerText' | translate }}
      </p>
      <p class="desktop">
        {{ 'headerSubtext1' | translate }} <br />
        {{ 'headerSubtext2' | translate }}
      </p>
      <a routerLink="/">
        {{ 'learnMore' | translate }}
      </a>
    </div>
    <h1>
      I PLANT <br />
      A TREE
    </h1>
  </div>
</div>
