.stats {
  margin: 5rem auto 5rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
}

.text-left {
  max-width: 500px;
  font-family: 'Bull-regular' !important;
  font-size: 3rem !important;
  line-height: 3.5rem !important;
  color: var(--dark-brown) !important;
  margin-bottom: 3rem !important;
}

.header {
  position: relative;
  min-height: calc(100vh - 80px);
  z-index: 2;
  background: #00000000;
  background-image: url(/assets/baumscheiben.png);
  background-size: cover;
  background-position: center;
}

.direction-wrapper {
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 1rem;
    min-height: calc(100vh - 80px);
  }

  video {
    position: absolute;
    transform: scaleY(-1);
  }

  .direction-wrapper {
    flex-grow: 1;
    flex-direction: column;
    // justify-content: space-between;
  }

  .stats {
    margin: 0 auto 2rem 0;
  }

  .text-left {
    font-size: 2rem !important;
    line-height: 2.25rem !important;
    margin-bottom: 1rem !important;
  }
}
