.stats {
  margin: 8rem auto 10rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
}

.text-left {
  max-width: 500px;
  font-family: 'Bull-regular' !important;
  font-size: 3rem !important;
  line-height: 3.5rem !important;
  color: var(--dark-brown) !important;
  margin-bottom: 3rem !important;
}

.header {
  min-height: calc(100vh - 80px);
}

.direction-wrapper {
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 1rem;
    min-height: calc(100vh - 80px);
  }

  .direction-wrapper {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  .stats {
    margin: 0 auto 2rem 0;
  }

  .text-left {
    font-size: 2rem !important;
    line-height: 2.25rem !important;
  }
}
