.header {
  padding: 0 7rem;
  background: var(--background);
  border-top: 1px solid black;
}

.stats {
  margin: 10rem auto 10rem auto;
  margin-left: 6px;
  font-size: 20px;
  line-height: 24px;
}

.header-title {
  font-size: 10rem;
  font-family: 'NBArchitect';
  line-height: 10rem;
  color: #65594e;
}

p {
  margin-left: 4px;
  font-family: 'Bull-mono';
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin-bottom: 3rem;
}

.text-left {
  font-family: 'Bull-regular' !important;
  font-size: 70px !important;
  line-height: 80px !important;
  color: #3c3335 !important;
  margin-bottom: 3rem !important;
}

a {
  font-size: 15px;
  line-height: 15px;
  margin-left: 4px;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 1rem;
  }
}
