<div class="header">
  <div class="columns">
    <div class="column is-12 stats padding-left">
      <app-tree-icon></app-tree-icon>{{ treeCount$ | async }}
    </div>
  </div>
  <div class="columns">
    <div class="column is-4 padding-left">
      <p class="text-left">
        {{ 'headerText' | translate }}
      </p>
      <p>
        {{ 'headerSubtext1' | translate }} <br />
        {{ 'headerSubtext2' | translate }}
      </p>
      <a href="" routerLink="/">
        {{ 'learnMore' | translate }}
      </a>
    </div>
    <div class="column">
      <h1 class="header-title">
        I PLANT <br />
        A TREE
      </h1>
    </div>
  </div>
</div>
