<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class="row map-row">
    <div class="col-md-12">
      <ui-gmap-google-map center='center' zoom='zoom' events="events">
        <ui-gmap-marker idkey="marker.id" coords='marker.coords' ng-if="marker.isSet"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="form-group">
        <label for="plantedDate">Tag der Pflanzung</label>

        <p class="input-group">
          <input
              id="plantedDate"
              type="date"
              class="form-control"
              uib-datepicker-popup
              ng-model="dt"
              is-open="status.opened"
              datepicker-options="dateOptions"
              date-disabled="disabled(date, mode)"
              ng-required="true"
              close-text="Close"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i
                  class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="treeType">Baumart</label>
        <select id="treeType" class="treetype-select" ng-model="selectedTreeType">
          <option ng-repeat="treeType in treeTypes" value="{{treeType.name}}">
            {{treeType.name}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-1">
      <div class="form-group">
        <label for="amount">Wieviel</label>
        <input id="amount" type="number" min="1" max="10" ng-model="treeAmount"/>
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group">
        <label for="description">Beschreibung (optional)</label>
        <textarea id="description" ng-model="description"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <span class="file-input btn btn-primary btn-file">Upload Photo<input type="file" multiple></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary pull-right" ng-click="sendTree($event)">Anlegen</button>
    </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
