.label-div {
  margin: 2rem auto 4rem auto;
  font-family: 'Bull-regular';
  font-size: 1rem;

  div {
    display: inline;
    vertical-align: super;
  }
  .circle-icon-text {
    margin-left: 0.5rem;
  }
}

.tree-count-div {
  margin-bottom: 2rem;
  text-align: center;
  .number-big {
    text-shadow: 0 0 8px var(--background);
    opacity: 0.85;
    font-size: 20rem !important;
    font-family: 'NBArchitect' !important;
    line-height: 20rem !important;
    color: var(--brown);
  }
}

.section {
  background-image: url(/assets/baumscheiben.jpg);
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 1600px) {
  .tree-count-div {
    .number-big {
      font-size: 10rem !important;
      line-height: 11rem !important;
    }
  }
}

@media only screen and (max-width: 900px) {
  .tree-count-div {
    .number-big {
      font-size: 7rem !important;
      line-height: 7.5rem !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .label-div {
    margin: 1rem auto;
  }
  .tree-count-div {
    .number-big {
      font-size: 4rem !important;
      line-height: 4.5rem !important;
    }
  }
}
