<div class="signup is-flex padding-1 is-flex-direction-column w-100 is-align-items-center">
  <form
    class="w-100 is-flex is-flex-direction-column"
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-error *ngIf="signupError$ | async">
      {{ 'signupFailed' | translate }}
    </mat-error>
    <div class="inputOutline">
      <input [placeholder]="'username' | translate" name="name" required formControlName="name" />
    </div>
    <div class="inputOutline">
      <input
        type="password"
        [placeholder]="'password' | translate"
        name="password"
        required
        formControlName="password"
      />
    </div>
    <div class="inputOutline">
      <input
        type="password"
        [placeholder]="'repeatPassword' | translate"
        name="repeatPassword"
        required
        formControlName="repeatPassword"
      />
    </div>
    <div class="inputOutline">
      <input [placeholder]="'email' | translate" name="mail" required formControlName="mail" />
    </div>
    <div class="is-flex is-flex-direction-row">
      <div class="inputOutline padding-1 w-100 margin-right-1">
        <mat-label>{{ 'newsletter' | translate }}</mat-label>
        <mat-select formControlName="newsletter">
          <mat-option [value]="true">{{ 'yes' | translate }}</mat-option>
          <mat-option [value]="false">{{ 'no' | translate }}</mat-option>
        </mat-select>
      </div>
      <div class="inputOutline padding-1 w-100">
        <mat-label>{{ 'organisation' | translate }}</mat-label>
        <mat-select formControlName="orgType">
          <mat-option [value]="'NONPROFIT'">{{ 'NONPROFIT' | translate }}</mat-option>
          <mat-option [value]="'PRIVATE'">{{ 'PRIVATE' | translate }}</mat-option>
          <mat-option [value]="'COMMERCIAL'">{{ 'COMMERCIAL' | translate }}</mat-option>
          <mat-option [value]="'EDUCATIONAL'">{{ 'EDUCATIONAL' | translate }}</mat-option>
          <mat-option [value]="'TEAM'">{{ 'team' | translate }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="inputOutline padding-1">
      <mat-label>{{ 'language' | translate }}</mat-label>
      <mat-select formControlName="language">
        <mat-option [value]="'DEUTSCH'">{{ 'german' | translate }}</mat-option>
        <mat-option [value]="'ENGLISH'">{{ 'english' | translate }}</mat-option>
      </mat-select>
    </div>
    <div class="center">
      <app-button [label]="'signup' | translate"></app-button>
    </div>
  </form>
</div>
