.ranking-item {
  margin-bottom: 1rem;
}

.name {
  font-size: 0.8rem;
}

.img-wrapper {
  border: solid 1px;
  border-radius: 50%;
  width: 3rem !important;
  height: 3rem !important;
  margin-right: 1rem;
  img {
    border-radius: 50%;
    width: 3rem !important;
    height: 3rem !important;
  }
}

.bar-wrapper {
  text-align: right;
  height: 22px;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  .amount {
    margin-right: 10px;
    float: right;
  }
  .bar-fill {
    height: 20px;
    background: var(--dark-green);
    border-radius: 25px;
  }
}
