.ranking-item {
  margin-bottom: 1rem;
}

.name {
  cursor: pointer;
  font-size: 0.8rem;
}

.img-wrapper {
  cursor: pointer;
  border: solid 1px;
  border-radius: 50%;
  width: 3rem !important;
  height: 3rem !important;
  margin-right: 1rem;
  img {
    border-radius: 50%;
  }
}

.bar-wrapper {
  text-align: right;
  height: 22px;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  .amount {
    margin-right: 10px;
    float: right;
  }
  .normalFont {
    color: var(--black);
  }
  .bar-fill {
    min-width: 20px;
    height: 20px;
    border-radius: 25px;
    background: var(--green);
  }
  .lastYear {
    color: var(--black);
  }
}
