<div
  class="is-flex is-flex-direction-column w-100 padding-2 gift-box border-bottom"
  *ngIf="consignorGifts && recipientGifts"
>
  <h4 class="center">{{ 'gifts' | translate }}</h4>
  <div class="columns">
    <div class="column">
      <h4 class="center">{{ 'redeemGift' | translate }}</h4>

      <app-profile-redeem-gift></app-profile-redeem-gift>
    </div>
    <div class="column">
      <h4>{{ 'created' | translate }}</h4>
      <div class="columns">
        <div class="column">
          <b>{{ 'code' | translate }}</b>
        </div>
        <div class="column">
          <b>{{ 'trees' | translate }}</b>
        </div>
        <div class="column">
          <b>{{ 'price' | translate }}</b>
        </div>
        <div class="column">
          <b>{{ 'consignedBy' | translate }}</b>
        </div>
        <div class="column">
          <b>PDF</b>
        </div>
      </div>
      <div class="columns" *ngFor="let gift of consignorGifts">
        <div class="column">{{ gift.code.code }}</div>
        <div class="column">{{ gift.code.cart.treeCount }}</div>
        <div class="column">{{ gift.code.cart.totalPrice | currency }}</div>
        <div class="column">{{ gift.recipient?.name ? gift.recipient.name : '' }}</div>
        <div class="column">
          <button mat-icon-button color="primary" (click)="openGiftPdf(gift.id)">
            <mat-icon aria-hidden="false">file_download</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="column">
      <h4>{{ 'consigned' | translate }}</h4>
      <div class="columns">
        <div class="column">
          <b>{{ 'code' | translate }}</b>
        </div>
        <div class="column">
          <b>{{ 'trees' | translate }}</b>
        </div>
        <div class="column">
          <b>{{ 'price' | translate }}</b>
        </div>
        <div class="column">
          <b>{{ 'createdBy' | translate }}</b>
        </div>
      </div>
      <div class="columns" *ngFor="let gift of recipientGifts">
        <div class="column">{{ gift.code.code }}</div>
        <div class="column">{{ gift.code.cart.treeCount }}</div>
        <div class="column">{{ gift.code.cart.totalPrice | currency }}</div>
        <div class="column">{{ gift.consignor?.name ? gift.consignor.name : '' }}</div>
      </div>
    </div>
  </div>
</div>
