.gift-box {
  padding-bottom: 0;
}

.paging-icon {
  height: 4rem;
  width: 4rem;
  font-size: 4rem;
  cursor: pointer;
}

.tableColumn {
  padding-right: 0.75rem;
}

table {
  th,
  td {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .tableColumn {
    padding-right: 0;
  }

  .tables {
    flex-direction: column !important;
  }
}
