<div
  class="is-flex is-flex-direction-column w-100 padding-2 gift-box border-bottom"
  *ngIf="consignorGifts && recipientGifts"
>
  <h4 class="center">{{ 'gifts' | translate }}</h4>
  <div class="center margin-bottom-1">
    <app-button label="{{ 'createGift' | translate }}" (click)="createGift()"></app-button>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="{{ 'redeemGift' | translate }}">
      <div class="is-flex is-justify-content-center">
        <app-profile-redeem-gift></app-profile-redeem-gift>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'overview' | translate }}">
      <div
        class="is-flex is-flex-direction-row tables is-justify-content-space-between margin-bottom-2"
      >
        <div class="is-flex w-100 tableColumn is-flex-direction-column">
          <h4 class="text-center margin-top-1">{{ 'created' | translate }}</h4>
          <table class="w-100" mat-table [dataSource]="_consignorGifts">
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>{{ 'code' | translate }}</th>
              <td class="tableAlignment minTable200" mat-cell *matCellDef="let gift">
                {{ gift.code.code }}
              </td>
            </ng-container>
            <ng-container matColumnDef="trees">
              <th mat-header-cell *matHeaderCellDef>{{ 'trees' | translate }}</th>
              <td class="tableAlignment minTable60" mat-cell *matCellDef="let gift">
                {{ gift.code.cart.treeCount }}
              </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>{{ 'value' | translate }}</th>
              <td class="tableAlignment minTable80" mat-cell *matCellDef="let gift">
                {{ gift.code.cart.totalPrice | currency }}
              </td>
            </ng-container>
            <ng-container matColumnDef="consignedBy">
              <th mat-header-cell *matHeaderCellDef>{{ 'consignedBy' | translate }}</th>
              <td class="tableAlignment minTable200" mat-cell *matCellDef="let gift">
                {{ gift.recipient?.name ? gift.recipient.name : '' }}
              </td>
            </ng-container>
            <ng-container matColumnDef="PDF">
              <th mat-header-cell *matHeaderCellDef>{{ 'PDF' | translate }}</th>
              <td mat-cell *matCellDef="let gift">
                <button mat-icon-button color="primary" (click)="openGiftPdf(gift.id)">
                  <mat-icon aria-hidden="false">file_download</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="recreate">
              <th mat-header-cell *matHeaderCellDef>{{ 'again' | translate }}</th>
              <td mat-cell *matCellDef="let gift">
                <button
                  mat-icon-button
                  color="primary"
                  (click)="recreateGift(gift)"
                  matTooltip="{{ 'recreateGift' | translate }}"
                >
                  <mat-icon aria-hidden="false">autorenew</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedCreatedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedCreatedColumns"></tr>
          </table>
        </div>
        <div class="is-flex w-100 is-flex-direction-column">
          <h4 class="text-center margin-top-1">{{ 'consigned' | translate }}</h4>
          <table class="w-100" mat-table [dataSource]="_recipientGifts">
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>{{ 'code' | translate }}</th>
              <td class="tableAlignment minTable200" mat-cell *matCellDef="let gift">
                {{ gift.code.code }}
              </td>
            </ng-container>
            <ng-container matColumnDef="trees">
              <th mat-header-cell *matHeaderCellDef>{{ 'trees' | translate }}</th>
              <td class="tableAlignment minTable60" mat-cell *matCellDef="let gift">
                {{ gift.code.cart.treeCount }}
              </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>{{ 'value' | translate }}</th>
              <td class="tableAlignment minTable80" mat-cell *matCellDef="let gift">
                {{ gift.code.cart.totalPrice | currency }}
              </td>
            </ng-container>
            <ng-container matColumnDef="consignor">
              <th mat-header-cell *matHeaderCellDef>{{ 'createdBy' | translate }}</th>
              <td class="tableAlignment minTable200" mat-cell *matCellDef="let gift">
                {{ gift.consignor?.name ? gift.consignor.name : '' }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedConsignedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedConsignedColumns"></tr>
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
