.menu-spacer {
  width: 60px;
}

mat-toolbar-row {
  height: 80px;
  div {
    text-align: center;
    width: 100%;
  }
}

.border-bottom {
  border-bottom: solid;
}

.profile-img {
  border-radius: 50%;
  margin-right: 15px;
}

.profile-name {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
  cursor: pointer;
}

.logout {
  font-size: 12px;
  cursor: pointer;
  margin-right: 15px;
}
