.padding-left {
  padding-left: 4rem !important;
}
.padding-right {
  padding-right: 4rem !important;
}

.padding-1 {
  padding: 1rem;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-80px {
  width: 80px;
}

.w-160px {
  width: 160px;
}

.h-80px {
  height: 80px !important;
}

.center-vertically-horizontally {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .padding-left {
    padding-left: 1rem !important;
  }
  .padding-right {
    padding-right: 1rem !important;
  }
}
