.padding-left {
  padding-left: 4rem !important;
}
.padding-right {
  padding-right: 4rem !important;
}

.h-100 {
  height: 100%;
}

.center-vertically-horizontally {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .padding-left {
    padding-left: 1rem !important;
  }
  .padding-right {
    padding-right: 1rem !important;
  }
}
