h1 {
  font-size: 11rem !important;
  font-family: 'NBArchitect' !important;
  line-height: 11rem !important;
  color: var(--brown) !important;
  opacity: 0.85;
  position: relative;
  top: -30px;
  text-shadow: 0 0 8px var(--background);
}

h2 {
  font-family: 'Bull-regular' !important;
  font-size: 3rem !important;
  line-height: 3.25rem !important;
  color: var(--dark-brown);
  text-shadow: 0 0 8px var(--background);
}

h3 {
  font-family: 'Bull-regular' !important;
  font-size: 2rem !important;
  line-height: 1.75rem !important;
  color: var(--dark-brown);
  text-shadow: 0 0 8px var(--background);
}

h4 {
  font-family: 'Bull-mono' !important;
  font-size: 1.5rem !important;
  line-height: 1.75rem !important;
  text-shadow: 0 0 8px var(--background);
}

p {
  font-family: 'Bull-mono' !important;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.02em !important;
}

span {
  font-family: 'Bull-mono' !important;
}

a {
  font-size: 1rem;
  color: var(--black);
  text-decoration: underline;
  font-family: 'Bull-mono';
}

.breadcrumb {
  a {
    color: var(--black);
    text-decoration: none;
    font-family: 'Bull-mono';
  }
  a:hover {
    color: var(--green);
  }
}

a:hover {
  color: var(--green);
}

.font-1 {
  font-size: 1rem;
}

.fat {
  font-weight: bold;
}

@media only screen and (max-width: 1600px) {
  h1 {
    font-size: 8rem !important;
    line-height: 8.5rem !important;
    top: 0;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4.5rem !important;
    line-height: 5rem !important;
    text-align: justify;
  }

  h2 {
    font-size: 35px !important;
    line-height: 40px !important;
  }

  // h4 {
  //   font-family: 'Bull-regular' !important;
  //   font-size: 24px !important;
  //   line-height: 30px !important;
  // }

  // p {
  //   font-family: 'Bull-mono' !important;
  //   font-size: 15px !important;
  //   line-height: 21px !important;
  //   letter-spacing: 0.02em !important;
  // }

  // span {
  //   font-family: 'Bull-mono' !important;
  //   font-size: 15px !important;
  //   line-height: 21px !important;
  //   letter-spacing: 0.02em !important;
  // }

  // p.desktop {
  //   font-family: 'Bull-regular' !important;
  //   font-style: normal !important;
  //   font-weight: 400 !important;
  //   font-size: 15px !important;
  //   line-height: 21px !important;
  // }

  // a {
  //   color: var(--black);
  //   text-decoration: underline;
  //   font-family: 'Bull-mono';
  // }

  // a:hover {
  //   color: var(--green);
  // }

  .padding-left {
    padding-left: 1rem !important;
  }
  .padding-right {
    padding-right: 1rem !important;
  }
}
