.border-right {
  border-right: 1px solid var(--black);
}

.border-bottom {
  border-bottom: 1px solid var(--black);
}

.border-left {
  border-left: 1px solid var(--black);
}

.border-top {
  border-top: 1px solid var(--black);
}
