.border-right {
  border-right: 1px solid var(--black);
}

.border-bottom {
  border-bottom: 1px solid var(--black);
}

.border-left {
  border-left: 1px solid var(--black);
}

.border-top {
  border-top: 1px solid var(--black);
}

.border-top-right {
  border-right-style: solid !important;
  border-right: 1px;
  border-top-style: solid !important;
  border-top: 1px;
}

.inputOutline {
  background: var(--background);
  border: 1px var(--black) solid;
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.inputOutline0Bottom {
  max-width: 100px;
  background: var(--background);
  border: 1px var(--black) solid;
  border-radius: 1.75rem;
  margin-bottom: 0;
  padding: 0.5rem;
}

input,
textarea {
  width: 100%;
  font-family: 'Bull-mono' !important;
  background: #00000000;
  color: var(--black);
  border: none;
  outline: 0;
  font-size: 1rem !important;
}

textarea {
  padding: 0.5rem !important;
}

video {
  opacity: 0.85;
  min-height: 100vh;
  max-width: unset;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}

.pointer {
  cursor: pointer;
}
