<div class="is-flex is-flex-direction-column padding-left pt-075 is-justify-content-space-between">
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a class="breadcrumb-active" routerLink="/terms">
          {{ 'agb' | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
<div
  class="w-100 is-flex is-flex-direction-column is-justify-content-center is-align-items-center padding-1"
>
  <div class="terms margin-top-2">
    <h2>{{ 'agb' | translate }}</h2>
    <div *ngFor="let termsArticle of terms?.slice().reverse()">
      <h4>{{ termsArticle.title }}</h4>
      <div innerHtml="{{ termsArticle.intro }}"></div>
      <div *ngFor="let paragraph of termsArticle.paragraphs">
        <p>
          {{ paragraph.title }}
        </p>
        <p>
          {{ paragraph.text }}
        </p>
      </div>
    </div>
  </div>
</div>
