.forgotPasswordPage {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  text-align: center;

  padding-top: 15px;
  padding-bottom: 25px;

  h2 {
    margin-bottom: 25px;
  }

  .form {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #4F3A2C;
    background: rgba(60, 25, 30, .5);
    padding: 10px;

    input{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

}
