<div class="is-flex is-flex-direction-column w-100 padding-2 gift-box border-bottom">
  <h4 class="center">{{ 'widgets' | translate }}</h4>
  <div class="columns">
    <div class="column">
      <img src="{{ widget100x100Url }}" alt="" width="200" height="200" />
    </div>
    <div class="column">
      <p>{{ 'inputCode' | translate }}:</p>

      <p class="code">
        {{ widget100x100Code }}
      </p>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <img src="{{ widget300x100Url }}" alt="" width="600" height="200" />
    </div>
    <div class="column">
      <p>{{ 'inputCode' | translate }}:</p>
      <p class="code">
        {{ widget300x100Code }}
      </p>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <img src="{{ widget100x300Url }}" alt="" width="200" height="600" />
    </div>
    <div class="column">
      <p>{{ 'inputCode' | translate }}:</p>
      <p class="code">
        {{ widget100x300Code }}
      </p>
    </div>
  </div>
</div>
