img {
  border: 1px var(--black) solid;
}

@media only screen and (max-width: 768px) {
  .mobile-column {
    flex-direction: column !important;
    .padding-1 {
      padding: 1rem 0 !important;
    }
  }
}
