
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  padding: 15px;
  text-align: center;
}

.cart-states {
  width: 300px;
}

.date-range {
  margin-left: 15px;
  margin-right: 15px;
  input {
    font-size: 14px !important;
  }
}

.mat-mdc-progress-spinner {
  display: inline;
  top: -10px;
}
