<mat-card>
  <mat-card-content>
    <form [formGroup]="requestForm" (ngSubmit)="reload()">
      <mat-form-field class="cart-states" appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="cartStates" multiple>
          <mat-option
            *ngFor="let state of cartStatesList"
            [value]="state.value"
            >{{ state.label }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="date-range" appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input
            matStartDate
            formControlName="start"
            placeholder="Start date"
          />
          <input matEndDate formControlName="end" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
          >Invalid start date</mat-error
        >
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
          >Invalid end date</mat-error
        >
      </mat-form-field>
      <button mat-raised-button color="primary">Reload</button>
      <!-- <mat-spinner diameter="40" *ngIf="cartsLoading$ | async"></mat-spinner> -->
    </form>
  </mat-card-content>
</mat-card>
<mat-progress-bar
  mode="buffer"
  *ngIf="cartsLoading$ | async"
></mat-progress-bar>
