<div class="bg-img">
  <div class="columns header" *ngIf="loggedIn$ | async">
    <div class="column is-6 is-offset-3">
      <h2>{{ 'redeemGift' | translate }}</h2>
    </div>
  </div>

  <div class="columns" *ngIf="loggedIn$ | async">
    <div class="column is-6 is-offset-3">
      <app-profile-redeem-gift></app-profile-redeem-gift>
    </div>
  </div>

  <div class="columns header no-login-heder padding-left" *ngIf="!(loggedIn$ | async)">
    <div class="column is-8">
      <h4>{{ 'giftRedeemInfoHeader' | translate }}</h4>
    </div>
  </div>
  <div class="columns padding-left" *ngIf="!(loggedIn$ | async)">
    <div class="column is-8">
      <p>{{ 'giftRedeemInfoDescription1' | translate }}</p>
      <p>
        {{ ('giftRedeemInfoDescription2' | translate) + ' '
        }}<a routerLink="/login">{{ 'login' | translate }}</a>
      </p>
      <p>
        {{ ('giftRedeemInfoDescription3' | translate) + ' '
        }}<a routerLink="/signup">{{ 'registerHere' | translate }}</a>
      </p>
    </div>
  </div>
</div>
