.bg-img {
  background-image: url('/assets/baumscheiben.png');
  background-size: cover;
  min-height: 60vh;
}

.header {
  text-align: center;
  padding-top: 2rem;
}


.no-login-heder {
  text-align:left;
}