<div class="bg-img">
  <div class="columns header" *ngIf="loggedIn$ | async">
    <div class="column is-6 is-offset-3">
      <h2>{{ 'redeemGift' | translate }}</h2>
    </div>
  </div>

  <div class="columns" *ngIf="loggedIn$ | async">
    <div class="column is-6 is-offset-3">
      <app-profile-redeem-gift></app-profile-redeem-gift>
    </div>
  </div>

  <div class="padding-left padding-right padding-2">
    <app-not-authenticated-warning *ngIf="!(loggedIn$ | async)"> </app-not-authenticated-warning>
  </div>
</div>
