<div class="columns w-100 border-bottom">
  <div class="column columns is-half border-right padding-2">
    <div class="column is-half">
      <h2>
        {{ 'profile' | translate }}
      </h2>
      <h4>Christian</h4>
      <h4>Lingnau</h4>
    </div>
    <div class="column is-half">
      <div class="imageWrapper">
        <img src="assets/lucy.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="column columns is-half padding-2">
    <div class="column is-half">
      <h2>
        {{ 'team' | translate }}
      </h2>
      <h4>teamName</h4>
      <h4>company</h4>
    </div>
    <div class="column is-half">
      <div class="imageWrapper">
        <img src="assets/lucy.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="columns border-bottom">
  <div class="columns column is-half border-right padding-2">
    <div class="column is-half">
      <!-- <p>{{ 'rank' | translate }}: {{ (profileDetails | async).rank }}</p>
      <p>{{ 'treesPlanted' | translate }}: {{ (profileDetails | async).treesPlanted }}</p>
      <p>{{ 'CO2Trapped' | translate }}:{{ (profileDetails | async).co2Data }}</p>
      <p>{{ 'website' | translate }}: {{ (profileDetails | async).website }}</p> -->
      <p>{{ 'rank' | translate }}: 43</p>
      <p>{{ 'treesPlanted' | translate }}: 345</p>
      <p>{{ 'CO2Trapped' | translate }}: 2,768 t</p>
      <p>{{ 'website' | translate }}: skillcap.org</p>
    </div>
    <div class="column is-half">
      <p>{{ 'memberSince' | translate }}:</p>
      <p>{{ 'type' | translate }}:</p>
      <p>{{ 'organisation' | translate }}:</p>
      <p>{{ 'location' | translate }}:</p>
    </div>
  </div>
  <div class="columns column is-half padding-2">
    <div class="column is-half">
      <p>{{ 'rank' | translate }}:</p>
      <p>{{ 'treesPlanted' | translate }}:</p>
      <p>{{ 'CO2Trapped' | translate }}:</p>
      <p>{{ 'website' | translate }}:</p>
    </div>
    <div class="column is-half">
      <p>{{ 'memberSince' | translate }}:</p>
      <p>{{ 'type' | translate }}:</p>
      <p>{{ 'teamLeader' | translate }}:</p>
      <p>{{ 'members' | translate }}:</p>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-half border-right padding-2">
    <p>
      sakjdlkh lk laksjdkj lkjaklsdjlk kjgh jhgf k guzfguizhiol huizfguztf uzguigzu fuzgui hui
      zguzftuzfu zg
    </p>
  </div>
  <div class="column is-half padding-2">
    <p>
      sakjdlkh lk laksjdkj lkjaklsdjlk kjgh jhgf k guzfguizhiol huizfguztf uzguigzu fuzgui hui
      zguzftuzfu zg
    </p>
  </div>
</div>
