<div class="columns w-100">
  <div class="column is-half border-right border-bottom">
    <div class="columns w-100 padding-2 border-bottom">
      <div class="column is-half">
        <h2>
          {{ 'profile' | translate }}
        </h2>
        <h4>{{ profileDetails.userName }}</h4>
        <h4>{{ profileDetails.mail }}</h4>
      </div>
      <div class="column is-half">
        <div class="imageWrapper">
          <img src="{{ profileDetails.profileImageUrl }}" alt="" />
        </div>
      </div>
    </div>
    <div class="columns w-100 padding-2 border-bottom">
      <div class="column is-half">
        <p>{{ 'rank' | translate }}: {{ profileDetails.rank }}</p>
        <p>{{ 'treesPlanted' | translate }}: {{ profileDetails.co2Data.treesCount }}</p>
        <p
          innerHTML="{{ ('CO2Trapped' | translate) + ': ' + profileDetails.co2Data.co2 + ' t' }}"
        ></p>
        <p>{{ 'website' | translate }}: {{ profileDetails.homepage }}</p>
      </div>
      <div class="column is-half">
        <p>{{ 'memberSince' | translate }}: {{ profileDetails.regDate | date : 'dd.MM.yyyy' }}</p>
        <p>{{ 'type' | translate }}: {{ profileDetails.organizationType }}</p>
        <p>{{ 'organisation' | translate }}: {{ profileDetails.organisation }}</p>
        <p>{{ 'location' | translate }}: {{ profileDetails.location }}</p>
      </div>
    </div>
    <div class="columns padding-2">
      <p>{{ profileDetails.aboutMe }}</p>
      <!-- <p>
        asdjaksd jkdjq h kqjwdk qjdkj qhkdlh lhiu lqwiui igiuh iuh uz tf höin izizt uzgb tf ugiu
        hbzuftiz ztiuziuöhingh zrft gzhuji kjn hbgvf cde rt z jkoiuzt fdc vbhj z tf g
      </p> -->
    </div>
  </div>

  <div class="column is-half border-bottom">
    <div class="columns w-100 padding-2 border-bottom" *ngIf="teamDetails">
      <div class="column is-half">
        <h2>
          {{ 'team' | translate }}
        </h2>
        <h4>{{ profileDetails.teamName }}</h4>
        <h4>{{ profileDetails.organisation }}</h4>
      </div>
      <div class="column is-half">
        <div class="imageWrapper">
          <img src="{{ teamDetails.teamImageUrl }}" alt="" />
        </div>
      </div>
    </div>
    <div class="columns w-100 padding-2 border-bottom" *ngIf="!teamDetails">
      <div class="column is-half">
        <h2>
          {{ 'team' | translate }}
        </h2>
        <h4>{{ profileDetails.userName }} {{ 'noTeamYet' | translate }}</h4>
      </div>
      <div class="column is-half">
        <div class="imageWrapper"></div>
      </div>
    </div>
    <div class="columns padding-2 border-bottom" *ngIf="teamDetails">
      <div class="column is-half">
        <p>{{ 'rank' | translate }}: {{ teamDetails.rank }}</p>
        <p>{{ 'treesPlanted' | translate }}: {{ teamDetails.treesPlanted }}</p>
        <p innerHTML="{{ ('CO2Trapped' | translate) + ': ' + teamDetails.CO2Trapped + ' t' }}"></p>
        <p>{{ 'website' | translate }}: {{ teamDetails.website }}</p>
      </div>
      <div class="column is-half">
        <p>{{ 'memberSince' | translate }}: {{ teamDetails.rank }}</p>
        <p>{{ 'teamLeader' | translate }}: {{ teamDetails.adminName }}</p>
        <p>{{ 'members' | translate }}: {{ teamDetails.memberCount }}</p>
      </div>
    </div>
    <div class="columns padding-2">
      <!-- <p>{{ teamDetails.about }}</p> -->
    </div>
  </div>
</div>
