.footer {
  height: 70px;
  background-color: #3C191E;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;

  a {
    color: #ded8d9;
    font-size: 16px;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  a:active,
  a:visited {
    text-decoration: none;
  }


  .copyRight {
    color: #ded8d9;
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    float: right;
  }


    a:nth-of-type(3) {
      float: right;
    }

    .container{
      padding-top: 27px;
    }
}
