@media (max-width: 500px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 68px;
  //  background: #516C49;
  background-image: url("../../dist/assets/images/background_normal 2016122.jpg") ;
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

.container {
  background-color: #3C191E;
  animation: fade-in-keyframes 1s;
}

.react-grid-Container{
  width: auto!important;
}

.paddingTopBottom15 {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 100px;
}

.header-image {
  position: absolute;
  z-index: -99999;
}

.background-transparent {
  background: transparent;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.left {
  float: left;
}
.right {
  float: right;
}

.white-line{
  background: #fff;
  min-height: 5px;
}

h2,
h3,
h4,
h5 {
  font-family: Georgia,Times,Times New Roman,serif;
}

.uppercase {
  text-transform: uppercase;
}

.green {
  color: #82ab1f;
}

.no-display {
  display: none;
}

.desc-value {
  margin-bottom: 25px;
  .desc {
    display: inline-block;
    width: 40%;
    text-align: right;
    vertical-align: top;
    padding-right: 15px;

  }
  .value {
    display: inline-block;
    width: 60%;

    input[type="range"] {
      width: 400px;
      display: inline;
    }
    p {
      font-size: 18px;
      display: inline;
      vertical-align: top;
      padding-top: 15px;
    }
  }

  .map {
    width: 400px;
    display: inline-block;

  }
}

.glyphicon-tree-deciduous {
  color: #82ab1f;
}

.fadeIn {
  animation: fade-in-keyframes 0.5s;
}

.fadeOut {
  animation: fade-out-keyframes 0.1s;
}
@keyframes fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.sliding-out {
  max-height: 3000px;
  height: auto;
  opacity: 1;

  -webkit-transition: max-height 0.5s ease-in, opacity 0.6s linear;
  -moz-transition: max-height 0.5s ease-in, opacity 0.6s linear;
  -o-transition: max-height 0.5s ease-in, opacity 0.6s linear;
  -ms-transition: max-height 0.5s ease-in, opacity 0.6s linear;
  transition: max-height 0.5s ease-in, opacity 0.6s linear;
}

.sliding-in {
  max-height: 0;
  opacity: 0;

  -webkit-transition: max-height 0.5s linear, opacity 0.4s linear;
  -moz-transition: max-height 0.5s linear, opacity 0.4s linear;
  -o-transition: max-height 0.5s linear, opacity 0.4s linear;
  -ms-transition: max-height 0.5s linear, opacity 0.4s linear;
  transition: max-height 0.5s linear, opacity 0.4s linear;
}

.scaleResult {
  -webkit-animation: scaleResult 0.3s;
  /* Safari 4+ */
  -moz-animation: scaleResult 0.3s;
  /* Fx 5+ */
  -o-animation: scaleResult 0.3s;
  /* Opera 12+ */
  animation: scaleResult 0.3s;
  /* IE 10+, Fx 29+ */
}
@-webkit-keyframes scaleResult{
  from { transform: none; }
  50% { transform: scale(1.1); }
  to { transform: none; }
}
@-moz-keyframes scaleResult{
  from { transform: none; }
  50% { transform: scale(1.1); }
  to { transform: none; }
}
@-o-keyframes scaleResult{
  from { transform: none; }
  50% { transform: scale(1.1); }
  to { transform: none; }
}
@keyframes scaleResult{
  from { transform: none; }
  50% { transform: scale(1.1); }
  to { transform: none; }
}
