@media (min-width: 0px) {
  .navbar-left {
    float: left!important;
  }
}
@media (min-width: 0px) {
  .navbar-toggle {
    display: block;
  }
}

body {
  padding-top: 68px;
  background-color: #516C49;
}

.container {
  background-color: #3C191E;
}
.paddingTopBottom15 {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 100px;
}

.header-image {
  position: absolute;
  z-index: -99999;
}

.background-transparent {
  background: transparent;
}

.align-center {
  text-align: center;
}
