.project {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;

  .carousel {
    padding-left: 0;
    padding-right: 0;

    .imageDescription {
      text-align: center;
      background-color: #3C191E;
      height: 50px;
      font-size: 18px;
      padding-top: 10px;

      .date {
        font-family: Georgia,Times,Times New Roman,serif;
        color: #9e8c8f;
      }

      .text {
        color: #fff;
      }
    }
  }

  h2 {
    text-align: center;
    font-family: Georgia,Times,Times New Roman,serif;
    margin-top: 30px;
  }

  svg {
    height: 100px;
    border-radius: 50%;
    border-color: #82ab1f;
    border-style: solid;
    border-width: 5px;
    padding: 1px;
  }

  .greenValue {
    color: #82ab1f;
    font-size: 35px;
    font-weight: bold;
  }

  .tableText {
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 18px;
  }

  table {
    margin: 30px auto;
    line-height: 140%;

    td {
      width: 220px;
    }

    .midTd {
      text-align: center;
    }
  }

  .floatRight {
    float: right;
  }

  .description {
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid;
    margin-bottom: 15px;
  }
  .plantLink,
  .plantLink:active,
  .plantLink:visited {
    color: #fff;
    text-decoration: none;
    text-align: center;
    height: 50px;
    div {
      background-color: #3C191E;
      margin-bottom: 15px;
      margin-left: 60px;
      margin-right: 60px;
      padding-top: 5px;
      padding-bottom: 5px;

    }
    img {
      background-color: #fff;
    }

    span {
      margin-left: 10px;
    }
  }
  .plantLink:hover {
    color: #82ab1f;
    text-decoration: none;

    img {
      background-color: #82ab1f;
    }
  }

  .lightBlue {
    background-color: #51a8be;
  }

  .violett {
    background-color: #813d59;
  }
  .grey {
    background-color: #737373;
  }

}
