.rankingPage {

  background-color: #fff;

  padding-bottom: 25px;

  .linkTableDiv {
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
    border-style: none none solid none;
    border-width: 1px;
    padding-bottom: 25px;
  }

  .linkTable {
    width: 100%;

    td {
      width: 172px;
    }
    td:nth-of-type(4) {
      width: 200px;
    }
    td:nth-of-type(5) {
      text-align: right;
      padding-right: 110px;
    }
    td:nth-of-type(6) {
      text-align: right;
      padding-right: 80px;
    }

    .btn-circle {
      color: #000;
      background-color: #000;

      background-image: none;
      width: 25px;
      height: 25px;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 50%;
      border-width: 0;

      i {
        top: -4px;
        left: -3px;
        color: #fff;
        margin-right: 10px;
      }

      span {
        font-size: 16px;
      }
    }
    .btn-circle:hover {
      background-color: #82ab1f;
      span {
        color: #82ab1f;
      }
    }
    .btn-circle:focus {
      outline: none;
    }

  }

  h2 {
    text-align: center;
    font-family: Georgia,Times,Times New Roman,serif;
    margin-bottom: 25px;
  }
  div:nth-of-type(11) {
    margin-bottom: 40px;
  }

  .rankingItem {
    padding-top: 15px;
    margin-right: 25px;
  }

  .smallRankingItem {
    padding-top: 5px;
    margin-right: 25px;

    table {
      width: 100%;
      td:nth-of-type(1) {
        width: 70px;
      }
      td:nth-of-type(2) {
        width: 100px;
        text-align: center;
        padding-right: 30px;
        a,
        a:active,
        a:visited {
          color: #000;
          text-decoration: none;
        }
        a:hover {
          font-weight: bold;
        }
      }
      td:nth-of-type(3) {
        p {

          background-color: #82ab1f;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .smallRankingNumber {
    float: left;
    min-width: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: right;
    margin-right: 25px;
    margin-left: 25px;
  }

  .rankingNumber {
    float: left;
    min-width: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: right;
    padding-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
  }

  .ranking-img {
    float: left;
    border-radius: 50%;
    border-color: #b2b2b2;
    border-style: solid;
    border-width: 4px;
  }

  .rankingSummary {
    margin-left: 170px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #fff;
    a,
    a:active,
    a:visited {
      color: #000;
      text-decoration: none;
      font-weight: bold;
    }

    p {
      margin-bottom: 0;
    }
    p:nth-of-type(1) {
      background-color: #82ab1f;
    }
    p:nth-of-type(2) {
      background-color: #cccccc;
    }
  }

  .stats {
    font-weight: bold;
  }

  .text {
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 12px;
  }

}
