.ranking {
  p {
    font-size: 16px;
  }

  .rankingSummary {
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 50px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #fff;
  }
  div:nth-of-type(5) {
    div {
      border-style: none;
      padding-bottom: 15px;
    }
  }

  .ranking-img {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    border-width: 4px;
    background-color: #fff;
  }

  .name {
    color: #fff;
  }

  .stats {
    color: #000;
  }
  .stats:nth-of-type(3n+4) {
    padding-left: 10px;
  }
}

.timeRanking {
  p {
    font-size: 16px;
  }

  .rankingSummary {
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 50px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #fff;
  }
  div:nth-of-type(5) {
    div {
      border-style: none;
      padding-bottom: 15px;
    }
  }

  .ranking-img {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    border-width: 4px;
    background-color: #fff;
  }

  .name {
    color: #fff;
  }

  .stats {
    color: #000;
  }
  .stats:nth-of-type(4) {
    padding-left: 70px;
  }
}

.smallHeader {

  h2 {
    margin-left: 0px;
    padding-left: 0px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-family: Georgia,Times,Times New Roman,serif;
  }
}
