.teaser {
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;

  h2 {
    padding-left: 20px;
    color: #fff;
    font-family: Georgia,Times,Times New Roman,serif;
  }
  > * {
    padding: 0;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 100%;
    h3 {
      color: #fff;
      margin-left: 20px;
      font-family: Georgia,Times,Times New Roman,serif;
    }

    p {
      margin-left: 20px;
    }
    .more,
    .more:active,
    .more:visited {
      color: #fff;
      text-decoration: none;
    }
    .more:hover {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }

  }
  > *:nth-child(1) {
    background-color: #bfbfbf;
    .leaflet-container {
      height: 285px;
      width: 100%;
    }
  }
  > *:nth-child(2) {
    background-color: #737373;
  }

}
