.projectOffer {
  background: #fff;
  margin-left: 0;
  margin-right: 0;

  h2 {
    font-family: Georgia,Times,Times New Roman,serif;
  }
  p {
    font-size: 16px;
  }

  .bold {
    font-weight: bold;
  }

  .offerForm {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #e5e5e5;
    padding-top: 15px;
    margin-bottom: 30px;

    table {
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      input[type=text]{
        width: 250px;
      }

      td:nth-child(1){
        width: 30%
      }

      td:nth-child(2){
        width: 70%
      }


      tr {
        height: 40px;
      }
      tr:nth-child(4) {
        height: 5px;
        td {
          background-color: #fff;
        }
      }
      tr:nth-child(9) {
        vertical-align: top;
        height: 125px;
      }
      tr:nth-child(10) {
        vertical-align: top;
        height: 55px;
      }
      tr:nth-child(11) {
        vertical-align: top;
          height: 120px;
      }
      tr:nth-child(12) {
        vertical-align: top;
          height: 55px;
      }

    }
  }

  .mailDiv {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    span:nth-child(1) {
      font-size: 18px;
    }
    span:nth-child(2) {
      vertical-align: text-bottom;
    }
  }
  .mailLink,
  .mailLink:active,
  .mailLink:visited {
    color: #000;
    text-align: center;
    text-decoration: none;
    span:nth-child(1) {
      margin-right: 5px;
    }
  }
  .mailLink:hover {
    font-weight: bold;
  }

  .thanks{
    text-align: center;
  }
}
