@media (max-width: 750px) {
  .projectOffer {
    .offerForm {
      width: 100%!important;
    }
  }
}
@media (max-width: 610px) {
  .projectOffer {
    font-size: 12px;
    .col-md-12 {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .offerForm {

      table {
        width: 98%!important;
        textarea {
          width: 200px!important;
        }
        input[type=text] {
          width: 200px!important;
        }
        td:nth-child(1) {
          width: 50%!important;
        }
        td:nth-child(2) {
          width: 50%!important;
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .projectOffer {
    .offerForm {
      font-size: 10px;
      table {
        textarea {
          width: 120px!important;
        }
        input[type=text] {
          width: 120px!important;
        }
      }
    }
  }
}

.projectOffer {
  background-color: #ffffff;
  margin-left: 0;
  margin-right: 0;

  .col-md-12 {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .offerForm {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  .thanks {
    text-align: center;
  }
}
