**/bin
**/build
.gradle
.project
.classpath
.settings
weplantaforest.h2.db
weplantaforest.trace.db
/.idea
.DS_Store
# Don't add processed ui files except the dev related files like HAL-Browser
src/main/webapp/npm-debug.log
npm-debug.log*
src/main/resources/application-staging-secret.properties
weplantaforest.iml
ui/node_modules/
cscope.in.out
cscope.out
cscope.po.out
env.vim
tags
files.list
.tmp
.lvimrc
temp
application-private.properties
*.swp
ui/dist/js/
/ui/dist/index.html
.java.tags
.jsx.tags
package-lock.json
*.swo
*-secret.properties

ui/.vscode/settings.json
.vscode/settings.json
