/bin
/build
.gradle
.project
.classpath
.settings
weplantaforest.h2.db
weplantaforest.trace.db
/.idea

# Don't add processed ui files except the dev related files like HAL-Browser
!/src/main/resources/static/dev
/src/main/resources/static
