.pricetag {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.columns {
  font-size: 1rem;
  font-family: 'Bull-mono' !important;
}

.column {
  padding: 0 !important;
}

.image-wrapper {
  max-width: 90px;
  max-height: 90px;
}

@media only screen and (max-width: 768px) {
  .slider-row {
    flex-direction: column;
    margin-top: 1rem;
  }
}
