app-custom-planting {
  div:first-child {
    padding-left: 0!important;
    border-bottom: 0!important;
  }
}

.project-planting {
  border-bottom: 1px solid var(--black);
}

.back-link {
  margin-top: 2rem;
}


@media only screen and (max-width: 768px) {
  .slider-row {
    flex-direction: column;
    app-button {
      margin-top: 1rem;
    }
  }
}
