<div class="teamPage" *ngIf="teamDetails$ | async">
  <div class="columns">
    <div class="column is-half border-right">
      <nav class="breadcrumb padding-left-2 padding-top-1">
        <ul>
          <li>
            <a routerLink="/">
              {{ 'startPage' | translate }}
            </a>
          </li>
          <li>
            <a class="breadcrumb-active">
              {{ (teamDetails$ | async)?.teamName }}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <app-team-header [isTeampage]="true" [teamDetails]="teamDetails$ | async"></app-team-header>
  <app-team-details [teamDetails]="teamDetails$ | async"></app-team-details>
  <div class="border-bottom"></div>
  <app-team-trees></app-team-trees>
  <app-team-carousel [teamDetails]="teamDetails$ | async"></app-team-carousel>
  <div class="border-bottom"></div>
  <app-newsletter> </app-newsletter>
</div>
