<app-team-info *ngIf="teamDetails$ | async" [teamDetails]="teamDetails$ | async"></app-team-info>

<!-- <div
  class="is-flex is-flex-direction-column w-100 padding-2"
  *ngIf="(teamDetails$ | async)?.members.length > 0"
>
  <h4 class="center">{{ 'members' | translate }}</h4>
  <div class="columns is-flex is-flex-direction-row is-multiline">
    <app-carousel-item
      *ngFor="let member of (teamDetails$ | async)?.members"
      [member]="{
        name: member.projectName,
        amount: member.amount,
        imageUrl: member.treeTypeImageUrl,
        linkTo: member.projectLink
      }"
      class="column is-one-quarter"
    >
    </app-carousel-item>
  </div>
</div> -->
<app-newsletter> </app-newsletter>
