.statisticsPage {
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  h4 {
    text-align: left;
  }

  select{
    margin-bottom: 10px;
  }

  .tree-chart {
    text-align: center;
  }
}
