<div class="form-wrapper">
  <form [formGroup]="articleForm">
    <div class="columns">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Artikel-Typ</mat-label>
          <mat-select formControlName="articleType">
            <mat-option *ngFor="let articleType of articleTypes" [value]="articleType">{{
              articleType
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Sprache</mat-label>
          <mat-select formControlName="lang">
            <mat-option *ngFor="let language of languages" [value]="language">{{
              language
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-checkbox formControlName="visible">sichtbar</mat-checkbox>
      </div>
    </div>
    <div class="columns">
      <div class="column is-8">
        <mat-form-field class="title-field">
          <input matInput placeholder="Titel" name="title" formControlName="title" />
        </mat-form-field>
      </div>
      <div class="column is-4">
        <mat-form-field>
          <mat-label>Datum</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="createdOn" />
          <mat-hint></mat-hint>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>OK</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="columns">
      <app-text-editor class="w-100" [control]="this.articleForm.get('intro')"></app-text-editor>
    </div>
    <div class="spacer"></div>
    <div class="columns">
      <div class="column is-6">
        <img src="{{ imageSrc }}" width="400" height="300" *ngIf="imageSrc" />
        <app-no-img-box *ngIf="!imageSrc"></app-no-img-box>
        <mat-form-field class="title-field" *ngIf="imageSrc">
          <input
            matInput
            placeholder="Bildunterschrift"
            name="caption"
            formControlName="imageDescription"
          />
        </mat-form-field>
      </div>
      <div class="column is-1">
        <input
          #csvInput
          hidden="true"
          type="file"
          onclick="this.value=null"
          (change)="imageChanged($event)"
          accept=".png, .jpg, .jpeg"
        />
        <button mat-raised-button color="primary" (click)="csvInput.click()">Bild</button>
      </div>
      <div class="column is-3"></div>
    </div>
    <div class="column is-12">
      <button mat-raised-button color="primary" (click)="addParagraph()" class="save-btn">
        Absatz hinzufügen
      </button>
    </div>
    <app-content-paragraph
      *ngFor="let paragraph of articleForm.get('paragraphs')['controls']"
      [paragraph]="paragraph"
      (deleteParagraphClicked)="deleteParagraph($event)"
    ></app-content-paragraph>
  </form>
</div>
