.project-tile {
  height: 96% !important;
  width: 600px;
  overflow: hidden;
  white-space: pre-wrap;
  border: 1px solid var(--black);
  cursor: pointer;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.bar {
  margin: 2rem auto 1rem auto;
  background: var(--background);
  border: 1px solid var(--black);
  height: 18px;
  width: 100%;
  border-radius: 10px;
}

.inner-bar {
  background: var(--green);
  min-width: 18px;
  height: 18px;
  border-radius: 9px;
}

.imageWrapper {
  display: flex;
  align-items: center; /* vertical */
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 300px;
  img {
    height: auto;
    width: 100%;
  }
}

.tile-body {
  font-family: 'Bull-mono';
  padding: 1rem;
  text-align: left;

  h4 {
    text-decoration: underline;
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 8;
    -webkit-line-clamp: 8; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

.stats {
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .project-tile {
    height: 95% !important;
    max-width: 275px;
    max-height: 550px;
  }

  .stats {
    flex-direction: column;
  }
}
