<div class="project-tile" (click)="routeToProject()">
  <div class="image-wrapper">
    <img src="{{ imgUrl }}" alt="{{ projectReport.projectName }}" />
  </div>
  <div class="tile-body">
    <h4>{{ projectReport.projectName }}</h4>
    <div class="description" innerHtml="{{ description }}"></div>
    <div class="bar">
      <div class="inner-bar" [style.width.%]="progress"></div>
    </div>
    <div class="is-flex stats is-justify-content-space-between">
      <p>{{ 'alreadyPlanted' | translate }} {{ projectReport.amountOfPlantedTrees }}</p>
      <p>{{ 'target' | translate }} {{ projectReport.amountOfMaximumTreesToPlant }}</p>
    </div>
  </div>
</div>
