form {
  padding-top: 4rem;
  max-width: 400px;
  z-index: 2;
  background: var(--background);
  box-shadow: 0 0 25px 35px var(--background);
  border-radius: 2rem;
}

.breadcrumb {
  background: var(--background);
  box-shadow: 0 0 25px 35px var(--background);
  border-radius: 2rem;
}

button {
  z-index: 2;
}

.login {
  height: calc(100vh - 80px);
  background-image: url(/assets/baumscheiben.jpg);
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .login {
    background-position: right;
    justify-content: flex-end;
    padding-top: initial;
  }

  form {
    padding-top: 1rem;
  }
}
