<video autoplay id="myVideo">
  <source src="assets/animation.mp4" type="video/mp4" />
</video>
<div class="login is-flex padding-1 is-flex-direction-column w-100 is-align-items-center">
  <form
    class="w-100 is-flex is-flex-direction-column"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-error *ngIf="loginError$ | async">
      Benutzername und Passwort stimmen nicht überein
    </mat-error>
    <div class="inputOutline">
      <input placeholder="Email/Username" name="name" required formControlName="name" />
    </div>
    <div class="inputOutline">
      <input
        type="password"
        placeholder="Password"
        name="password"
        required
        formControlName="password"
      />
    </div>
    <div class="center">
      <app-button [label]="'Login'"></app-button>
      <br />
      <br />
      <a routerLink="/forgotPassword">Passwort vergessen?</a>
    </div>
  </form>
</div>
