form {
  padding-top: 10rem;
  max-width: 400px;
  z-index: 2;
}

button {
  z-index: 2;
}

.login {
  height: calc(100vh - 80px);
  background-image: url(/assets/baumscheiben.png);
  background-size: cover;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  .login {
    background-position: right;
    justify-content: flex-end;
    padding-top: initial;
  }

  form {
    padding-bottom: 2rem;
  }
}
