<div class="login is-flex padding-1 is-flex-direction-column w-100 is-align-items-center">
  <form
    class="w-100 is-flex is-flex-direction-column"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <h2 *ngIf="welcomePage">{{ 'welcomeActivation' | translate }}</h2>
    <mat-error *ngIf="loginError$ | async">
      {{ 'wrongLoginCredentials' | translate }}
    </mat-error>
    <div class="inputOutline">
      <input placeholder="Email/Username" name="name" required formControlName="name" />
    </div>
    <div class="inputOutline">
      <input
        type="password"
        placeholder="Password"
        name="password"
        required
        formControlName="password"
      />
    </div>

    <div *ngIf="welcomePage" class="center">
      <app-button [label]="'welcomeButton' | translate"></app-button>
    </div>
    <div *ngIf="!welcomePage" class="center">
      <app-button [label]="'Login' | translate"></app-button>
      <br />
      <br />
      <a routerLink="/forgotPassword">{{ 'forgotPassword' | translate }}</a>
      <br />
      <br />
      <br />
      <p>
        {{ 'noAccountYet' | translate }}
        <br />
        <a routerLink="/signup">{{ 'registerHere' | translate }}</a>
      </p>
    </div>
  </form>
</div>
