<div class="row">
  <div class="col-12">
    <button
      mat-raised-button
      color="primary"
      (click)="saveEvent()"
      class="save-btn"
    >
      save
    </button>
  </div>
</div>
<div class="row">
  <div class="form-wrapper">
    <form [formGroup]="eventForm">
      <div class="row">
        <div class="col-4">
          <mat-form-field class="title-field">
            <input
              matInput
              placeholder="Name"
              name="name"
              formControlName="name"
            />
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="fill">
            <input type="text"
            placeholder="User"
            matInput
            [formControl]="filterControl"
            [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let user of filteredOptions" [value]="user">
                {{user.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="fill">
            <input type="text"
            placeholder="Team"
            matInput
            [formControl]="teamFilterControl"
            [matAutocomplete]="autoTeam">
            <mat-autocomplete #autoTeam="matAutocomplete">
              <mat-option *ngFor="let team of teamFilteredOptions" [value]="team">
                {{team.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
