.svg-icon {
  path {
    fill: var(--green);
  }
}

.svg-icon:active {
  cursor: pointer;
  path {
    fill: var(--black);
  }
}

@media (hover: hover) {
  .svg-icon:hover {
    cursor: pointer;
    path {
      fill: var(--black);
    }
  }
}
