<div class="columns w-100 padding-2 border-bottom" *ngIf="_teamDetails">
  <div class="column is-half">
    <h2>
      {{ 'team' | translate }}
    </h2>
    <h4>{{ _teamDetails.teamName }}</h4>
  </div>
  <div class="column is-half">
    <div class="imageWrapper">
      <img src="{{ _teamDetails.teamImageUrl }}" alt="" />
    </div>
  </div>
</div>
<div class="columns w-100 padding-2 border-bottom" *ngIf="!_teamDetails">
  <div class="column is-half">
    <h2>
      {{ 'team' | translate }}
    </h2>
    <h4>{{ _teamDetails.userName }} {{ 'noTeamYet' | translate }}</h4>
  </div>
  <div class="column is-half">
    <div class="imageWrapper"></div>
  </div>
</div>
<div class="columns padding-2 border-bottom" *ngIf="_teamDetails">
  <div class="column is-half">
    <p>{{ 'rank' | translate }}: {{ _teamDetails.rank }}</p>
    <p>{{ 'treesPlanted' | translate }}: {{ _teamDetails.co2Data?.treesCount }}</p>
    <p innerHTML="{{ ('CO2Trapped' | translate) + ': ' + _teamDetails.co2Data?.co2 + ' t' }}"></p>
  </div>
  <div class="column is-half">
    <p>{{ 'memberSince' | translate }}: {{ _teamDetails.regDate | date : 'dd.MM.yyyy' }}</p>
    <p>{{ 'teamLeader' | translate }}: {{ _teamDetails.adminName }}</p>
    <p>{{ 'members' | translate }}: {{ _teamDetails.memberCount }}</p>
  </div>
</div>
