<div class="is-flex is-flex-direction-column border-bottom">
  <div
    class="padding-left padding-right padding-top-2 padding-bottom-2"
    *ngIf="proposalFailed$ | async"
  >
    <h3>{{ 'noTreesToPlant' | translate }}</h3>
  </div>
  <div
    class="padding-left padding-right padding-top-2 padding-bottom-2"
    *ngIf="!(proposalFailed$ | async)"
  >
    <p class="font-1">{{ 'proposalOrIndividualText' | translate }}</p>
    <div class="is-flex slider-row">
      <div class="custom-slider column is-7">
        <ngx-slider
          [(value)]="value"
          [options]="sliderOptions"
          (valueChange)="getProposal($event)"
        ></ngx-slider>
      </div>
      <div class="is-flex w-100 slider-row is-align-items-center is-flex-direction-row-reverse">
        <app-button
          label="{{ 'intoPlantbag' | translate }}"
          (click)="putIntoPlantbag()"
          *ngIf="showPutIntoPlantbagButton"
        ></app-button>
        <app-button
          label="{{ 'toPlantBag' | translate }}"
          routerLink="/plantbag"
          *ngIf="showGoToPlantbagButton"
        ></app-button>
        <span class="font-1 pricetag">
          {{ ('price' | translate) + ': ' + (proposalPrice$ | async) + ' €' }}
        </span>
      </div>
    </div>

    <div class="is-flex is-flex-direction-column column is-8 margin-top-2">
      <div class="columns header">
        <div class="column">
          <div class="image-wrapper"></div>
        </div>
        <div class="column">
          <b> {{ 'treeType' | translate }} </b>
        </div>
        <div class="column">
          <b> {{ 'amount' | translate }} </b>
        </div>
        <div class="column">
          <b> {{ 'project' | translate }} </b>
        </div>
        <div class="column">
          <b> {{ 'partialPrice' | translate }} </b>
        </div>
      </div>
      <app-plantproposal-preview-row
        *ngFor="let item of this.simpleProposal?.plantItems"
        [plantItem]="item"
      >
      </app-plantproposal-preview-row>
    </div>
  </div>
</div>
