.image-wrapper {
  max-width: 90px;
  max-height: 90px;
}

.column {
  padding: 0 !important;
}

.columns {
  font-size: 1rem;
  font-family: 'Bull-mono' !important;
}

.slider-row {
  flex-direction: row-reverse;
  padding: 1rem;

  .pricetag {
    padding-bottom: 0rem;
    padding-right: 1rem;
  }
}

.w-100 {
  max-width: 1200px;
}

@media only screen and (max-width: 768px) {
  .proposal-row {
    flex-direction: column;
  }
  .slider-row {
    flex-direction: column-reverse;
    padding: 0 0 1rem 0;

    .pricetag {
      padding-bottom: 1rem;
      padding-right: 0;
    }
  }
}

