.slider-row {
  flex-direction: row;
}

.image-wrapper {
  max-width: 90px;
  max-height: 90px;
}

.column {
  padding: 0 !important;
}

.columns {
  font-size: 1rem;
  font-family: 'Bull-mono' !important;
}

.pricetag {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

ngx-slider.animate .ngx-slider-bubble {
  display: none;
}

::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    // background: #ffe4d1;
    background: var(--black);
    height: 1px;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 15px;
    height: 15px;
    top: auto; /* to remove the default positioning */
    // bottom: 3;
    bottom: -3px;
    border-width: 1px;
    border-style: solid;
    background-color: var(--green);
    border-radius: 50%;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    // color: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    margin-left: 15px;
    width: 0px;
    height: 0px;
  }
  .custom-slider .ngx-slider .ngx-slider-tick:last-child() {
    margin-left: 0px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    // background: orange;
  }
  .custom-slider .ngx-slider .ngx-slider-tick-legend {
    white-space: nowrap;
  }
}

@media only screen and (max-width: 768px) {
  .slider-row {
    flex-direction: column;
    margin-top: 1rem;
  }
}
