<button *ngIf="!receiptId" mat-icon-button color="primary" (click)="createAndSendReceipt()" matTooltip="create&send receipt">
  <mat-icon aria-hidden="false">send</mat-icon>
</button>
<button *ngIf="receiptId" mat-icon-button color="primary" (click)="downloadReceipt()" matTooltip="download receipt">
  <mat-icon aria-hidden="false">file_download</mat-icon>
</button>
<button mat-icon-button color="primary" (click)="loadCartDetails()" matTooltip="load cart details">
  <mat-icon aria-hidden="false">assignment</mat-icon>
</button>
