.projectsPage {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;

  h3 {
    text-align: center;
  }

  .bottom{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }

  .active-projects {
    margin-bottom: 15px;
    .border-top{
      border-width: 1px;
      border-style: solid none none none;
    }
    .project {
      border-width: 1px;
      border-style: solid none none none;
      padding-top: 3px;
      padding-bottom: 3px;
      div {
        display: inline-block;
      }
      .projectName {
        width: 30%;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
      }
      .full {
        width: 30%;
        text-align: center;
      }
      .amount-of-trees {
        width: 20%;
        font-weight: bold;
        text-align: center;
      }
      .link {
        width: 20%;
        text-align: right;
      }
    }
  }

  .completed-projects {
    margin-bottom: 15px;
    .border-top{
      border-width: 1px;
      border-style: solid none none none;
    }
    .project {
      border-width: 1px;
      border-style: solid none none none;
      padding-top: 3px;
      padding-bottom: 3px;
      div {
        display: inline-block;
      }
      .projectName {
        width: 30%;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
      }
      .full {
        width: 30%;
        text-align: center;
      }
      .amount-of-trees {
        width: 20%;
        font-weight: bold;
        text-align: center;
      }
      .link {
        width: 20%;
        text-align: right;
      }
    }
  }
}
