.projectsPage {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;

  h3 {
    text-align: left;
  }

  .bottom{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }

  .active-projects {
    margin: 15px 0px;
    .border-top{
      border-width: 1px;
      border-style: solid none none none;
    }
    .project {
      border-width: 1px;
      border-style: solid none none none;
      padding: 7px 0px;
      div {
        display: inline-block;
        height: 20px;
      }
      .projectName {
        width: 30%;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        vertical-align: top;
      }
      .amount-of-trees {
        width: 40%;
        font-weight: bold;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-color: #82AB1F;
        position: relative;
        p{
          background-color: #82AB1F;
          height: 18px;
          margin: 0;
          position: absolute;
          left: 0;
        }
        .text{
          position: absolute;
          left: 0;
          text-align: center;
          width: 100%;
        }
      }
      .link {
        width: 30%;
        text-align: right;
        vertical-align: top;
      }
    }
  }

  .completed-projects {
    margin: 15px 0px;
    .border-top{
      border-width: 1px;
      border-style: solid none none none;
    }
    .project {
      border-width: 1px;
      border-style: solid none none none;
      padding: 10px 0px;
      div {
        display: inline-block;
      }
      .projectName {
        width: 30%;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
      }
      .full {
        width: 40%;
        font-weight: bold;
        text-align: center;
      }
      .link {
        width: 30%;
        text-align: right;
      }
    }
  }
}
