<div class="form-wrapper">
  <div>
    <form [formGroup]="projectForm">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input
              matInput
              placeholder="Name"
              name="name"
              formControlName="name"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-checkbox formControlName="visible">visible</mat-checkbox>
        </div>
        <div class="col">
          <mat-checkbox formControlName="shopActive">shopActive</mat-checkbox>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-4">
          <img src="{{ imageSrc }}" width="400" height="300" />
        </div>
        <div class="col-2">
          <input
          #csvInput
          hidden="true"
          type="file"
          onclick="this.value=null"
          (change)="imageChanged($event)"
          accept=".png, .jpg, .jpeg"
        />
        <button mat-raised-button color="primary" (click)="csvInput.click()">
          image
        </button>    
        </div>
        <div class="col-6"></div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-2">
          Description(De)
        </div>
        <div class="col-10">
          <app-text-editor
            [control]="this.projectForm.get('descriptionDe')"
          ></app-text-editor>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-2">
          Description(En)
        </div>
        <div class="col-10">
          <app-text-editor
            [control]="this.projectForm.get('descriptionEn')"
          ></app-text-editor>
        </div>
      </div>
    </form>
  </div>
</div>
