.tools {
  background-color: #e5e5e5;
  margin-left: 0;
  margin-right: 0;

  img {
    margin-bottom: 15px;
  }

  p {
    font-size: 12px;
  }

  .desc {
    padding-left: 5px;
  }

  .iconButton {
    margin-bottom: 10px;
  }
  .iconButton:hover {
    .glyphicon {
      color: #82AB1F;
    }
    a {
      color: #82AB1F;
    }
  }

  .chosen {
    .glyphicon {
      color: #82AB1F;
    }
    a {
      color: #82AB1F;
    }
  }

  .content {
    min-height: 220px;
    border-style: solid none solid none;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .certPlantBag {
      background-color: #fff;
      display: inline-block;
      padding: 5px;
      margin: 5px;
      div {
        display: table-cell;
      }
      div:nth-of-type(1) {
        vertical-align: middle;
        padding-right: 5px;
      }
      p {
        margin: 0;
      }
    }

    .receipt {
      display: inline-block;
      margin: 5px;
      padding: 10px;
      a,
      a:active,
      a:visited {
        color: #000;
        text-decoration: none;
      }
    }
    .receipt:hover {
      background-color: #fff;
    }
    .banner {
      .typeChoser {
        margin-top: 15px;
        text-align: center;
        div {
          display: inline-block;
        }
        div:nth-child(1) {
          margin-right: 40px;
        }
        select {
          width: 70px;
        }
        p {
          display: inline-block;
          width: 60px;
        }
      }
      .bannerImages-high {
        .image{
          display: inline-block;
          text-align: center;
          width: 25%;
        }
      }

      .banner-images-cross {
        .image {
          display: inline-block;
          width: 50%;
          .radioButton{
            margin-right: 10px;
          }
        }
      }

      .codeSnippet {
        padding-top: 10px;
        border-width: 1px;
        border-style: solid none none none;
        text-align: center;
        p {
          display: inline;
          vertical-align: top;
          margin-right: 5px;
        }
      }
    }

    .widgets {
      .typeChoser {
        margin-top: 15px;
        text-align: center;
        div {
          display: inline-block;
        }
        div:nth-child(1) {
          margin-right: 40px;
        }
        select {
          width: 70px;
        }
        p {
          display: inline-block;
          width: 60px;
        }
      }
      .widgets-images-high {
        .image{
          display: inline-block;
          text-align: center;
          width: 25%;
        }
      }

      .widgets-images-cross {
        .image {
          display: inline-block;
          width: 50%;
          .radioButton{
            margin-right: 10px;
          }
        }
      }

      .codeSnippet {
        padding-top: 10px;
        border-width: 1px;
        border-style: solid none none none;
        text-align: center;
        p {
          display: inline;
          vertical-align: top;
          margin-right: 5px;
        }
      }
    }
  }
}
