.tools {
  background-color: #e5e5e5;
  margin-left: 0;
  margin-right: 0;

  img {
    margin-bottom: 15px;
  }

  p {
    font-size: 12px;
  }

  .desc {
    padding-left: 5px;
  }

  .iconButton {
    margin-bottom: 10px;
  }
  .iconButton:hover {
    .glyphicon {
      color: #82AB1F;
    }
    a {
      color: #82AB1F;
    }
  }

  .chosen {
    .glyphicon {
      color: #82AB1F;
    }
    a {
      color: #82AB1F;
    }
  }

  .content {
    min-height: 220px;
    border-style: solid none solid none;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .certPlantBag {
      background-color: #fff;
      display: inline-block;
      padding: 5px;
      margin: 5px;
      div {
        display: table-cell;
      }
      div:nth-of-type(1) {
        vertical-align: middle;
        padding-right: 5px;
      }
      p {
        margin: 0;
      }
    }

    .receipt {
      display: inline-block;
      margin: 5px;
      padding: 10px;
      a,
      a:active,
      a:visited {
        color: #000;
        text-decoration: none;
      }
    }
    .receipt:hover {
      background-color: #fff;
    }
    .banner {
      .typeChoser {
        div {
          margin-bottom: 5px;
        }
        select {
          width: 70px;
        }
        p {
          display: inline-block;
          width: 60px;
        }
      }
      .bannerImages {
        div {
          display: inline-block;
          text-align: center;
          width: 25%;
          font-size: 12px;
        }

        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
          border-radius: 0;
          font-size: 1em;
          width: 100%;
        }

        /* graceful degradation for ie8 */
        input[type='radio'] {
          width: auto;
          float: left;
          margin-right: 0.75em;
          background: transparent;
          border: none;
        }
        input[type='radio']:checked,
        input[type='radio']:not(:checked) {
          background: transparent;
          position: relative;
          visibility: hidden;
          margin: 0;
          padding: 0;
        }

        input[type='radio'] + label {
          cursor: pointer;
        }
        input[type='radio']:checked + label::before,
        input[type='radio']:not(:checked) + label::before {
          content: ' ';
          display: inline-block;
          width: 20px;
          height: 20px;
          position: relative;
          top: 4px;
          background: white;
          margin-right: 3px;
          box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
        }
        input[type=radio]:checked + label::before,
        input[type=radio]:not(:checked) + label::before {
          border-radius: 30px;
        }
        input[type='radio']:hover + label::before {
          background: #fff;
          box-shadow: inset 0 0 0 3px #82ab1f;
        }
        input[type='radio']:checked + label::before {
          background: #82ab1f;

          box-shadow: inset 0 0 0 3px #fff;
        }
      }

      .codeSnippet {
        margin-top: 10px;
        padding-top: 10px;
        border-width: 1px;
        border-style: solid none none none;
        text-align: center;
        p {
          display: inline;
          vertical-align: top;
          margin-right: 5px;
        }
      }
    }
  }
}
