.tools {
  background-color: #e5e5e5;
  margin-left: 0;
  margin-right: 0;

  img {
    margin-bottom: 15px;
  }

  p {
    font-size: 12px;
  }

  .desc {
    padding-left: 5px;
  }

  .iconButton {
    margin-bottom: 10px;
  }
  .iconButton:hover {
    .glyphicon {
      color: #82AB1F;
    }
    a {
      color: #82AB1F;
    }
  }
}
