mat-toolbar {
  border-bottom: 1px solid var(--black);
  z-index: 10;
  background: var(--background);
  position: fixed;
  height: 80px;
  font-family: 'Bull-regular' !important;
  width: 100%;
  max-width: 100%;

  a {
    text-decoration: none;
    font-family: 'Bull-regular';
    font-size: 1.25rem;
  }

  .bordered {
    border-left: 1px solid var(--black);
    border-right: 1px solid var(--black);
  }
}

mat-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 35px;
}

mat-icon:hover {
  color: var(--green);
}

.hide-mobile {
  display: flex;
}

.hide-desktop {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: var(--dark-brown);
  opacity: 0;
  z-index: 9;
  height: 100vh;
  width: 100%;
  transition: 0.5s;
  overflow: scroll;
}

.overlayOpen {
  display: block;
  z-index: 9;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: flex;
  }
}

.scale {
  -webkit-animation: scale 2s;
  /* Safari 4+ */
  -moz-animation: scale 2s;
  /* Fx 5+ */
  -o-animation: scale 2s;
  /* Opera 12+ */
  animation: scale 2s;
  /* IE 10+, Fx 29+ */
}
@-webkit-keyframes scale {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: none;
  }
}
@-moz-keyframes scale {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: none;
  }
}
@-o-keyframes scale {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: none;
  }
}
@keyframes scale {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: none;
  }
}
