<mat-toolbar class="is-flex is-flex-direction-row">
  <div class="h-100 is-flex-grow-1 center-vertically-horizontally">
    <app-logo-icon class="center-vertically-horizontally" routerLink="/"></app-logo-icon>
  </div>
  <div class="border-left h-100 is-flex-grow-3 center-vertically-horizontally hide-desktop"></div>
  <div
    class="h-100 is-flex-grow-3 is-justify-content-space-around is-align-items-center bordered hide-mobile"
  >
    <a routerLink="/plant">{{ 'plantTree' | translate }}</a>
    <a routerLink="/projectReports">{{ 'projects' | translate }}</a>
    <a routerLink="/about">{{ 'aboutUs' | translate }}</a>
    <a routerLink="/explore">{{ 'explore' | translate }}</a>
  </div>
  <div
    class="h-100 w-80px is-flex-grow-0 center-vertically-horizontally hide-mobile"
    (click)="toggleSearch()"
  >
    <mat-icon>search</mat-icon>
  </div>
  <div class="h-100 w-80px is-flex-grow-0 bordered">
    <app-barrel-icon
      [inToolbar]="true"
      class="h-100 center-vertically-horizontally inToolbar"
    ></app-barrel-icon>
  </div>
  <div
    class="h-100 w-80px is-flex-grow-0 center-vertically-horizontally hide-desktop"
    (click)="toggleMenu(); closeSearch()"
  >
    <mat-icon *ngIf="!menuOpened">menu</mat-icon>
    <mat-icon *ngIf="menuOpened">close</mat-icon>
  </div>
  <div class="h-100 is-flex-grow-1 center-vertically-horizontally hide-mobile">
    <app-button
      *ngIf="!loggedIn"
      label="{{ 'login' | translate }}"
      (clicked)="loginClicked()"
    ></app-button>
    <app-button
      *ngIf="loggedIn"
      label="{{ 'logout' | translate }}"
      (clicked)="logoutClicked()"
    ></app-button>
  </div>
</mat-toolbar>

<div class="overlay" [ngClass]="overlayIsOpen ? 'overlayOpen' : ''">
  <app-search-overlay (searchClosed)="toggleSearch()"></app-search-overlay>
</div>

<app-mobile-menu
  (menuClosed)="toggleMenu()"
  (clickedSearchEmitter)="toggleSearch(); toggleMenu()"
  *ngIf="menuOpened"
></app-mobile-menu>
