mat-toolbar {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  z-index: 10;
  background: var(--background);
  position: fixed;
  height: 80px;
  font-family: 'Bull-regular' !important;

  .columns {
    width: 100%;
  }

  a {
    text-decoration: none;
    font-family: 'Bull-regular';
    font-size: 18px !important;
  }
  a:hover {
    color: var(--green);
  }

  mat-icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 35px;
  }

  mat-icon:hover {
    color: var(--green);
  }

  .bordered {
    border-right-style: solid;
    border-right-width: 1px;
    border-color: var(--black);
    height: 80px;
  }
}
