<mat-toolbar>
  <div class="columns h-100">
    <div class="column bordered">
      <app-logo-icon class="center-vertically-horizontally" routerLink="/"></app-logo-icon>
    </div>
    <div class="column is-6 bordered is-flex is-justify-content-space-around is-align-items-center">
      <a routerLink="/plant">{{ 'plantTree' | translate }}</a>
      <a routerLink="/projects">{{ 'projects' | translate }}</a>
      <a routerLink="/about">{{ 'aboutUs' | translate }}</a>
      <a routerLink="/explore">{{ 'explore' | translate }}</a>
    </div>
    <div class="column center-vertically-horizontally is-1 bordered">
      <mat-icon>search</mat-icon>
    </div>
    <div class="column is-1 bordered">
      <app-barrel-icon class="h-100 center-vertically-horizontally"></app-barrel-icon>
    </div>
    <div class="column center-vertically-horizontally is-2">
      <app-button label="{{ 'login' | translate }}" (clicked)="loginClicked()"></app-button>
    </div>
  </div>
</mat-toolbar>
