<div
  class="is-flex is-flex-direction-column w-100 padding-2 border-bottom"
  *ngIf="receipts"
>
  <h4 class="center">{{ 'receipts' | translate }}</h4>
  <div
    class="columns is-flex is-flex-direction-row is-multiline"
    *ngFor="let receipt of receipts"
  >
    <div class="column is-1 is-offset-5">
      {{ receipt.createdOn | date : 'dd.MM.yyyy' }}
    </div>
    <div class="column is-1">
      {{ receipt.invoiceNumber }}
    </div>
    <div class="column is-2">
      <button
        mat-icon-button
        color="primary"
        (click)="downloadReceipt(receipt.receiptId)"
        matTooltip="download receipt"
      >
        <mat-icon aria-hidden="false">file_download</mat-icon>
      </button>
    </div>
  </div>
</div>