.paging-icon {
  height: 4rem;
  width: 4rem;
  font-size: 4rem;
  cursor: pointer;
}

div.paging-icon {
  min-height: 4rem;
  min-width: 4rem;
  display: inline-block;
  vertical-align: bottom;
}

div.center-text {
  min-height: 4rem;
  display: inline-block;
}

.column {
  text-align: center;
  min-height: 70px;
}
