.w-764 {
  max-width: 764px;
  margin: 0 auto;
}

.receipts {
  background-image: url(/assets/baumscheiben.jpg);
  background-size: cover;
  background-position: center;
}

table {
  th,
  td {
    font-size: 1rem;
  }
}

mat-icon {
  margin-top: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}
