<div class="is-flex is-flex-direction-column is-align-items-center w-full padding-2 border-bottom">
  <h4 class="center">
    {{ 'receipts' | translate }}
  </h4>
  <table class="w-764 w-100" mat-table [dataSource]="receipts">
    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef>{{ 'created' | translate }}</th>
      <td class="tableAlignment minTable60" mat-cell *matCellDef="let receipt">
        {{ receipt.createdOn | date : 'dd.MM.yyyy' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="invoiceNumber">
      <th mat-header-cell *matHeaderCellDef>{{ 'invoiceNumber' | translate }}</th>
      <td class="tableAlignment minTable80" mat-cell *matCellDef="let receipt">
        {{ receipt.invoiceNumber }}
      </td>
    </ng-container>
    <ng-container matColumnDef="PDF">
      <th mat-header-cell *matHeaderCellDef>{{ 'PDF' | translate }}</th>
      <td class="table48" mat-cell *matCellDef="let receipt">
        <mat-icon
          color="primary"
          (click)="downloadReceipt(receipt.receiptId)"
          [matTooltip]="'downloadReceipt' | translate"
          aria-hidden="false"
          >file_download</mat-icon
        >
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <!-- <mat-paginator
    class="w-100 w-764"
    [length]="totalPosts"
    [pageSize]="postsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePage($event)"
  >
  </mat-paginator> -->
</div>
