<!-- DESKTOP VIEW -->
<div class="hideOnMobile">
  <div class="w-100 columns is-flex is-align-items-center w-100 bottomLine">
    <div class="column">
      <img class="img-tree" src="{{ imgUrl }}" alt="tree" />
    </div>
    <div class="column">
      <span class="is-flex-direction-column is-flex is-justify-content-center">
        <span class="fat">{{ getTreetypeName(article.treeType.name) }}</span>
        <span> {{ article.price.priceAsLong / 100 | currency }}</span>
      </span>
    </div>
    <div class="column">
      <span>
        {{ showProject ? article.project.name : '' }}
      </span>
    </div>
    <div class="column">
      <div class="is-flex-direction-column is-flex is-justify-content-center inputOutline0Bottom">
        <label>{{ 'max.' + (article.amount - article.alreadyPlanted) }}</label>
        <input matInput name="amount" type="number" [formControl]="control" />
      </div>
      <mat-error *ngIf="control.invalid">{{ getErrorMessage() }}</mat-error>
    </div>
    <!-- <div class="column">
      <span> <span> x</span> {{ article.price.priceAsLong / 100 | currency }} </span>
    </div> -->
    <div class="projectname column">
      <span class="minWidth">{{ sum | currency }}</span>
    </div>
    <div class="column">
      <div *ngIf="withDelete">
        <button
          mat-icon-button
          (click)="removeItemFormPlantbag()"
          matTooltip="Artikel aus Pflanzkorb entfernen"
        >
          <mat-icon aria-hidden="false">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<!--^^^^^^^^^^^ DESKTOP VIEW ^^^^^^^^^^^^^^^^^^-->

<!-- MOBILE VIEW -->
<div class="hideOnDesktop">
  <div
    class="w-100 is-flex-direction-row is-flex is-align-items-center is-justify-content-space-between padding-05 padding-bottom-1 bottomLine"
  >
    <div class="is-flex is-flex-direction-column padding-right-05">
      <img class="img-tree" src="{{ imgUrl }}" alt="tree" />
      <span> {{ article.price.priceAsLong / 100 | currency }} </span>
    </div>
    <div class="w-100 is-flex is-flex-direction-column">
      <div
        class="w-100 is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center"
      >
        <span class="fat">{{ getTreetypeName(article.treeType.name) }}</span>
        <div *ngIf="withDelete">
          <button
            mat-icon-button
            (click)="removeItemFormPlantbag()"
            matTooltip="Artikel aus Pflanzkorb entfernen"
          >
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button>
        </div>
      </div>

      <div
        class="w-100 is-flex is-flex-direction-row is-justify-content-space-between is-align-items-end"
      >
        <div>
          <div
            class="is-flex-direction-column is-flex is-justify-content-center inputOutline0Bottom"
          >
            <label>{{ 'max.' + (article.amount - article.alreadyPlanted) }}</label>
            <input matInput name="amount" type="number" [formControl]="control" />
          </div>
          <mat-error *ngIf="control.invalid">{{ getErrorMessage() }}</mat-error>
        </div>
        <span class="minWidth">{{ sum | currency }}</span>
      </div>
    </div>
  </div>
</div>
<!-- ^^^^^^^^^^^^^^^^^^^^ MOBILE VIEW^^^^^^^^^^^^^^^^^^^^ -->
