.price {
  padding-top: 1.5rem;
}

.image-wrapper {
  max-width: 100px;
  max-height: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
