<div class="columns">
  <div class="column is-1 image-wrapper">
    <img class="img-tree" src="{{ imgUrl }}" alt="tree" />
  </div>
  <div class="column is-3 is-flex-direction-column is-flex is-justify-content-center">
    <b
      >{{ getGerman(article.treeType.name)
      }}{{ showProject ? '(' + article.project.name + ')' : '' }}</b
    >
    {{ article.price.priceAsLong / 100 | currency }}
  </div>
  <div class="column is-3 is-flex-direction-column is-flex is-justify-content-center">
    <mat-form-field appearance="fill" class="title-field">
      <mat-label>{{ 'max.' + (article.amount - article.alreadyPlanted) }}</mat-label>
      <input matInput name="amount" type="number" [formControl]="control" />
      <mat-error *ngIf="control.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <div class="column is-1 price">
    <b>{{ sum | currency }}</b>
  </div>
  <div class="column is-1" *ngIf="withDelete">
    <button
      mat-icon-button
      (click)="removeItemFormPlantbag()"
      matTooltip="Artikel aus Pflanzkorb entfernen"
    >
      <mat-icon aria-hidden="false">delete</mat-icon>
    </button>
  </div>
</div>
