.image-wrapper {
  max-width: 100px;
  max-height: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

mat-error {
  position: absolute;
}

.is-flex {
  font-family: 'Bull-mono', sans-serif;
}

span {
  font-size: 1rem;
}

.gap {
  gap: 15px;
}

.small {
  font-size: 0.8rem;
}

.w-100 {
  padding: 1rem 0;
}

@media only screen and (max-width: 768px) {
  .image-wrapper {
    display: none;
  }

  b {
    max-width: 150px;
  }
}
