<div
  class="w-100 is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center"
>
  <div class="is-flex is-flex-direction-row is-align-items-center gap">
    <div class="image-wrapper">
      <img class="img-tree" src="{{ imgUrl }}" alt="tree" />
    </div>
    <span class="is-flex-direction-column is-flex is-justify-content-center">
      <b
        >{{ getTreetypeName(article.treeType.name)
        }}{{ showProject ? '(' + article.project.name + ')' : '' }}</b
      >
      <span class="small">
        {{ article.price.priceAsLong / 100 | currency }}
      </span>
    </span>
  </div>
  <div class="is-flex is-flex-direction-row is-align-items-center gap">
    <span>{{ sum | currency }}</span>
    <div class0="is-flex is-flex-direction-column">
      <div class="is-flex-direction-column is-flex is-justify-content-center inputOutline0Bottom">
        <label>{{ 'max.' + (article.amount - article.alreadyPlanted) }}</label>
        <input matInput name="amount" type="number" [formControl]="control" />
      </div>
      <mat-error *ngIf="control.invalid">{{ getErrorMessage() }}</mat-error>
    </div>
  </div>
  <div *ngIf="withDelete">
    <button
      mat-icon-button
      (click)="removeItemFormPlantbag()"
      matTooltip="Artikel aus Pflanzkorb entfernen"
    >
      <mat-icon aria-hidden="false">delete</mat-icon>
    </button>
  </div>
</div>

<div
  class="is-flex is-flex-direction-row is-justify-content-space-betweens is-align-items-end"
></div>
