@import '../../../less/basecolors.less';

.sliderImageManager{
  .row {
    background-color: @base-background-color;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    padding-left: 4vw;
    padding-right: 4vw;
  }

}
