<div class="columns">
  <div class="column is-half">
    <div class="map">yoo her eis ognna be a map</div>
  </div>
  <div class="column scroll">
    <div>
      <p>
        <app-circle-icon [width]="20" [height]="20"></app-circle-icon
        >{{ 'projectsSectionInfo' | translate }}
      </p>
    </div>
    <div class="scrollmenu">
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
    </div>
  </div>
</div>
