div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu app-project-tile {
  display: inline-block;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

.scroll {
  overflow: hidden;
}
