<div class="columns">
  <div class="column padding-left is-half">
    <div class="map">will be a map</div>
  </div>
  <div class="column scroll">
    <p class="center">
      <app-circle-icon [width]="17" [height]="17"></app-circle-icon
      >{{ 'projectsSectionInfo' | translate }}
    </p>
    <div class="scrollmenu">
      <app-project-tile
        *ngFor="let project of (projectReports$ | async).content"
        [projectReport]="project"
      >
        ></app-project-tile
      >
      <!-- <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile>
      <app-project-tile></app-project-tile> -->
    </div>
    <div class="center">
      <app-button label="{{ 'allProjects' | translate }}"></app-button>
    </div>
  </div>
</div>
