app-circle-icon {
  margin-right: 1rem;
}

h2 {
  margin: 1rem auto;
}

p {
  margin: 1.7rem auto;
}

.column {
  border-top: 1px solid var(--black);
}

.column:first-child {
  border-right: 1px solid var(--black);
}

ng-scrollbar {
  max-height: 700px !important;
  height: 700px !important;
  border: none;
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: #65594e;
  --scrollbar-border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  ng-scrollbar {
    height: 550px !important;
    max-height: 550px !important;
  }

  p {
    margin: 1rem auto;
  }
}
