<div class="columns border-bottom">
  <div class="column padding-right padding-left is-half padding-bottom-2">
    <h2 style="height: 100px" class="is-flex is-align-items-center">
      {{ 'projects' | translate }}
    </h2>
    <div class="map-border">
      <app-leaflet-map [mapHeight]="mapHeight" [projectAreas]="projectAreas"></app-leaflet-map>
    </div>
  </div>
  <div class="column">
    <p class="is-flex is-justify-content-center is-align-items-center" style="height: 100px">
      <app-circle-icon [width]="17" [height]="17"></app-circle-icon>
      <span class="circle-icon-text">
        {{ 'projectsSectionInfo' | translate }}
      </span>
    </p>
    <div class="scrolling-wrapper-flexbox">
      <app-project-tile *ngFor="let project of projectReports$ | async" [projectReport]="project">
      </app-project-tile>
    </div>
    <div class="center margin-top-1">
      <app-button routerLink="projectReports" label="{{ 'allProjects' | translate }}"></app-button>
    </div>
  </div>
</div>
