<div class="columns project-header">
  <div
    class="border-right column is-two-fifths is-flex is-flex-direction-column padding-left is-justify-content-space-between"
  >
    <nav class="breadcrumb">
      <ul>
        <li>
          <a routerLink="/">
            {{ 'startPage' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/">
            {{ 'projects' | translate }}
          </a>
        </li>
        <li>
          <a class="breadcrumb-active">
            {{ projectReport.projectReportData.projectName | titlecase }}
          </a>
        </li>
      </ul>
    </nav>
    <h2>{{ projectReport.projectReportData.projectName }}</h2>
    <!-- <h4>{{ projectReport.description }}</h4> -->
  </div>
  <div
    class="column padding-left padding-right is-three-fifths is-flex is-flex-direction-column is-justify-content-space-around"
  >
    <div class="is-flex">
      <div class="bar">
        <div class="inner-bar" [style.width.%]="percentage"></div>
      </div>
    </div>
    <div class="project-stats is-flex is-justify-content-space-between">
      <p>
        <span>{{ projectReport.projectReportData.amountOfPlantedTrees }}</span>
        {{ 'of' | translate }}
        {{ projectReport.projectReportData.amountOfMaximumTreesToPlant }}
      </p>
      <p>
        <span>{{ percentage }}%</span> {{ 'planted' | translate }}
      </p>
      <p>
        <!-- <span>{{startYear }} {{'startYear'|translate }} </span>-->
        <span>2020</span> Startjahr
      </p>
    </div>
  </div>
</div>
