<div class="columns">
  <div class="column padding-left">
    <nav class="breadcrumb">
      <ul>
        <li>
          <a routerLink="/">
            {{ 'startPage' | translate }}
          </a>
        </li>
        <li>
          <a class="breadcrumb-active">
            {{ 'plantTree' | translate }}
          </a>
        </li>
      </ul>
    </nav>
    <h2>{{ 'plantTree' | translate }}</h2>
  </div>
</div>
<div class="plant-proposal-page padding-left padding-right">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="{{ 'proposal' | translate }}">
      <app-plant-proposal-row></app-plant-proposal-row>
    </mat-tab>
    <mat-tab label="{{ 'custom' | translate }}">
      <app-custom-planting></app-custom-planting>
    </mat-tab>
    <mat-tab label="{{ 'selfplant' | translate }}">
      <app-self-plant-row></app-self-plant-row>
    </mat-tab>
  </mat-tab-group>
</div>

<app-offer-area></app-offer-area>
