<div class="columns">
  <div class="column padding-left is-two-fifths border-right padding-bottom-3">
    <nav class="breadcrumb">
      <ul>
        <li>
          <a routerLink="/">
            {{ 'startPage' | translate }}
          </a>
        </li>
        <li>
          <a class="breadcrumb-active">
            {{ 'plantTree' | translate | titlecase }}
          </a>
        </li>
      </ul>
    </nav>

    <h2>{{ 'plantTree' | translate | titlecase }}</h2>
    <p class="desktop">
      {{ 'plantText1' | translate }} <br />
      {{ 'plantText2' | translate }}
    </p>
    <a routerLink="/">
      {{ 'detailedProcessHere' | translate }}
    </a>
  </div>
  <div class="column padding-left padding-right padding-top-2 padding-bottom-2">
    <p class="desktop">{{ 'proposalOrIndividualText' | translate }}</p>
    <div class="custom-slider">
      <ngx-slider
        [(value)]="value"
        [options]="sliderOptions"
        (valueChange)="getProposal($event)"
      ></ngx-slider>
    </div>
    <div class="is-flex is-align-items-center is-justify-content-flex-end price-row">
      <span class="desktop">
        {{ ('price' | translate) + ': ' + (proposalPrice$ | async) + '€' }}
      </span>
      <app-button label="{{ 'intoPlantbag' | translate }}" (click)="putIntoPlantbag()"></app-button>
    </div>
  </div>
</div>
<div class="columns proposal-row">
  <div class="column border-top-right padding-left">
    <nav class="breadcrumb is-hidden-mobile">
      <ul>
        <li>
          {{ ' ' }}
        </li>
      </ul>
    </nav>
    <h2>{{ 'createSelfplantedTree' | translate | titlecase }}</h2>
    <p class="desktop">
      {{ 'createSelfplantDescription1' | translate }}<br />
      {{ 'createSelfplantDescription2' | translate }}
    </p>
    <a routerLink="/plantSelf">
      {{ 'createPlantingNow' | translate }}
    </a>
  </div>
  <div
    class="column is-flex is-flex-direction-column is-justify-content-space-around border-top padding-left padding-top"
  >
    <a routerLink="/">
      {{ 'orChooseIndivudual' | translate }}
    </a>
  </div>
</div>

<app-offer-area></app-offer-area>
