<div class="is-flex is-flex-direction-row margin-left-1 columns is-mobile">
  <div class="column is-3">
    <div class="image">
      <img
        src="{{ rankingItem.imageUrl ? rankingItem.imageUrl : 'assets/ipat_logo.jpg' }}"
        alt="profileImage"
      />
    </div>
  </div>
  <div class="column is-9">
    <div class="is-flex is-flex-direction-column padding-1">
      <p class="name">
        {{ rankingItem.name }}
      </p>
      <p>
        {{ rankingItem.amount }}
      </p>
    </div>
  </div>
</div>
