@import '../../less/basecolors.less';

.receipts {
  background-color: @base-background-color;
  margin-left: 0;
  margin-right: 0;

  img {
    margin-bottom: 15px;
  }

  p {
    font-size: 12px;
  }

  .desc {
    padding-left: 5px;
    .iconButton {
      margin-bottom: 10px;
    }
    .iconButton:hover {
      .glyphicon {
        color: @accent-color;
      }
      a {
        color: @accent-color;
      }
    }
  }

  .buttons {
    .iconButton {
      margin-bottom: 10px;
    }
    .iconButton:hover {
      .glyphicon {
        color: @accent-color;
      }
      a {
        color: @accent-color;
      }
    }

    .chosen {
      .glyphicon {
        color: @accent-color;
      }
      a {
        color: @accent-color;
      }
    }
  }

  .receipt {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    a,
    a:active,
    a:visited {
      color: #000;
      text-decoration: none;
    }
  }
  .receipt:hover {
    background-color: @base-background-color;
  }
  .banner {
    .bannerImages-high {
      .image {
        display: inline-block;
        text-align: center;
        width: 25%;
      }
    }

    .banner-images-cross {
      .image {
        display: inline-block;
        width: 50%;
        .radioButton {
          margin-right: 10px;
        }
      }
    }

    .code-and-options {
      padding-top: 10px;
      border-width: 1px;
      border-style: solid none none none;
      .options {
        vertical-align: top;
        display: inline-block;
        width: 40%;
        text-align: center;
        .leftRightSwitch {
          margin-bottom: 10px;
        }

        p {
          text-align: left;
          margin: 0;
        }
      }
      .code {
        display: inline-block;
        width: 60%;
        text-align: left;
        p {
          display: inline;
          vertical-align: top;
          margin-right: 5px;
        }
      }
    }
  }
}
