@import '../../../less/basecolors.less';

.gifts {
  background: @base-background-color;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 15px;

  .createGift{
    text-align: center;
    height: 60px;
    border-style: solid;
    border-width: 3px;
    margin-top: 15px;
    border-color: @primary-color;
    padding-top: 10px;

      p{
        font-size: 20px;
        display: inline;
        margin-left: 5px;
        color: @primary-color;
      }
      .glyphicon{
        font-size: 20px;
        color: @primary-color;
      }

  }

  .createGift:hover{
    border-color: @accent-color;
    cursor: pointer;
    p{
      color: @accent-color;
    }

    .glyphicon {
      color: @accent-color;
    }
  }

  .giftHeader{
    font-weight: bold;
  }

  .giftItem:nth-of-type(2n +1) {
    background-color: #668C09;
  }
  .giftItem:nth-of-type(2n +2) {
    background-color: #9FC73D;
  }

  .giftItem {
    padding: 5px;
    div {
      display: inline-block;
    }
  }
  .giftItem > div:nth-of-type(1) {
    width: 230px;
  }
  .giftItem > div:nth-of-type(2) {
    width: 170px;
  }
  .giftItem > div:nth-of-type(3) {
    width: 170px;
  }
  .giftItem > div:nth-of-type(5) {
    float: right;
  }
}
