.grid-wrapper {
  height: 75vh;
  display: inline-block;
  width: 100%;
}

.column {
  padding: 0;
}

button {
  margin-right: 15px !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cart-detail-wrapper {
  display: inline;
}
.button-bar {
  background-color: #fff;
  padding-left: 1rem;
}
