.editUserDetails {
  font-size: 12px;
  margin-bottom: 25px;

  h2 {
    margin-bottom: 15px;
  }

  img {
    float: left;
    margin-right: 20px;
  }

  .name {
    text-transform: uppercase;
    font-weight: bold;
  }

  .summary {
    padding-top: 5px;
  }
}

.showLink,
.showLink:active,
.showLink:visited {
  color: #000;
  text-decoration: none;
  text-align: center;
  height: 50px;
  font-size: 26px;
  div {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  img {
    background-color: #fff;
  }

  span {
    margin-left: 10px;
  }

  span:nth-child(2){
    font-size: 14px;
    vertical-align: text-top;
  }
}
.showLink:hover {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.editItem {
  border-width: 1px;
  border-style: solid none none none;
  height: 30px;
  padding-top: 5px;
  margin-bottom: 5px;

  input {
    border: none;
    background-color: #fff;
  }
  input:focus{
    border-color: #000;
  }

  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .link,
  .link:active,
  .link:visited {
    color: #000;
    text-decoration: none;
    span {
      margin-left: 5px;
    }
  }
  .link:hover {
    font-weight: bold;
    text-decoration: none;
  }

}
