
  <div class="row">
    <div class="col">
      <b>{{getGerman(article.treeType.name)}}{{showProject ? "(" + article.project.name + ")" : ""}}</b>
      <br>
      {{article.price.priceAsLong/100 | currency}}
    </div>
    <div class="col">
      <mat-form-field appearance="fill" class="title-field">
        <mat-label>{{'max.' +  (article.amount - article.alreadyPlanted)}}</mat-label>
        <input
          matInput
          name="amount"
          type="number"
          [formControl]="control"
        />
        <mat-error *ngIf="control.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <b>{{sum | currency}}</b>
    </div>
    <div class="col" *ngIf="withDelete">
      <button mat-icon-button (click)="removeItemFormPlantbag()" matTooltip="Artikel aus Pflanzkorb entfernen">
        <mat-icon aria-hidden="false">delete</mat-icon>
      </button>
    </div>
  </div>