@import '../../../less/basecolors.less';

@media (max-width: 480px) {
  .projectPlanting {
    font-size: 12px!important;
    .plantItemDesc {
      font-size: 12px;
      div:nth-of-type(1) {
        width: 160px!important;
        text-align: left;
      }
      div:nth-of-type(2) {
        width: 40px!important;
        text-align: left;
      }
      div:nth-of-type(3) {
        display: none!important;
      }
    }
    .plantItem {
      font-size: 12px;
      div:nth-of-type(1) {
        width: 60px!important;
        img {
          border-width: 2px!important;
          width: 40px!important;
          height: 40px!important;
        }
      }
      div:nth-of-type(2) {
        width: 100px!important;
      }
      div:nth-of-type(3) {
        width: 40px!important;
      }
      div:nth-of-type(4) {
        display: none!important;
      }
    }
  }
}
@media (max-width: 360px) {
  .projectPlanting {
    padding-left: 5px !important;
    padding-right: 5px !important;
    .plantItemDesc {
      font-size: 10px;
      div:nth-of-type(1) {
        width: 100px!important;
        padding-left: 5px !important;
        text-align: left;
      }
      div:nth-of-type(2) {
        width: 40px!important;
        text-align: left;
      }
      div:nth-of-type(3) {
        display: none!important;
      }
      div:nth-of-type(4) {
        width: 70px!important;
      }
    }
    .plantItem {
      font-size: 10px;
      div:nth-of-type(1) {
        width: 40px!important;
      }
      div:nth-of-type(2) {
        padding-left: 5px;
        width: 60px!important;
      }
      div:nth-of-type(3) {
        width: 40px!important;
      }
      div:nth-of-type(4) {
        display: none!important;
      }
      div:nth-of-type(5) {
        width: 70px!important;
      }
    }
  }
}

.projectPlanting {
  background-color: @base-background-color;
  padding: 15px;

  h2 {
    text-align: center;
    font-family: Georgia,Times,Times New Roman,serif;
    background-color: @base-background-color;
  }

  .bottom {
    padding-top: 25px;
    padding-bottom: 15px;
    border-width: 1px;
    border-style: solid none none none;
  }

  .plantItems {
    overflow: hidden;
  }

  .plantItemDesc {
    margin-top: 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;

    div {
      display: table-cell;
      vertical-align: middle;
    }
    div:nth-of-type(1) {
      width: 220px;
      padding-left: 30px;
      text-align: left;
    }
    div:nth-of-type(2) {
      width: 60px;
      text-align: left;
    }
    div:nth-of-type(3) {
      width: 40px;
    }
    div:nth-of-type(4) {
      width: 90px;
      text-align: right;
    }
  }
  .plantItem {
    margin-top: 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;

    div {
      display: table-cell;
      vertical-align: middle;
      height: 78px;
      padding-bottom: 10px;
    }
    div:not(:first-child) {
      border-style: none none solid none;
      border-width: 1px;
    }
    div:nth-of-type(1) {
      width: 100px;
      text-align: center;
    }
    div:nth-of-type(2) {
      width: 120px;
      text-align: left;
    }
    div:nth-of-type(3) {
      width: 60px;
    }
    div:nth-of-type(4) {
      width: 40px;
      text-align: center;
    }
    div:nth-of-type(5) {
      width: 90px;
      text-align: right;
    }

    img {
      border-radius: 50%;
      border-color: @accent-color;
      border-style: solid;
      border-width: 4px;
      background-color: @base-background-color;
    }
  }

  .plantCustom {
    text-align: center;
  }


  .error-message {
    margin: 25px;
    font-weight: bold;
    font-size: 17px;
  }

  .offer-acreage{
    margin-bottom: 25px;
  }
}
