.projectPlanting {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;

  h2 {
    text-align: center;
    font-family: Georgia,Times,Times New Roman,serif;
    background-color: #fff;
  }

  .backDiv {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .backLink,
  .backLink:active,
  .backLink:visited {
    color: #000;
    text-align: center;
    text-decoration: none;
    span:nth-child(1) {
      margin-right: 5px;
    }
  }
  .backLink:hover {
    font-weight: bold;
  }

  .bottom {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-width: 1px;
    border-style: solid none none none;
  }

  .summary {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 50px;
  }

  .mainSlider {
    width: 100%;
    td:nth-child(1) {
      width: 80%;
    }
    td:nth-child(2) {
      width: 13%;
    }
    td:nth-child(3) {
      width: 7%;
    }
    tr:nth-child(1) {
      td:nth-child(2) {
        color: #82ab1f;
        font-size: 18px;
        text-align: right;
        span:nth-child(2) {
          font-size: 14px;
        }
      }
    }
    tr:nth-child(2) {
      td:nth-child(1) {

        div {
          padding-top: 5px;
          padding-bottom: 6px;
          border-width: 1px;
          border-style: solid;
        }
      }
      td:nth-child(2) {

        div {
          text-align: right;
          font-size: 18px;
          font-weight: bold;
          padding-top: 3px;
          padding-bottom: 3px;
          height: 57px;
          border-width: 1px;
          border-style: solid;

          .glyphicon-tree-deciduous {
            float: left;
          }

          .overallPrice{
            margin-right: 5px;
          }

          a,
          a:active,
          a:visited {
            color: #000;
            text-decoration: none;
            float: right;
            margin-right: 3px;

          }
          .a:hover {
            color: #000;
            font-weight: bold;
            text-decoration: none;
          }
        }

      }
      td:nth-child(3) {

        color: #82ab1f;
        font-size: 18px;
        div {
          border-style: solid;
          border-width: 1px;
          border-color: #000;
          height: 57px;
          text-align: center;
          padding-top: 15px;
        }
      }
    }

  }

  .articleDesc {
    margin-right: 15px;
    margin-left: 15px;

    .descTable {
      width: 100%;
      margin-bottom: 15px;
      td:nth-child(1) {
        width: 25%;
      }
      td:nth-child(2) {
        width: 65%;
      }
      td:nth-child(3) {}
    }
  }


  .overallTreeCount {
    text-align: right;
    color: #82ab1f;
    border: none;
    background-color: #fff;
    width: 100px;
    float: left;
  }

  .bold {
    font-weight: bold;
  }

  .bottomTable {
    width: 100%;
    margin-bottom: 25px;
    td {
      width: 33%;
    }
    td:nth-child(2) {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 25px;
      span {
        font-size: 24px;
        font-weight: bold;
        color: #82ab1f;
      }
    }
    td:nth-child(3) {

      div {
        margin-right: 15px;
        float: right;
        background-color: #3C191E;
        width: 200px;
        padding: 5px;
      }
      a,
      a:active,
      a:visited {
        color: #fff;
        text-decoration: none;
        text-align: center;
        height: 50px;

        img {
          margin-left: 10px;
          background-color: #fff;
          float: left;
        }

        span {
          float: left;
          margin-left: 10px;
        }
      }
      a:hover {
        color: #82ab1f;
        text-decoration: none;

        img {
          background-color: #82ab1f;
        }
      }
    }
  }

}
