<div class="resetPassword is-flex is-flex-direction-column is-justify-content-start">
  <nav class="breadcrumb padding-left padding-top-1">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a class="breadcrumb-active">
          {{ 'resetPassword' | translate }}
        </a>
      </li>
    </ul>
  </nav>
  <div
    *ngIf="!(passwordResetSent$ | async) && (verifyPasswordResetLink$ | async)"
    class="is-flex padding-1 is-flex-direction-column w-100 is-align-items-center"
  >
    <form
      class="w-100 is-flex is-flex-direction-column"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <h4 class="center">{{ 'resetPassword' | translate }}</h4>
      <div class="inputOutline w-100 is-flex is-flex-direction-row">
        <input
          [placeholder]="'password' | translate"
          name="password"
          required
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
        />
        <mat-icon matSuffix style="cursor: pointer" (click)="toggleShowPassword()">
          {{ !showPassword ? 'visibility' : 'visibility_off' }}</mat-icon
        >
      </div>
      <div class="inputOutline w-100 is-flex is-flex-direction-row">
        <input
          [placeholder]="'repeatPassword' | translate"
          name="passwordConfirmation"
          required
          [type]="showPassword ? 'text' : 'password'"
          formControlName="passwordConfirmation"
        />
        <mat-icon matSuffix style="cursor: pointer" (click)="toggleShowPassword()">
          {{ !showPassword ? 'visibility' : 'visibility_off' }}</mat-icon
        >
      </div>
      <div class="center">
        <app-button [label]="'resetPassword' | translate"></app-button>
      </div>
    </form>
  </div>

  <div
    *ngIf="passwordResetSent$ | async"
    class="is-flex padding-1 is-flex-direction-column w-100 is-align-items-center"
  >
    <p>
      {{ 'passwordResetSuccessful' | translate }}
    </p>
  </div>
  <div
    *ngIf="!(verifyPasswordResetLink$ | async)"
    class="is-flex padding-1 is-flex-direction-column w-100 is-align-items-center"
  >
    <p>
      {{ 'passwordResetLinkInvalid' | translate }}
    </p>
  </div>
</div>
