form {
  max-width: 400px;
  z-index: 2;
}

button {
  z-index: 2;
}

.resetPassword {
  height: calc(100vh);
  background-image: url(/assets/baumscheiben.jpg);
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .resetPassword {
    background-image: none;
    background-position: right;
    justify-content: flex-end;
    padding-top: initial;
  }
}
