<div class="columns project-description">
  <div class="column is-three-fifths padding-left is-flex is-flex-direction-column">
    <div class="description" innerHtml="{{ description }}"></div>
    <app-button label="{{ 'plantYourTree' | translate }}">yaaaayy</app-button>
    <a routerLink="/projects">{{ 'backToProjects' | translate }}</a>
  </div>
  <div class="column is-two-fifths">
    <div class="is-flex is-flex-direction-column">
      <img src="assets/lucy.jpg" alt="" />
      <div class="is-flex is-flex-direction-row">
        <img style="width: 50%" src="assets/ycul.jpg" alt="" />
        <img style="width: 50%" src="assets/ycul.jpg" alt="" />
      </div>
      <img src="assets/lucy.jpg" alt="" />
    </div>
  </div>
</div>
