<div class="columns project-description">
  <div class="column is-three-fifths padding-left is-flex is-flex-direction-column">
    <p>
      alksdjalksjdla sd asd dqwdqw lkjd lkj wqd dwqjklö jid qiduh dgzd zzc vjhbkizbuv iuoijoiubu vtv
      uzbou uzvv v ibi z iv zg ug iiugizvu giubtvjvz t cesres trvbiun ijopk,lkj zutfrc vtzbn crxeedf
      tzb nu iuhz vtcrtv zb j tfds fghjkk jhg fdcvb hjk, nbf dert gbnjio pöizut4 swx uz zzresd ftuv
      tzcr5s46d5fu zg tvzcrtxs54 6dztf v zbiu hi zutzcrxtes5 4drzctvuzg utzcrd 4 trcztvuzibuhoj pk
      üp, mlk o 89 78z tr e5 s5s 45d 6c7v8 btv7r64d6xc zutv i 5c64tx rzctuv zibuo jim ouzut f
    </p>
    <p>
      alksdjalksjdla hbkj n mjhbgv tuzibuon ijonibzu tcrz xe xtr c65 ztv t bio97 86f5 ddr64 s d7f6
      uzt f56d4 d57f izg f75d f68 5 6dz f6 75d46s e57d fu 8675d 46sd7 f68g79 hoi jinojbi zvutcrx6e
      tcztf 5f7 zgiuh ibvutf75d 6ex tc tjz g8 u
    </p>
    <p>
      alksdjalksjdla hbkj n mjhbgv tuzibuon ijonibzu tcrz xe xtr c65 ztv t bio97 86f5 ddr64 s d7f6
      uzt f56d4 d57f izg f75d f68 5 6dz f6 75d46s e57d fu 8675d 46sd7 f68g79 hoi jinojbi zvutcrx6e
      tcztf 5f7 zgiuh ibvutf75d 6ex tc tjz g8 u
    </p>
    <p>
      tf zg fgoizcr zvjg vgz ubtu zgv tg bjv hc hgv kv kj gzucrvtubtingzibztv trtv etrbit tzre vzbtz
      g vrzbu jv erbuztinzui zb r gm tzb v escevrbnhm nbrtv etrcbz inugz tzb
    </p>
    <app-button label="{{ 'plantYourTree' | translate }}">yaaaayy</app-button>

    <a routerLink="/projects">{{ 'backToProjects' | translate }}</a>
  </div>
  <div class="column is-two-fifths">
    <div class="is-flex is-flex-direction-column">
      <img src="assets/lucy.jpg" alt="" />
      <div class="is-flex is-flex-direction-row">
        <img style="width: 50%" src="assets/ycul.jpg" alt="" />
        <img style="width: 50%" src="assets/ycul.jpg" alt="" />
      </div>
      <img src="assets/lucy.jpg" alt="" />
    </div>
  </div>
</div>
