.rankingPage {
  background: #cccccc;
  margin-left: 0;
  margin-right: 0;

  h2 {
    text-align: center;
  }

  .buttonBar {
    padding: 15px;
    text-align: center;
    border-width: 1px;
    border-style: none none solid none;
    div {
      width: 150px;
    }
  }

  .rankingItems {
    overflow: hidden;
    div:nth-child(11) {
      margin-bottom: 25px;
    }
    padding-bottom: 25px;
  }

  .rankingItemLarge {
    padding-top: 15px;
    padding-bottom: 15px;
    .rankingSummary {
      display: inline-block;
      width: 80%;
      border-style: none none solid none;
      border-width: 1px;
      border-color: #fff;
      color: #fff;
      a,
      a:active,
      a:visited {
        color: #000;
        text-decoration: none;
        font-weight: bold;
      }

      p {
        margin-bottom: 0;
      }
      p:nth-of-type(1) {
        background-color: #82ab1f;
        margin-bottom: 2px;
      }
      p:nth-of-type(2) {
        background-color: #51a8be;
      }
    }

    .rankingNumber {
      display: inline-block;
      vertical-align: top;
      margin-top: 20px;
      min-width: 20px;
      font-size: 16px;
      font-weight: bold;
      color: #000;
      text-align: right;
      margin-right: 15px;
      margin-left: 25px;
    }

    .ranking-img-div {
      display: inline-block;
      width: 100px;
      text-align: center;
    }

    .ranking-img {
      vertical-align: bottom;
      border-radius: 50%;
      border-color: #b2b2b2;
      border-style: solid;
      border-width: 1px;
    }

    .stats {
      font-weight: bold;
    }

    .text {
      font-size: 12px;
      position: absolute;
      left: 240px;
      padding-top: 2px;
    }
  }

  .smallRankingItem {
    padding-top: 5px;
    margin-right: 25px;

    .smallRankingNumber {
      display: inline-block;
      min-width: 20px;
      font-size: 16px;
      font-weight: bold;
      color: #000;
      text-align: right;
      margin-right: 15px;
      margin-left: 25px;
    }

    .name {
      display: inline-block;
      width: 100px;
      text-align: center;
      a,
      a:active,
      a:visited {
        color: #000;
        text-decoration: none;
      }
      a:hover {
        font-weight: bold;
      }
    }

    .trees {
      display: inline-block;
      width: 80%;
      p {
        background-color: #82ab1f;
      }
    }
  }
}
