@import '../../less/basecolors.less';

.rankingPage {
  min-height: 830px;
  background: @base-background-color;
  margin-left: 0;
  margin-right: 0;

  h1 {
    text-align: left;
    margin-left: 35px;
  }

  .center-switch{
    text-align: center;
    padding-top: 20px;

    .buttonDiv{
      width: 90px!important;
    }
  }

  hr {
    width: 90%;
    border:solid #000 1px;
    margin: 5px 50px 0px 50px;
  }

  .buttonBar {
    padding: 15px;
    text-align: center;
  }

  .rankingItems {
    overflow: hidden;
    div:nth-child(11) {
      margin-bottom: 25px;
    }
    padding-bottom: 25px;
  }

  .rankingItemLarge {
    padding-top: 15px;
    padding-bottom: 15px;
    .rankingSummary {
      display: inline-block;
      width: 75%;
      border-style: none;
      color: @base-background-color;
      a,
      a:active,
      a:visited {
        color: #000;
        text-decoration: none;
        font-weight: bold;
      }

      p {
        margin-bottom: 0;
        color: #000;
      }
      p:nth-of-type(1) {
        background-color: @accent-color;
        margin-bottom: 2px;
      }
      p:nth-of-type(2) {
        background-color: @accent-complement-color;
        max-width: 100%!important;
      }
    }

    .rankingNumber {
      display: inline-block;
      vertical-align: top;
      margin-top: 20px;
      min-width: 20px;
      font-size: 16px;
      font-weight: bold;
      color: #000;
      text-align: right;
      margin-right: 15px;
      margin-left: 25px;
    }

    .ranking-img-div {
      display: inline-block;
      width: 200px;
      text-align: center;
    }

    .ranking-img {
      vertical-align: bottom;
      border-radius: 50%;
      border-color: #b2b2b2;
      border-style: solid;
      border-width: 4px;
    }

    .stats {
      font-weight: bold;
    }

    .text {
      font-size: 12px;
      position: absolute;
      left: 340px;
      padding-top: 2px;
    }
  }

  .smallRankingItem {
    padding-top: 5px;

    .smallRankingNumber {
      display: inline-block;
      min-width: 20px;
      font-size: 16px;
      font-weight: bold;
      color: #000;
      text-align: right;
      margin-right: 15px;
      margin-left: 25px;
    }

    .name {
      display: inline-block;
      width: 200px;
      text-align: center;
      a,
      a:active,
      a:visited {
        color: #000;
        text-decoration: none;
      }
      a:hover {
        color: @accent-color;
      }
    }

    .trees {
      display: inline-block;
      width: 75%;
      p {
        background-color: @accent-color;
      }
    }
  }

  .pagingLink {
    margin-top: 10px;
    display: block;
    color: #000;
    font-size: 24px;
    opacity: 0.7;
    text-align: center;
  }
  .pagingLink:hover {
    opacity: 1;
  }
}
