.rankingPage {

  .col-md-12 {
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
  }

  .linkTableDiv {
    padding-top: 15px;
    margin: 15px;
    border-style: none none solid none;
    border-width: 1px;
    padding-bottom: 30px;
  }

  .linkTable {
    width: 100%;

    td {
      width: 172px;
    }
    td:nth-of-type(4) {
      width: 200px;
    }
    td:nth-of-type(5) {
      text-align: right;
      padding-right: 110px;
    }
    td:nth-of-type(6) {
      text-align: right;
      padding-right: 80px;
    }

    .btn-circle {
      color: #000;
      background-color: #000;

      background-image: none;
      width: 25px;
      height: 25px;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 50%;
      border-width: 0;

      i {
        top: -4px;
        left: -3px;
        color: #fff;
        margin-right: 10px;
      }

      span {
        font-size: 16px;
      }
    }
    .btn-circle:hover {
      background-color: #82ab1f;
      span {
        color: #82ab1f;
      }
    }
    .btn-circle:focus {
      outline: none;
    }

  }

  h2 {
    text-align: center;
    font-family: Georgia,Times,Times New Roman,serif;
  }

  .rankingItems {
    div:nth-child(11) {
      margin-bottom: 25px;
    }
    padding-bottom: 25px;
  }

  .rankingItemLarge {
    padding-top: 15px;
    margin-right: 25px;
    .rankingSummary {
      margin-left: 170px;
      border-style: none none solid none;
      border-width: 1px;
      border-color: #fff;
      color: #fff;
      a,
      a:active,
      a:visited {
        color: #000;
        text-decoration: none;
        font-weight: bold;
      }

      p {
        margin-bottom: 0;
      }
      p:nth-of-type(1) {
        background-color: #82ab1f;
        margin-bottom: 2px;
      }
      p:nth-of-type(2) {
        background-color: #51a8be;
      }
    }

    .rankingNumber {
      float: left;
      min-width: 20px;
      font-size: 16px;
      font-weight: bold;
      color: #000;
      text-align: right;
      padding-top: 25px;
      margin-right: 25px;
      margin-left: 25px;
    }

    .ranking-img {
      float: left;
      border-radius: 50%;
      border-color: #b2b2b2;
      border-style: solid;
      border-width: 1px;
    }

    .stats {
      font-weight: bold;
    }

    .text {
      font-size: 12px;
      position: absolute;
      left: 240px;
      padding-top: 2px;
    }
  }

  .smallRankingItem {
    padding-top: 5px;
    margin-right: 25px;

    table {
      width: 100%;
      td:nth-of-type(1) {
        width: 70px;
      }
      td:nth-of-type(2) {
        width: 100px;
        text-align: center;
        padding-right: 30px;
        a,
        a:active,
        a:visited {
          color: #000;
          text-decoration: none;
        }
        a:hover {
          font-weight: bold;
        }
      }
      td:nth-of-type(3) {
        color: #fff;
        p {
          background-color: #82ab1f;
        }
        .stats{
          font-weight: bold;
        }
        .text {
          font-size: 12px;
          position: absolute;
          left: 240px;
          padding-top: 2px;
        }
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .smallRankingNumber {
    float: left;
    min-width: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: right;
    margin-right: 25px;
    margin-left: 25px;
  }

}
