<div class="padding-2 padding-left plantbag-wrapper">
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/plantbag">
          {{ 'plantbag' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/paymentOptions" class="breadcrumb-active">
          {{ 'choosePaymentOption' | translate }}
        </a>
      </li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column">
      <h2>{{ 'choosePaymentOption' | translate }}</h2>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="column is-4 is-offset-4" *ngIf="showPaypal$ | async">
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>
      <div class="column is-flex is-justify-content-center">
        <img src="assets/sepa.png" width="256" height="183" routerLink="/sepa" />
      </div>
      <div *ngIf="!(loggedIn$ | async)" class="padding-top-1">
        <p class="fat">
          {{ 'notLoggedIn' | translate }}
        </p>
        <p>{{ 'plantBagInfoText' | translate }}</p>
        <p>
          {{ ('giftRedeemInfoDescription2' | translate) + ' ' }}
          <br />
          <br />
          <a class="fat" routerLink="/login">{{ 'login' | translate }}</a>
        </p>
        <p>
          {{ ('giftRedeemInfoDescription3' | translate) + ' ' }}
          <br />
          <br />
          <a class="fat" routerLink="/signup">{{ 'registerHere' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
