ngx-paypal {
  position: relative;
  z-index: 1;
}

.paypalWrapper {
  max-width: 525px;
  p {
    margin: 0;
    margin-right: 1rem;
  }
}

span {
  border: 1px solid var(--black);
  font-weight: bold;
  padding: 0.75rem;
  background: var(--orange);
  font-size: 1rem;
}

img {
  cursor: pointer;
}

.allowCookies {
  color: black;
}
