<div class="padding-2 padding-left plantbag-wrapper">
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/plantbag">
          {{ 'plantbag' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/paymentOptions" class="breadcrumb-active">
          {{ 'choosePaymentOption' | translate }}
        </a>
      </li>
    </ul>
  </nav>

  <div
    class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center w-100"
  >
    <h2 class="w-100">{{ 'choosePaymentOption' | translate }}</h2>
    <div class="column is-flex is-justify-content-center">
      <img src="assets/sepa.png" width="256" height="183" routerLink="/sepa" />
    </div>
    <div
      class="paypalWrapper w-100 center padding-bottom-1"
      *ngIf="(cookiesAccepted$ | async) && (plantbagPrice$ | async) >= 15"
    >
      <ngx-paypal class="w-100" [config]="payPalConfig"></ngx-paypal>
    </div>
    <app-button
      class="allowCookies padding-bottom-1"
      [label]="'allowPaypalCookies' | translate"
      (clicked)="showCookieConfirmation()"
      *ngIf="!(cookiesAccepted$ | async)"
      ></app-button
    >
    <span
      class="margin-bottom-1"
      *ngIf="(cookiesAccepted$ | async) && (plantbagPrice$ | async) < 15"
    >
      {{ '15eurMin' | translate }}
    </span>
    <a class="alignStart" routerLink="/plantbag">{{ 'backToPlantbag' | translate }}</a>
    <app-not-authenticated-warning *ngIf="!(loggedIn$ | async)"> </app-not-authenticated-warning>
  </div>
</div>
