<div class="padding-2 padding-left plantbag-wrapper">
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/plantbag">
          {{ 'plantbag' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/paymentOptions" class="breadcrumb-active">
          {{ 'choosePaymentOption' | translate }}
        </a>
      </li>
    </ul>
  </nav>

  <div
    class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center w-100"
  >
    <h2 class="w-100">{{ 'choosePaymentOption' | translate }}</h2>
    <div class="paypalWrapper w-100">
      <ngx-paypal
        class="w-100"
        [config]="payPalConfig"
        *ngIf="(cookiesAccepted$ | async) && (plantbagPrice$ | async) >= 16"
      ></ngx-paypal>
      <div
        class="w-100 is-flex is-flex-direction-row is-align-items-center is-justify-content-center"
      >
        <app-button
          class="allowCookies"
          [label]="'allowPaypalCookies' | translate"
          (clicked)="showCookieConfirmation()"
          *ngIf="!(cookiesAccepted$ | async)"
          >allow cookies</app-button
        >
      </div>
    </div>
    <div class="column is-flex is-justify-content-center">
      <img src="assets/sepa.png" width="256" height="183" routerLink="/sepa" />
    </div>
    <app-not-authenticated-warning *ngIf="!(loggedIn$ | async)"> </app-not-authenticated-warning>
  </div>
</div>
