<div class="is-flex is-flex-direction-column w-100 padding-2">
  <div class="columns">
    <div class="column center">
      <p>
        {{ 'pleaseEnterGiftCode' | translate }}
      </p>
    </div>
  </div>
  <form [formGroup]="giftForm">
    <div class="columns">
      <div class="column ">
        <div class="inputOutline">
          <input
            #value1
            id="value-1"
            matInput
            name="value1"
            formControlName="value1"
            class="gift-input"
          />
        </div>
      </div>
      <div class="column">
        <div class="inputOutline">
          <input
            #value2
            id="value-2"
            matInput
            name="value2"
            formControlName="value2"
            class="gift-input"
            maxlength="4"
          />
        </div>
      </div>
      <div class="column ">
        <div class="inputOutline">
          <input
            #value3
            id="value-3"
            matInput
            name="value3"
            formControlName="value3"
            class="gift-input"
            maxlength="4"
          />
        </div>
      </div>
      <div class="column ">
        <div class="inputOutline">
          <input
            #value4
            id="value-4"
            matInput
            name="value4"
            formControlName="value4"
            class="gift-input"
            maxlength="4"
          />
        </div>
      </div>
    </div>
    <div class="center">
      <app-button label="{{ 'redeemGift' | translate }}" (click)="redeemGiftCode()"></app-button>
    </div>
  </form>
</div>
