<div class="is-flex is-flex-direction-column w-100 padding-2 gift-box border-bottom">
  <h4 class="center">{{ 'certificates' | translate }}</h4>
  <p class="center margin-bottom-1">{{ ('selectPlantBagsForCertificate' | translate) + ':' }}</p>

  <table class="w-528 w-100" mat-table [dataSource]="cartPages.get(currentPage)">
    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef>{{ 'amount' | translate }}</th>
      <td class="tableAlignment" mat-cell *matCellDef="let cart">
        {{ cart.treeCount }}
      </td>
    </ng-container>
    <ng-container matColumnDef="invoiceNumber">
      <th mat-header-cell *matHeaderCellDef>{{ 'plantedOn' | translate }}</th>
      <td class="tableAlignment" mat-cell *matCellDef="let cart">
        {{ getDate(cart.timeStamp) | date : 'dd.MM.yyyy' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="PDF">
      <th mat-header-cell *matHeaderCellDef>{{ 'PDF' | translate }}</th>
      <td class="table48" mat-cell *matCellDef="let cart">
        <mat-checkbox (change)="toggleCertificate($event, cart.id)"></mat-checkbox>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    nextPageLabel="string"
    class="w-100 w-528 margin-bottom-1"
    [length]="totalPosts"
    [pageSize]="postsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePage($event)"
  >
  </mat-paginator>

  <div class="columns">
    <div class="column">
      <p>{{ 'thisTextIsShownInYourCertificate' | translate }}:</p>
      <div class="inputOutline w-100">
        <textarea
          matInput
          placeholder="Beschreibung(De)"
          rows="4"
          maxlength="250"
          [formControl]="customTextControl"
        ></textarea>
      </div>
      {{ '(' + customTextControl.value.length + '/250)' }}
    </div>
  </div>
  <div class="center">
    <app-button
      label="{{ 'createCertificate' | translate }}"
      (click)="createCertificate()"
    ></app-button>
  </div>
</div>
