.table48 {
  vertical-align: inherit;
}

.w-528 {
  max-width: 528px;
  margin: 0 auto;
}

textarea {
  font-family: 'Bull-mono' !important;
  font-size: 1rem;
}

table {
  th,
  td {
    font-size: 1rem;
  }
}
