<div class="is-flex is-flex-direction-column" #imageLink>
  <img id="myImg" [src]="images[0].imageUrl" (click)="openModal(0)" />
  <div class="dots w-100 is-flex is-justify-content-center">
    <mat-icon *ngFor="let image of images; let i = index" (click)="openModal(i)" class="index"
      >circle</mat-icon
    >
  </div>
</div>

<!-- Modal Content (The Image) -->
<div id="myModal" class="lightbox">
  <div class="content" (swiperight)="plusSlides(-1)" (swipeleft)="plusSlides(1)">
    <div *ngFor="let image of images">
      <div class="mySlides w-100 is-justify-content-center is-align-items-center">
        <div class="close" (click)="closeModal()">
          <mat-icon>close</mat-icon>
        </div>
        <img class="slideImage" [src]="image.imageUrl" />
        <p>{{ image.caption }}</p>
      </div>
      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
      <div class="imageNav w-100 is-flex is-justify-content-center">
        <mat-icon
          [class.selected]="slideIndex === i"
          class="index"
          *ngFor="let image of images; let i = index"
          (click)="openModal(i)"
          >circle</mat-icon
        >
      </div>
    </div>
  </div>
</div>
