.column {
  padding: 0;
}

.description {
  flex-direction: row;
}

.infoType {
  &:hover {
    color: var(--green);
    cursor: pointer;
  }
}

.selected {
  text-decoration: underline;
}

.img-fruit {
  position: absolute;
  top: 10%;
  right: 10%;
}

.wrapper {
  max-height: 750px;
  max-width: 750px;
  width: 100%;
  height: 100%;
  position: relative;
  .img-tree {
    width: 100%;
    cursor: pointer;
  }
}

.marker {
  position: absolute;
  left: 45%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--green);
  opacity: 0.6;
  // border: solid 3px var(--green);
  &:hover {
    background: #00000055;
    cursor: pointer;
    opacity: 0.9;
  }
  z-index: 2;
}

.activeMarker {
  background: #00000055;
}

.trunkMarker {
  bottom: 20%;
}

.leafMarker {
  left: 40%;
  bottom: 55%;
}

.fruitMarker {
  left: 50%;
  top: 25%;
}

@media only screen and (max-width: 768px) {
  .description {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .infoPage {
    padding: 1rem;
  }

  .img-fruit {
    right: 1rem;
    max-width: 100px;
  }
  .marker {
    height: 30px;
    width: 30px;
  }

  .leafMarker {
    bottom: 55%;
  }

  .trunkMarker {
    bottom: 20%;
  }

  .fruitMarker {
    left: 55%;
    bottom: 85%;
  }
}
