<div class="tree-overlay w-100 is-flex-direction-column is-flex">
  <div class="is-flex is-flex-direction-row is-justify-content-space-between padding-2">
    <nav class="breadcrumb">
      <ul>
        <li>
          <a routerLink="/">
            {{ 'startPage' | translate }}
          </a>
        </li>
        <li *ngIf="currentTree">
          <a class="breadcrumb-active">
            {{ currentTree.name }}
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="is-flex is-flex-direction-column infoPage padding-2">
    <div *ngIf="currentTree" class="description columns is-flex is-flex-direction-row">
      <div class="column is-half">
        <h2>{{ currentTree.name }}</h2>
        <!-- <p>
            {{ currentTree.family }}
          </p> -->
        <p>
          {{ currentTree.description }}
        </p>
        <!-- <p *ngIf="selectedInfoType === 'leaf'">
            {{ currentTree.leaf }}
          </p>
          <p *ngIf="selectedInfoType === 'trunk'">
            {{ currentTree.trunk }}
          </p>
          <p *ngIf="selectedInfoType === 'fruit'">
            {{ currentTree.fruit }}
          </p> -->
      </div>
      <div class="column is-half imageWrapper">
        <img src="{{ currentTree.imageFileName }}" alt="tree" />
      </div>
    </div>
  </div>
  <div class="treeSelectionTab columns is-multiline is-mobile">
    <app-tree-tile
      class="column is-half-mobile is-one-fifth-desktop treeTile"
      (click)="selectTree(tree)"
      *ngFor="let tree of trees"
      [tree]="tree"
    ></app-tree-tile>
  </div>
</div>
