<div class="tree-overlay w-100 is-flex-direction-column is-flex" id="top">
  <div
    class="is-flex is-flex-direction-column padding-top-075 padding-left is-justify-content-space-between"
  >
    <nav class="breadcrumb">
      <ul>
        <li>
          <a routerLink="/">
            {{ 'startPage' | translate }}
          </a>
        </li>
        <li>
          <a (click)="resetTree()">
            {{ 'explore' | translate }}
          </a>
        </li>
        <li *ngIf="currentTree">
          <a routerLink="/explore" class="breadcrumb-active">
            {{ currentTree.name }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="infoPage padding-4 padding-top-2">
    <div class="description columns">
      <div class="column is-6">
        <div *ngIf="!currentTree">
          <h2>{{ 'explore' | translate }}</h2>
          <p>{{ 'exploreInfo' | translate }}</p>
        </div>
        <div *ngIf="currentTree">
          <h2>{{ currentTree.name }}</h2>
          <p>
            {{ currentTree.description }}
          </p>
          <p *ngIf="selectedInfoType === 'help'">
            {{ 'exploreTip' | translate }}
          </p>
          <p *ngIf="selectedInfoType === 'leaf'">
            {{ currentTree.leaf }}
          </p>
          <p *ngIf="selectedInfoType === 'trunk'">
            {{ currentTree.trunk }}
          </p>
          <p *ngIf="selectedInfoType === 'fruit'">
            {{ currentTree.fruit }}
          </p>
        </div>
      </div>
      <div *ngIf="currentTree" class="column is-6">
        <div class="wrapper">
          <img
          class="img-tree"
          src="{{ currentImageUrl }}"
          (click)="selectInfoType('description')"
          alt="tree image"
        />
          <div
            class="marker trunkMarker"
            [class.activeMarker]="selectedInfoType === 'trunk'"
            (click)="selectInfoType('trunk')"
          ></div>
          <div
            class="marker leafMarker"
            [class.activeMarker]="selectedInfoType === 'leaf'"
            (click)="selectInfoType('leaf')"
          ></div>
          <div
            class="marker fruitMarker"
            [class.activeMarker]="selectedInfoType === 'fruit'"
            (click)="selectInfoType('fruit')"
          ></div>
          <img class="img-fruit" src="{{ currentFruitUrl }}" />
        </div>
      </div>
    </div>
  </div>
  <div class="treeSelectionTab columns is-multiline is-mobile border-top">
    <app-tree-tile
      class="column is-half-mobile is-one-fifth-desktop treeTile"
      (click)="selectTree(tree)"
      *ngFor="let tree of trees"
      [tree]="tree"
    ></app-tree-tile>
  </div>
  <app-offer-area></app-offer-area>
</div>
