<div
  class="is-flex is-flex-direction-row margin-left-1 columns is-mobile carousel-item"
>
  <div class="column is-3">
    <div class="image">
      <img src="{{ imageUrl }}" alt="image" />
    </div>
  </div>
  <div class="column is-9">
    <div class="is-flex is-flex-direction-column padding-1">
        <p>
          {{ ('treesPlanted' | translate) + ': ' + _item.amount }}
        </p>
        <p class="project" (click)="routeToProject()">
            {{('project' | translate) + ': ' + _item.projectArticle.project.name}}
        </p>
        <p>
          {{ ('date' | translate) + ': ' + (_item.plantedOn | date : 'dd.MM.yyyy') }}
        </p>
    </div>
  </div>
</div>
