h2 {
  margin: 1rem 0;
}

.bordered {
  border-right: solid 1px;
}

.rankings {
  padding: 4rem 2rem;
}

nav {
  margin-top: 1rem;
}

.load-more-icon {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.5rem;
}

.toggle-button {
  width: 190px;
}

@media only screen and (max-width: 768px) {
  .rankings {
    padding: 1rem;
  }
}
