<div class="columns">
  <div class="column is-one-third padding-left bordered">
    <nav class="breadcrumb">
      <ul>
        <li>
          <a routerLink="/">
            {{ 'startPage' | translate }}
          </a>
        </li>
        <li>
          <a class="breadcrumb-active">
            {{ 'plantedTrees' | translate | titlecase }}
          </a>
        </li>
      </ul>
    </nav>

    <h2>{{ 'plantedTrees' | translate | titlecase }}</h2>
    <p [innerHTML]="'rankingPageText' | translate"></p>
    <div class="radio-buttons margin-top-2">
      <div class="category">
        <div
          [ngClass]="type === 'bestUser' ? 'circle circle-active' : 'circle'"
          (click)="loadRankings('bestUser')"
        >
          <div></div>
        </div>
        <span>{{ 'all' | translate | titlecase }}</span>
      </div>
      <div class="category">
        <div
          [ngClass]="type === 'bestOrgType/PRIVATE' ? 'circle circle-active' : 'circle'"
          (click)="loadRankings('bestOrgType/PRIVATE')"
        >
          <div></div>
        </div>
        <span>{{ 'private' | translate | titlecase }}</span>
      </div>
      <div class="category">
        <div
          [ngClass]="type === 'bestOrgType/COMMERCIAL' ? 'circle circle-active' : 'circle'"
          (click)="loadRankings('bestOrgType/COMMERCIAL')"
        >
          <div></div>
        </div>
        <span>{{ 'companies' | translate | titlecase }}</span>
      </div>
      <div class="category">
        <div
          [ngClass]="type === 'bestOrgType/NONPROFIT' ? 'circle circle-active' : 'circle'"
          (click)="loadRankings('bestOrgType/NONPROFIT')"
        >
          <div></div>
        </div>
        <span>{{ 'ngos' | translate | titlecase }}</span>
      </div>
      <div class="category">
        <div
          [ngClass]="type === 'bestOrgType/EDUCATIONAL' ? 'circle circle-active' : 'circle'"
          (click)="loadRankings('bestOrgType/EDUCATIONAL')"
        >
          <div></div>
        </div>
        <span>{{ 'schools' | translate | titlecase }}</span>
      </div>
      <div class="category">
        <div
          [ngClass]="type === 'bestTeam' ? 'circle circle-active' : 'circle'"
          (click)="loadRankings('bestTeam')"
        >
          <div></div>
        </div>
        <span>{{ 'teams' | translate | titlecase }}</span>
      </div>
    </div>
  </div>
  <div class="column is-two-thirds rankings">
    <app-ranking-item
      *ngFor="let item of (rankings$ | async).content"
      [item]="item"
      [max]="maxValue$ | async"
      [type]="type"
    ></app-ranking-item>
  </div>
</div>
