h2 {
  margin: 1rem 0;
}
.bordered {
  border-right: solid 1px;
}

.category {
  margin-bottom: 1rem;
  span {
    font-size: 1.25rem;
  }
}

.radio-buttons {
  margin-top: 2rem;
}

.rankings {
  padding: 4rem 2rem;
}

nav {
  margin-top: 1rem;
}

.circle {
  display: inline-block;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  width: 21px;
  border-radius: 50%;
  height: 21px;
  margin-right: 10px;
  div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}
.circle-active {
  div {
    background: var(--black);
  }
}
.circle:hover {
  div {
    background: var(--green);
  }
}

@media only screen and (max-width: 768px) {
  .rankings {
    padding: 1rem;
  }
}
