
h2 {
  margin-top: 25px;
}
.bordered {
  border-right: solid 1px;
}

.description {
  font-family: 'Bull-regular' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 21px !important;
}

.category {
  margin-bottom: 10px;
  span {
    font-family: 'Bull-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
  }
}

.rankings {
  padding-top: 60px;
}

.circle {
  display: inline-block;
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  width: 21px;
  border-radius: 50%;
  height: 21px;
  margin-right: 10px;
  div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}
.circle-active {
  div {
    background: var(--black);
  }
}
.circle:hover {
  div {
    background: var(--green);
  }
}
