button {
  font-family: 'Bull-mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background: var(--dark-brown);
  border-radius: 45px;
  color: var(--background);
}
button:hover {
  background: var(--green);
  color: var(--black);
}
