button {
  font-family: 'Bull-mono';
  padding: 1.25rem 1rem!important;
  font-size: 1rem;
  background: var(--dark-brown);
  border-radius: 45px;
  color: var(--background)!important;
}
button:hover {
  background: var(--green);
  color: var(--black)!important;
}
