@import '../../less/basecolors.less';

.selfPlantOverview {
  .row {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 20px;
    background-color: @base-background-color;
  }

  .leaflet-container {
    height: 600px;

    .glyphicon-tree-deciduous {
      font-size: 15px;
    }

    .my-tree {
      font-size: 20px;
      color: red;
    }
  }

  h1 {
    div {
      display: inline-block;
      float: right;
      margin-left: 5px;
    }

    .delete-btn {
      a {
        background-color: red;

      }
    }
  }
}
