.bottomPart{
  .bottomTable {
    width: 100%;
    margin-bottom: 25px;
    td {
      width: 33%;
    }
    td:nth-child(2) {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 25px;
      span {
        font-size: 24px;
        font-weight: bold;
        color: #82ab1f;
      }
    }
    td:nth-child(3) {
      text-align: right;
      img{
        vertical-align: top;
      }
    }
  }

  .line{
    font-size: 16px;
    text-align: center;
    border-width: 1px;
    border-style: solid none none none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
}
