.bottomPart {
  .button-and-price {
    text-align: right;
    margin-top: 25px;
    margin-bottom: 25px;
    .price {
      display: inline-block;

      margin-right: 25px;
      span {
        font-size: 24px;
        font-weight: bold;
        color: #82ab1f;
      }
    }
    .plantBagButton {
      display: inline-block;
      img {
        vertical-align: top;
      }
    }
  }
  .line {
    font-size: 16px;
    text-align: center;
    border-width: 1px;
    border-style: solid none none none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }
}
