@import '../../less/basecolors.less';

.buttonBar {
  text-align: center;

  padding: 5px;
  .buttonDiv {
    background-color: #fff;
    margin: 5px;
    font-size: 14px;
    display: inline-block;
    width: 90px;
    color: @accent-color;
    border-style: solid;
    border-width: 1px;
    border-color: @accent-color;
    border-radius: 0 !important;
    a,
    a:active,
    a:visited {
      color: @accent-color;
      text-decoration: none;
    }
  }
  .buttonDiv:hover {
    background-color: @accent-color;
    color: #fff;
    a {
      color: #fff;
    }
  }

  .chosen {
    background-color: @accent-color;
    color: #fff;
    a {
      color: #fff;
    }
  }
}
