.buttonBar {
  text-align: center;

  padding: 5px;
  .buttonDiv {
    background-color: #fff;
    margin: 5px;
    font-size: 14px;
    display: inline-block;
    width: 90px;
    color: #82ab1f;
    border-style: solid;
    border-width: 1px;
    border-color: #82ab1f;
    border-radius: 8px;
    a,
    a:active,
    a:visited {
      color: #82ab1f;
      text-decoration: none;
    }
  }
  .buttonDiv:hover {
    background-color: #82ab1f;
    color: #fff;
    a {
      color: #fff;
    }
  }

  .chosen {
    background-color: #82ab1f;
    color: #fff;
    a {
      color: #fff;
    }
  }
}
