.giftRedeem{
  background: #ffffff;
  margin-left: 0;
  margin-right: 0;
  text-align: center;

  .code{
    display: inline-block;
    padding: 10px;
    border-style: solid;
    margin-bottom: 15px;
    background: rgba(60, 25, 30, .5);
  }

}
