@import '../../less/basecolors.less';

.registrationPage {
  background: @base-background-color;

  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 25px;
  }

  .col-md-12 {
    padding: 0px;
  }

  .checkBox {
    margin: 0px 0px 5px 0px;
  }

  .registrationForm {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: @base-background-color;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
}

.registrationDone {
  background: @base-background-color;
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 25px;
  }
  .col-md-12 {
    padding: 0px;
  }
}
