@import '../../less/basecolors.less';

.blogPage {
  .row {
    background-color: @base-background-color;
    margin-left: 0;
    margin-right: 0;

    .col-md-10 {
      padding-left: 4vw;
    }

    .col-md-12 {
      padding-left: 4vw;
      padding-right: 4vw;
    }
  }
  .article-img {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    .article-img-div {
      display: inline-block;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
      .img-desc {
        text-align: left;
        font-size: 12px;
      }
    }
  }
  a,
  a:active,
  a:visited {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    color: @accent-color;
  }

  .article-img {
    text-align: center;
  }

  .paragraph {
    margin-bottom: 15px;
  }
}
