@import '../../less/basecolors.less';

.blogOverviewPage {
  background-color: @base-background-color;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 15px;
  padding-left: 4vw;
  padding-right: 4vw;

  .article-entry {
    border-style: none none solid none;
    border-width: 1px;
    padding-bottom: 10px;

    h4 {
      margin-bottom: 0;
    }
    span {
      font-size: 12px;
    }
    a,
    a:active,
    a:hover,
    a:visited {
      color: #000;
      text-decoration: none;
    }
    .article-content {
      padding-top: 10px;
      overflow: hidden;

      img {
        float: left;
        margin-right: 10px;
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
      }
      p {
        vertical-align: top;
      }
    }
  }

  .pagingLink {
    margin-top: 10px;
    display: block;
    color: #000;
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
  }
  .pagingLink:hover {
    opacity: 1;
  }
}
