.blogOverviewPage {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 15px;

  .article-entry {
    border-style: none none solid none;
    border-width: 1px;
    padding-bottom: 10px;

    h4{
      margin-bottom: 0;
    }
    span{
      font-size: 12px;
    }
    .article-content {
      padding-top: 10px;
      img {
        max-width: 100%;
        height: auto;
      }
      p{
        display: inline;
        vertical-align: top;
        margin-left: 10px;
      }
    }
  }
  a,
  a:active,
  a:hover,
  a:visited {
    color: #000;
    text-decoration: none;
  }
}
