@import '../../less/basecolors.less';

.blogOverviewPage {

  .row {
    background-color: @base-background-color;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 15px;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .col-md-4 {
    padding: 0;
    width: 310px;
  }

  .article-entry {
    border-style: none none solid none;
    border-width: 1px;
    padding-bottom: 10px;
    width: 300px;
    height: 500px;
    margin: 0;

    h4 {
      margin-bottom: 0;
    }
    span {
      font-size: 12px;
    }
    a,
    a:active,
    a:hover,
    a:visited {
      color: #000;
      text-decoration: none;
    }
    .article-content {
      padding-top: 10px;
      overflow: hidden;

      img {
        float: left;
        max-width: 100%;
        width: 300px;
        height: 200px;
        margin-bottom: 15px;
      }
      p {
        vertical-align: top;
      }
    }
  }

  .pagingLink {
    margin-top: 10px;
    display: block;
    color: #000;
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
  }
  .pagingLink:hover {
    opacity: 1;
  }
}
