<div class="columns">
  <div class="column logo-col bordered">
    <app-logo-icon [width]="96" [height]="96"></app-logo-icon>
  </div>
  <div class="column bordered link-col">
    <a href="" routerLink="/">
      {{ 'contact' | translate }}
    </a>
    <div class="footer-spacer"></div>
    <a href="" routerLink="/">
      {{ 'newsletter' | translate }}
    </a>
    <div class="footer-spacer"></div>
    <a href="" routerLink="/">
      {{ 'aboutUs' | translate }}
    </a>
    <div class="footer-spacer"></div>
    <a href="" routerLink="/">
      {{ 'blog' | translate }}
    </a>
  </div>
  <div class="column bordered link-col">
    <a href="" routerLink="/">
      {{ 'numbers' | translate }}
    </a>
    <div class="footer-spacer"></div>
    <a href="" routerLink="/">
      {{ 'facts' | translate }}
    </a>
    <div class="footer-spacer"></div>
    <a href="" routerLink="/">
      {{ 'finances' | translate }}
    </a>
    <div class="footer-spacer"></div>
    <a href="" routerLink="/">
      {{ 'partner' | translate }}
    </a>
  </div>
  <div class="column bordered link-col">
    <a href="" routerLink="/">
      {{ 'press' | translate }}
    </a>
    <div class="footer-spacer"></div>
    <a href="" routerLink="/">
      {{ 'ranking' | translate }}
    </a>
  </div>
  <div class="column bordered link-col">
    <a href="" routerLink="/">
      {{ 'imprint' | translate }}
    </a>
    <div class="footer-spacer"></div>
    <a href="" routerLink="/">
      {{ 'dsgvo' | translate }}
    </a>
  </div>
</div>
