@import '../../../less/basecolors.less';

@media (min-width: 436px) and (max-width: 680px) {
  .header {
    .outline-logo {
      float: right!important;
    }
    .col-md-4:nth-child(1) {
      width: 66.66%;
    }
    .col-md-4:nth-child(2) {
      width: 33.33%;
    }
    .col-md-4:nth-child(3) {
      width: 100%;
      padding-left: 0;
      .buttonBar {
        width: 100%;
      }
    }
  }
}
@media (max-width: 435px) {
  .header {
    text-align: center;
    .col-md-4 {
      width: 100%!important;
    }
    .col-md-4:nth-child(3) {
      padding-left: 0;
      .buttonBar {
        float:none;
        width: 100%;
      }
    }
  }
}

.header {
  background: transparent;
  padding-top: 4px;

  .tree-chars {
    font-family: Georgia,Times,Times New Roman,serif;
    color: @base-background-color;
    font-size: 3em;
  }

  .tree-number {
    color: @base-background-color;
    font-size: 3em;
    font-weight: bold;
  }

  .co2-number {
    color: @base-background-color;
    font-size: 1.3em;
    font-weight: bold;
  }

  .co2-chars {
    font-family: Georgia,Times,Times New Roman,serif;
    color: @base-background-color;
    font-size: 1.3em;
  }

  .row {
    > * {
      float: none;
      display: inline-block;
      width: 33.33%;
    }
    > *:first-child {
      padding-left: 0;
      vertical-align: bottom;
      padding-bottom: 17px;
      padding-left: 17px;
    }
    > *:nth-child(2) {
      text-align: center;
      padding-bottom: 14px;
    }
    > *:last-child {
      vertical-align: bottom;
      padding-right: 0;
    }
  }

  .buttonBar {
    width: 199px;

    background-color: @primary-color;
    padding: 0;
    float: right;
    div {
      width: 199px;
      text-align: left;

    }
  }

}
