<app-profile-info
  *ngIf="profileDetails$ | async"
  [profileDetails]="profileDetails$ | async"
></app-profile-info>
<!-- <app-profile-info
  *ngIf="profileDetails$ | async"
  [profileDetails]="profileDetails$ | async"
  [teamDetails]="teamDetails$ | async"
></app-profile-info> -->

<div class="columns is-flex w-100 padding-2 is-multiline" *ngIf="plantings">
  <app-carousel-item
    *ngFor="let planting of plantings"
    [rankingItem]="planting"
    class="column is-one-quarter"
  >
  </app-carousel-item>
</div>
<!-- <div class="columns is-flex w-100 padding-2 is-multiline" *ngIf="plantings">
  <app-carousel-item
    *ngFor="let planting of plantings$ | async"
    [rankingItem]="planting"
    class="column is-one-quarter"
  >
  </app-carousel-item>
</div> -->

<app-newsletter> </app-newsletter>
