<app-profile-info
  *ngIf="profileDetails$ | async"
  [profileDetails]="profileDetails$ | async"
></app-profile-info>
<!-- <app-profile-info
  *ngIf="profileDetails$ | async"
  [profileDetails]="profileDetails$ | async"
  [teamDetails]="teamDetails$ | async"
></app-profile-info> -->

<div class="is-flex is-flex-direction-column w-100 padding-2" *ngIf=" (profileDetails$ | async)?.trees?.content">
  <h4 class="center">{{ 'plantings' | translate }}</h4>
  <div class="columns is-flex is-flex-direction-row is-multiline">
    <app-carousel-item
      *ngFor="let planting of (profileDetails$ | async).trees.content"
      [rankingItem]="{name: planting.projectName, amount: planting.amount}"
      class="column is-one-quarter"
    >
    </app-carousel-item>
  </div>
</div>
<!-- <div class="columns is-flex w-100 padding-2 is-multiline" *ngIf="plantings">
  <app-carousel-item
    *ngFor="let planting of plantings$ | async"
    [rankingItem]="planting"
    class="column is-one-quarter"
  >
  </app-carousel-item>
</div> -->

<app-newsletter> </app-newsletter>
