<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="columns">
        <div class="column is-2">
          <mat-form-field>
            <input
              matInput
              placeholder="Name(De)"
              name="name"
              required
              formControlName="nameDe"
            />
          </mat-form-field>
        </div>
        <div class="column is-2">
          <mat-form-field>
            <input
              matInput
              placeholder="Name(En)"
              name="name"
              required
              formControlName="nameEn"
            />
          </mat-form-field>
        </div>
        <div class="column is-2">
          <img src="{{ imageSrc }}" width="150" height="150" *ngIf="imageSrc" />
          <p *ngIf="!imageSrc">Kein Bild ausgewählt</p>
        </div>
        <div class="column is-2">
          <input
            #csvInput
            hidden="true"
            type="file"
            onclick="this.value=null"
            (change)="imageChanged($event)"
            accept=".png, .jpg, .jpeg"
          />
          <button mat-raised-button color="primary" (click)="csvInput.click()">
            Bild
          </button>
          <br/>
          <button mat-raised-button color="primary" (click)="updateTreetype()">
            Speichern
          </button>
          <br/>
          <button mat-icon-button color="warn" (click)="delete()">
            <mat-icon aria-hidden="false">delete</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
