<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="columns">
        <div class="column is-6">
          <div class="columns is-flex is-justify-content-space-around">
            <mat-form-field>
              <input
                matInput
                placeholder="Name(De)"
                name="name"
                required
                formControlName="nameDe"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Name(En)"
                name="name"
                required
                formControlName="nameEn"
              />
            </mat-form-field>
          </div>
          <div class="columns is-flex is-justify-content-space-around">
            <mat-form-field>
              <textarea
                matInput
                placeholder="Beschreibung(De)"
                name="description"
                required
                formControlName="descriptionDe"
                rows="5"
              ></textarea>
            </mat-form-field>
            <mat-form-field>
              <textarea
                matInput
                placeholder="description(En)"
                name="description"
                required
                formControlName="descriptionEn"
                rows="5"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="columns is-flex is-justify-content-space-around">
            <mat-form-field>
              <textarea
                matInput
                placeholder="Blätter(De)"
                name="leaf"
                required
                formControlName="leafDe"
                rows="5"
              ></textarea>
            </mat-form-field>
            <mat-form-field>
              <textarea
                matInput
                placeholder="leaf(En)"
                name="leaf"
                required
                formControlName="leafEn"
                rows="5"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="columns is-flex is-justify-content-space-around">
            <mat-form-field>
              <textarea
                matInput
                placeholder="Früchte(De)"
                name="fruit"
                required
                formControlName="fruitDe"
                rows="5"
              ></textarea>
            </mat-form-field>
            <mat-form-field>
              <textarea
                matInput
                placeholder="fruit(En)"
                name="fruit"
                required
                formControlName="fruitEn"
                rows="5"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="columns is-flex is-justify-content-space-around">
            <mat-form-field>
              <textarea
                matInput
                placeholder="Stamm(De)"
                name="trunk"
                required
                formControlName="trunkDe"
                rows="5"
              ></textarea>
            </mat-form-field>
            <mat-form-field>
              <textarea
                matInput
                placeholder="trunk(En)"
                name="trunk"
                required
                formControlName="trunkEn"
                rows="5"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="column is-6">
          <div class="columns">
            <app-tree-type-image-upload
              [imageType]="'treeImageColor'"
              [imageFileName]="form.get('treeImageColor').value"
              (emitImageChanged)="setImageFile($event)"
            >
            </app-tree-type-image-upload>
            <app-tree-type-image-upload
              [imageType]="'treeImageBW'"
              [imageFileName]="form.get('treeImageBW').value"
              (emitImageChanged)="setImageFile($event)"
            >
            </app-tree-type-image-upload>
            <app-tree-type-image-upload
              [imageType]="'fruitImageColor'"
              [imageFileName]="form.get('fruitImageColor').value"
              (emitImageChanged)="setImageFile($event)"
            >
            </app-tree-type-image-upload>
            <app-tree-type-image-upload
              [imageType]="'fruitImageBW'"
              [imageFileName]="form.get('fruitImageBW').value"
              (emitImageChanged)="setImageFile($event)"
            >
            </app-tree-type-image-upload>
          </div>
          <div class="columns">
            <button mat-raised-button color="primary" (click)="updateTreetype()">Speichern</button>
            <button mat-icon-button color="warn" (click)="delete()">
              <mat-icon aria-hidden="false">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
