.close-wrapper {
  text-align: right;
  .close-button {
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
  }
}

b {
  margin-right: 5px;
}

.columns {
  .column {
    padding-bottom: 0;
    padding-top: 0;
  }
  .tree-type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price {
    text-align: right;
    padding-right: 0;    
  }
}

.spacer {
  height: 1rem;
}
