<mat-card>
  <mat-card-content>
    <div class="close-wrapper">
      <span class="close-button" (click)="closeDetails()">X</span>
    </div>
    <div class="columns">
      <div class="column is-one-fifth">
        <b>Id:</b>
      </div>
      <div class="column is-four-fifth">{{ cartDetails.id }}</div>
    </div>
    <div class="columns">
      <div class="column is-one-fifth">
        <b>Datum:</b>
      </div>
      <div class="column is-four-fifth">{{ cartDetails.timeStamp | date : 'dd.MM.yyyy' }}</div>
    </div>
    <div class="columns">
      <div class="column is-one-fifth">
        <b>Bäume:</b>
      </div>
      <div class="column is-four-fifth">{{ cartDetails.treeCount }}</div>
    </div>
    <div class="spacer"></div>
    <div class="columns">
      <div class="column"><b>Baumart</b></div>
      <div class="column"><b>Projekt</b></div>
      <div class="column"><b>Anzahl</b></div>
      <div class="column"><b>Preis/Stk</b></div>
      <div class="column"><b>Gesamt</b></div>
    </div>
    <div class="columns" *ngFor="let item of cartDetails.cartItems">
      <div class="column tree-type">
        {{ createName(item.tree.treeType.name) }}
      </div>
      <div class="column">
        {{ item.tree.projectArticle.project.name }}
      </div>
      <div class="column">
        {{ item.tree.amount }}
      </div>
      <div class="column">
        {{ item.basePricePerPiece | currency : 'EUR' }}
      </div>
      <div class="column">
        {{ item.totalPrice | currency : 'EUR' }}
      </div>
    </div>
    <div class="spacer"></div>
    <div class="columns">
      <div class="column is-four-fifth price">
        <b>Gesamt:</b>
      </div>
      <div class="column is-one-fifth">
        <b>{{ cartDetails.totalPrice | currency : 'EUR' }}</b>
      </div>
    </div>
  </mat-card-content>
</mat-card>
