<div class="spacer"></div>
<div class="columns">
  <div class="column is-2"></div>
  <div class="column is-4">
    <mat-form-field appearance="fill" class="title-field">
      <input
        type="text"
        placeholder="Von User der Bäume abgibt"
        matInput
        [formControl]="filterControlFromUser"
        [matAutocomplete]="auto"
        class="filter-input"
      />
      <mat-icon
        aria-hidden="false"
        (click)="removeFromUser()"
        *ngIf="fromUser.value"
        >delete</mat-icon
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredOptionsFromUser" [value]="user">
          {{ user.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="column is-4">
    <mat-form-field appearance="fill" class="title-field">
      <input
        type="text"
        placeholder="Zu User der Bäume aufnimmt"
        matInput
        [formControl]="filterControlToUser"
        [matAutocomplete]="autoTo"
        class="filter-input"
      />
      <mat-icon
        aria-hidden="false"
        (click)="removeToUser()"
        *ngIf="toUser.value"
        >delete</mat-icon
      >
      <mat-autocomplete #autoTo="matAutocomplete">
        <mat-option *ngFor="let user of filteredOptionsToUser" [value]="user">
          {{ user.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
<div class="columns">
  <div class="column is-2"></div>
  <div class="column is-4 transfer-text">
    <p>
      <b>{{
        "Anzahl der zu übertragenden Bäume: " + (amountOfTrees$ | async)
      }}</b>
    </p>
  </div>
  <div class="column is-2">
    <button
      mat-raised-button
      color="primary"
      (click)="transferTrees()"
      [disabled]="!fromUser.value || !toUser.value"
    >
      Bäume übertragen
    </button>
  </div>
</div>
