#%RAML 0.8
---
title: I Plant A Tree API
#baseUri: http://iplantatree.org/rest/{version}
baseUri: http://localhost:8080/rest/{version}
version: v1
mediaType: application/json
traits:
  - paged:
      queryParameters:
        page:
          default: 0
          description: The page number starting by 0.
        size:
          default: 20
          description: The elements the result should contain.
  - sorted:
      queryParameters:
        sort:
          description: A field to sort the result by.
schemas:
  - treetypes: !include treetypes.schema
  - treetype: !include treetype.schema
  - user: !include user.schema
  - tree: !include tree.schema
  - trees: !include trees.schema
resourceTypes:
  - collection:
      is: [paged, sorted]
      description: Collection of available <<resourcePathName>>.
      get:
        description: Get a list of <<resourcePathName>>.
        responses:
          200:
            body:
              application/json:
                example: |
                  <<exampleCollection>>
  - collection-item:
      description: Entity representing a <<resourcePathName|!singularize>>
      get:
        description: |
          Get the <<resourcePathName|!singularize>>
          with <<resourcePathName>>/id
        responses:
          200:
            body:
              application/json:
                example: |
                  <<exampleItem>>
          404:
            body:
              application/json:
                example: |
                  {"message": "<<resourcePathName|!singularize>> not found" }
/treetypes:
  type:
    collection:
      exampleCollection: !include treetypes.sample
  get:
    responses:
      200:
        body:
          application/json:
            schema: treetypes
  /{id}:
    type:
      collection-item:
        exampleItem: !include treetype.sample
    get:
      responses:
        200:
          body:
            application/json:
              schema: treetype
/trees:
  type:
    collection:
      exampleCollection: !include trees.sample
  get:
    responses:
      200:
        body:
          application/json:
            schema: trees
  /{id}:
    type:
      collection-item:
        exampleItem: !include tree.sample
    get:
      responses:
        200:
          body:
            application/json:
              schema: tree
/projects:
  type:
    collection:
      exampleCollection: !include treetypes.sample
  get:
    responses:
      200:
        body:
          application/json:
  put:
  /active:
    type:
      collection:
        exampleCollection: !include treetypes.sample
    get:
      responses:
        200:
          body:
            application/json:
  /recommend:
    type:
      collection-item:
        exampleItem: !include treetype.sample
    get:
      responses:
        200:
          body:
            application/json:
  /{id}:
      type:
        collection-item:
          exampleItem: !include treetype.sample
      get:
        responses:
          200:
            body:
              application/json:
      delete:
      patch:
      /treetypes:
        type:
          collection:
            exampleCollection: !include treetypes.sample
        get:
          responses:
            200:
              body:
                application/json:
                  schema: treetypes
      /trees:
        type:
          collection:
            exampleCollection: !include trees.sample
        get:
          responses:
            200:
              body:
                application/json:
                  schema: trees
/users:
  type:
    collection:
      exampleCollection: |
        {}
  get:
    responses:
      200:
        body:
          application/json:
            schema: |
              {}
  put:
  /{id}:
    type:
      collection-item:
        exampleItem: |
          {}
    get:
      responses:
        200:
          body:
            application/json:
              schema: |
                {}
    patch:
    delete:
/reports:
  /co2:
    get:
      responses:
        200:
          body:
            application/json:
              example: !include co2.sample
  /plants/newest:
      get:
  /users/newest:
      get:
  /users/best:
      get:
  /teams/newest:
      get:
  /teams/best:
      get:
  /comments/newest:
      get:
