{
  "name": "Birke",
  "id": 3,
  "annualCo2SavingInTons": 0.02,
  "description": "Die Birke bilden eine Pflanzengattung in der Unterfamilie der Rosskastaniengewächse (Hippocastanoideae) innerhalb der Familie der Seifenbaumgewächse (Sapindaceae).",
  "imageFile": null,
  "infoLink": null
}