[
  {
    "owner": {
      "name": "admin",
      "id": 1,
      "enabled": true,
      "banned": false
    },
    "dtoId": 1,
    "amount": 0,
    "longitude": 0,
    "latitude": 0,
    "submittedOn": 1434651634116,
    "plantedOn": 1000000,
    "treeTypeName": null,
    "ownerName": null,
    "treeTypeId": null,
    "_links": {
      "self": {
        "href": "http://localhost:8080/rest/v1/trees/1"
      },
      "treeType": {
        "href": "http://localhost:8080/rest/v1/treetypes/null"
      }
    }
  },
  {
    "owner": {
      "name": "Martin",
      "id": 2,
      "enabled": true,
      "banned": false
    },
    "dtoId": 2,
    "amount": 1,
    "longitude": 1,
    "latitude": 1,
    "submittedOn": 1434651634303,
    "plantedOn": 1000001,
    "treeTypeName": null,
    "ownerName": null,
    "treeTypeId": null,
    "_links": {
      "self": {
        "href": "http://localhost:8080/rest/v1/trees/2"
      },
      "treeType": {
        "href": "http://localhost:8080/rest/v1/treetypes/null"
      }
    }
  },
  {
    "owner": {
      "name": "Sebastian",
      "id": 3,
      "enabled": true,
      "banned": false
    },
    "dtoId": 3,
    "amount": 2,
    "longitude": 2,
    "latitude": 2,
    "submittedOn": 1434651634314,
    "plantedOn": 1000002,
    "treeTypeName": null,
    "ownerName": null,
    "treeTypeId": null,
    "_links": {
      "self": {
        "href": "http://localhost:8080/rest/v1/trees/3"
      },
      "treeType": {
        "href": "http://localhost:8080/rest/v1/treetypes/null"
      }
    }
  }
]