<div class="padding-2 padding-left plantbag-wrapper">
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/plantbag">
          {{ 'plantbag' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/paymentOptions">
          {{ 'choosePaymentOption' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/sepa" class="breadcrumb-active">
          {{ 'sepaPayment' | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="columns padding-left">
  <div class="column">
    <h2>{{ 'sepaPayment' | translate }}</h2>
  </div>
</div>

<div class="columns">
  <div class="column is-4 is-offset-4">
    <div class="columns">
      <div class="column">
        <form [formGroup]="form">
          <div class="columns">
            <div class="column">
              <div class="inputOutline">
                <input
                  matInput
                  placeholder="{{ 'company' | translate }}"
                  name="company"
                  formControlName="company"
                />
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="inputOutline">
                <mat-select
                  formControlName="salutation"
                  placeholder="{{ 'salutation' | translate }}"
                  [compareWith]="compareValues"
                >
                  <mat-option
                    *ngFor="let salutation of salutations"
                    [value]="salutation.value"
                    >{{ salutation.label | translate }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
            <div class="column">
              <div class="inputOutline">
                <input
                  matInput
                  placeholder="{{ 'title' | translate }}"
                  name="title"
                  formControlName="title"
                />
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="inputOutline">
                <input
                  matInput
                  placeholder="{{ 'firstName' | translate }}"
                  name="forename"
                  formControlName="forename"
                />
              </div>
            </div>
            <div class="column">
              <div class="inputOutline">
                <input
                  matInput
                  placeholder="{{ 'lastName' | translate }}"
                  name="name"
                  formControlName="name"
                />
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="inputOutline">
                <input
                  matInput
                  placeholder="{{ 'streetAndNo' | translate }}"
                  name="street"
                  formControlName="street"
                />
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="inputOutline">
                <input
                  matInput
                  placeholder="{{ 'zip' | translate }}"
                  name="zip"
                  formControlName="zip"
                />
              </div>
            </div>
            <div class="column">
              <div class="inputOutline">
                <input
                  matInput
                  placeholder="{{ 'city' | translate }}"
                  name="city"
                  formControlName="city"
                />
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="inputOutline">
                <input
                  matInput
                  placeholder="{{ 'country' | translate }}"
                  name="country"
                  formControlName="country"
                />
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="inputOutline">
                <input
                  matInput
                  placeholder="{{ 'email' | translate }}"
                  name="mail"
                  formControlName="mail"
                />
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="inputOutline">
                <input
                  matInput
                  placeholder="{{ 'iban' | translate }}"
                  name="iban"
                  formControlName="iban"
                />
              </div>
            </div>
            <div class="column">
              <div class="inputOutline">
                <input
                  matInput
                  placeholder="{{ 'bic' | translate }}"
                  name="bic"
                  formControlName="bic"
                />
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column btn-row">
              <span class="price">
                {{ plantBagPrice$ | async | currency : '€' }}
              </span>
              <br />
              <app-button
                *ngIf="!cartPayed"
                label="{{ 'donateNow' | translate }}"
                (click)="payPlantbag()"
              ></app-button>
              <p *ngIf="cartPayed">{{ 'plantbagPayed' | translate }}</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
