<div
  class="is-flex is-flex-direction-row margin-left-1 columns is-mobile carousel-item"
  (click)="linkToProfile()"
>
  <div class="column is-3">
    <div class="image">
      <img src="{{ imageUrl }}" alt="image" />
    </div>
  </div>
  <div class="column is-9">
    <div class="is-flex is-flex-direction-column padding-1">
      <p class="name">
        {{ _item.name }}
      </p>
      <p>
        {{ ('treesPlanted' | translate) + ': ' + _item.amount }}
      </p>
      <p *ngIf="_item['plantedOn']">
        {{ ('date' | translate) + ': ' + (_item['plantedOn'] | date : 'dd.MM.yyyy') }}
      </p>
      <p
        *ngIf="_item['co2Saved']"
        innerHTML="{{ ('CO2Trapped' | translate) + ': ' + _item['co2Saved'] + 't' }}"
      ></p>
    </div>
  </div>
</div>
