.userOverview {
  .row {
    background-color: #e5e5e5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
  }

  .user-name-changer {
    padding-top: 5px;
    input {
      vertical-align: top;
      width: 250px;
      margin-right: 10px;
    }
  }

  .mail-changer {
    padding-top: 5px;

    input {
      width: 350px;
      vertical-align: top;
      margin-right: 10px;
    }
  }
  .glyphicon-ok,
  .glyphicon-pencil,
  .glyphicon-remove {
    font-size: 20px;
  }
  .glyphicon-floppy-open {
    font-size: 22px;
  }

  .notification-warning {
    height: 120px!important;
  }

  .delete-confirmation {
    margin-top: 10px;
    button {
      width: 90px;
    }
    button:nth-child(1) {
      margin-right: 15px;
    }
  }

  .react-grid-Container {
    background: #fff;
    border-style: solid;
    border-width: 1px;
    max-width: 100%;

    .react-grid-Header {
      background: #737373;
      color: #fff;
    }
    .react-grid-HeaderCell {
      font-weight: bold;
      border-style: none solid none none;
      border-width: 1px;
      padding: 5px;
    }
    .react-grid-HeaderCell:nth-child(2),
    .react-grid-HeaderCell:nth-child(4) {
      border-style: none;
    }

    .react-grid-Cell {
      border-style: none solid none none;
      border-width: 1px;
      padding-left: 5px;
    }
    .react-grid-Cell:nth-child(2),
    .react-grid-Cell:nth-child(4) {
      border-style: none;
    }
    .react-grid-Cell:nth-child(3),
    .react-grid-Cell:nth-child(5),
    .react-grid-Cell:nth-child(6),
    .react-grid-Cell:nth-child(7) {
      padding-top: 7px;
      text-align: center;
    }
    .react-grid-Row:nth-child(2n+1) {
      background-color: #e5e5e5;
    }

  }
}
