@import '../../../less/basecolors.less';

.userOverview {
  .row {
    background-color: #e5e5e5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
  }

  .user-name-changer {
    padding-top: 5px;
    input {
      vertical-align: top;
      width: auto;
      margin-right: 10px;
    }
  }

  .mail-changer {
    padding-top: 5px;

    input {
      width: 345px;
      vertical-align: top;
      margin-right: 10px;
    }
  }
  .glyphicon-ok,
  .glyphicon-pencil,
  .glyphicon-remove {
    font-size: 20px;
  }
  .glyphicon-ok,
  .glyphicon-floppy-open {
    color: @accent-color!important;
  }
  .glyphicon-remove {
    color: red !important;
  }
  .glyphicon-floppy-open {
    font-size: 22px;
  }

  .notification-warning {
    height: 120px !important;
  }

  .delete-confirmation {
    margin-top: 10px;
    button {
      width: 90px;
    }
    button:nth-child(1) {
      margin-right: 15px;
    }
  }

  .react-grid-Container {
    .iconButton {
      a {
        background-color: #fff;
        .glyphicon-pencil {
          color: #000;
        }
      }
    }
  }
}
