@import '../../less/basecolors.less';

.co2Calculator {
  .row {
    background-color: @base-background-color;
    margin-left: 0;
    margin-right: 0;
  }

  .col-md-12 {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .col-md-6 {
    padding-top: 0.15vw;
    padding-bottom: 0.15vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .results {
    padding-top: 0.3vw;
  }

  .overall-result {
    text-align: center;
    font-size: 18px;
    padding-bottom: 1vw;
  }
}
