.article-manager {
  .row {
    background-color: #e5e5e5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .settings-row {
    .col-md-2:nth-of-type(2n+1) {
      text-align: right;
    }
  }
  .content-row {
    .title {
      input {
        width: 100%;
      }
    }
    .col-md-2 {
      text-align: right;
    }
  }
  .image-row {
    .col-md-2 {
      text-align: right;
    }
    input {
      width: 50%;
    }
  }

  .notification-warning{
      height: 100px!important;
  }

  .delete-confirmation {
    margin-top: 10px;
    button {
      width: 90px;
    }
    button:nth-child(1) {
      margin-right: 15px;
    }
  }

}
