<a
  class="is-flex is-align-items-center is-flex-direction-row"
  href="https://www.instagram.com/iplantatree/"
  target="_blank"
>
  <app-instagram-icon
    style="margin-right: 10px"
    href="https://www.instagram.com/iplantatree/"
  ></app-instagram-icon>
  <span> instagram </span>
</a>
<a
  class="is-flex is-align-items-center"
  href="https://www.youtube.com/@iplantatree_org"
  target="_blank"
>
  <app-youtube-icon
    style="margin-right: 10px"
    href="https://www.youtube.com/@iplantatree_org"
  ></app-youtube-icon>
  <span> youtube </span>
</a>
<a
  class="is-flex is-align-items-center"
  href="https://www.facebook.com/iplantatree/"
  target="_blank"
>
  <app-facebook-icon
    style="margin-right: 10px"
    href="https://www.facebook.com/iplantatree/"
  ></app-facebook-icon>
  <span> facebook </span>
</a>
