<div class="icon" (click)="closeSearch()">
  <mat-icon>close</mat-icon>
</div>
<div class="inputOutline">
  <input
    [placeholder]="'enterSearch' | translate"
    name="search"
    type="text"
    [formControl]="control"
  />
</div>

<div class="results w-100">
  <div
    class="result is-flex is-justify-content-space-between"
    *ngFor="let result of (searchResults$ | async).projects"
    routerLink="/{{ result.link }}"
    (click)="closeSearch()"
  >
    <span>
      {{ result.name }}
    </span>
    <span class="type">
      {{ 'project' | translate }}
    </span>
  </div>
  <div
    class="result is-flex is-justify-content-space-between"
    *ngFor="let result of (searchResults$ | async).teams"
    routerLink="/{{ result.link }}"
    (click)="closeSearch()"
  >
    <span>
      {{ result.name }}
    </span>
    <span class="type">
      {{ 'team' | translate }}
    </span>
  </div>
  <div
    class="result is-flex is-justify-content-space-between"
    *ngFor="let result of (searchResults$ | async).user"
    routerLink="/{{ result.link }}"
    (click)="closeSearch()"
  >
    <span>
      {{ result.name }}
    </span>
    <span class="type">
      {{ 'profile' | translate }}
    </span>
  </div>
</div>
