.inputOutline {
  border: 1px var(--background) solid;
  border-radius: 2.25rem;
}

input {
  font-family: 'Bull-mono';
  min-width: 500px;
  background: #00000000;
  color: var(--background);
  margin: 1rem;
  border: none;
  outline: 0;
  font-size: 1rem;
}

.icon {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  mat-icon {
    color: var(--background);
    height: 4rem;
    width: 4rem;
    font-size: 4rem;
  }
  mat-icon:hover {
    color: var(--green);
  }
  position: absolute;
  top: 6rem;
  right: 4%;
}

.results {
  color: red;
}
@media only screen and (max-width: 768px) {
  input {
    min-width: 300px;
    font-size: 0.8rem;
  }

  .icon {
    width: 3rem;
    height: 3rem;
    mat-icon {
      height: 3rem;
      width: 3rem;
      font-size: 3rem;
    }
  }
}
