.inputOutline {
  margin: 15rem auto 1rem auto;
  border: 1px var(--background) solid;
  border-radius: 2.25rem;
  width: 567px;
  background: var(--dark-brown);
}

input {
  color: var(--background);
  margin: 1rem;
  border: none;
  outline: 0;
}

.icon {
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 6rem;
  right: 3rem;
  mat-icon {
    color: var(--background);
    height: 4rem;
    width: 4rem;
    font-size: 4rem;
  }
  mat-icon:hover {
    color: var(--green);
  }
}

.results {
  margin: 0 auto;
  max-width: 900px;
}

.result {
  span {
    text-align: left;
    overflow: hidden;
    text-overflow: clip;
  }
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.75rem;
  color: var(--background);
}

.result:hover {
  background: var(--dark-brown-hover);
  cursor: pointer;
}

.type {
  // font-family: 'Bull-regular' !important;
  margin-left: 1rem;
  color: gray;
}

@media only screen and (max-width: 768px) {
  .inputOutline {
    width: 350px;
  }

  input {
    width: 300px;
    font-size: 0.8rem;
  }

  .icon {
    width: 3rem;
    height: 3rem;
    right: 1rem;
    mat-icon {
      height: 3rem;
      width: 3rem;
      font-size: 3rem;
    }
  }
}
