<div
  class="signup is-flex is-flex-direction-column w-100 padding-1 is-justify-content-space-between"
>
  <nav class="breadcrumb padding-left" style="width: fit-content">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a class="breadcrumb-active">
          {{ 'signup' | translate }}
        </a>
      </li>
    </ul>
  </nav>
  <div class="is-flex padding-1 is-flex-direction-column w-100 is-align-items-center">
    <form
      *ngIf="!(signupDone$ | async)"
      class="w-100 is-flex is-flex-direction-column"
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-error *ngIf="signupError$ | async">
        {{ 'signupFailed' | translate }}
      </mat-error>
      <div class="inputOutline">
        <input [placeholder]="'username' | translate" name="name" required formControlName="name" />
      </div>
      <div class="inputOutline is-flex is-flex-direction-row">
        <input
          [type]="showPassword ? 'text' : 'password'"
          [placeholder]="'password' | translate"
          name="password"
          required
          formControlName="password"
        />
        <mat-icon matSuffix style="cursor: pointer" (click)="toggleShowPassword()">
          {{ !showPassword ? 'visibility' : 'visibility_off' }}</mat-icon
        >
      </div>
      <div class="inputOutline is-flex is-flex-direction-row">
        <input
          [type]="showPassword ? 'text' : 'password'"
          [placeholder]="'repeatPassword' | translate"
          name="repeatPassword"
          required
          formControlName="repeatPassword"
        />
        <mat-icon matSuffix style="cursor: pointer" (click)="toggleShowPassword()">
          {{ !showPassword ? 'visibility' : 'visibility_off' }}</mat-icon
        >
      </div>
      <div class="inputOutline">
        <input [placeholder]="'email' | translate" name="mail" required formControlName="mail" />
      </div>
      <div class="is-flex is-flex-direction-row">
        <!-- <div class="inputOutline padding-1 w-100 margin-right-1">
          <mat-label>{{ 'newsletter' | translate }}</mat-label>
          <mat-select formControlName="newsletter">
            <mat-option *ngFor="let option of newsletterOptions" [value]="option.value">{{
              option.label | translate
            }}</mat-option>
          </mat-select>
        </div> -->
        <div class="inputOutline margin-right-1 padding-1 w-100">
          <mat-label>{{ 'language' | translate }}</mat-label>
          <mat-select formControlName="language">
            <mat-option *ngFor="let option of languageOptions" [value]="option.value">{{
              option.label | translate
            }}</mat-option>
          </mat-select>
        </div>
        <div class="inputOutline padding-1 w-100">
          <mat-label>{{ 'organisation' | translate }}</mat-label>
          <mat-select formControlName="orgType">
            <mat-option *ngFor="let option of orgTypeOptions" [value]="option.value">{{
              option.label | translate
            }}</mat-option>
          </mat-select>
        </div>
      </div>

      <div class="w-100 margin-bottom-1 is-flex">
        <mat-checkbox formControlName="terms" class="margin-right-1"> </mat-checkbox>
        <span>
          {{ 'agb' | translate }} <a routerlink="/privacy">{{ 'termsLink' | translate }}</a>
        </span>
      </div>
      <div class="w-100 is-flex">
        <mat-checkbox class="margin-right-1" formControlName="privacyPolicy"></mat-checkbox>
        <span>
          {{ 'privacyPolicy' | translate }}
          <a routerlink="/privacy">{{ 'privacyLink' | translate }}</a>
        </span>
      </div>
      <app-captcha (captchaStatusEmit)="updateCaptchaStatus($event)"></app-captcha>
      <div class="center">
        <app-button [label]="'signup' | translate"></app-button>
      </div>
    </form>
    <div class="is-flex is-justfiy-content-center is-align-items-center welcomeBox h-100">
      <h4 *ngIf="signupDone$ | async">{{ 'plsActivateAccount' | translate }}</h4>
    </div>
  </div>
</div>
