<div class="padding-left padding-top-075">
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a [routerLink]="'/profile/' + (profileDetails$ | async)?.userName">
          {{ 'profile' | translate }}
        </a>
      </li>
      <li>
        <a class="breadcrumb-active">
          {{ (profileDetails$ | async)?.userName }}
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="is-flex is-flex-direction-column padding-4 padding-top-2">
  <form [formGroup]="profileForm" *ngIf="profileForm">
    <h2>{{ 'editProfile' | translate }}</h2>

    <div
      class="is-flex is-flex-direction-row switchToCol w-100 margin-bottom-1 is-justify-content-center is-align-items-center"
    >
      <input
        #csvInput
        hidden="true"
        type="file"
        onclick="this.value=null"
        (change)="imageChanged($event)"
        accept=".png, .jpg, .jpeg"
      />
      <div
        *ngIf="!(uploadingImage$ | async)"
        class="imageWrapper pointer"
        (click)="csvInput.click()"
      >
        <img src="{{ imagePreviewSrc }}" alt="" *ngIf="imagePreviewSrc" />
        <img
          src="{{ (profileDetails$ | async).profileImageUrl + '?' + randomNumber }}"
          alt=""
          *ngIf="(profileDetails$ | async).profileImageUrl && !imagePreviewSrc"
        />
        <img
          *ngIf="!(profileDetails$ | async).profileImageUrl"
          src="assets/default_user.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="is-flex is-flex-direction-row switchToCol w-100">
      <div class="inputOutline w-100 spaceRightDesktop">
        <input
          (focus)="showWarning('username')"
          [placeholder]="'username' | translate"
          name="username"
          formControlName="username"
        />
      </div>
      <div class="inputOutline w-100">
        <input
          (focus)="showWarning('email')"
          [placeholder]="'email' | translate"
          name="mail"
          formControlName="mail"
        />
      </div>
    </div>
    <div class="is-flex is-flex-direction-row switchToCol w-100">
      <div class="inputOutline w-100 spaceRightDesktop is-flex is-flex-direction-row">
        <input
          class="is-flex is-flex-direction-row"
          (focus)="showWarning('password')"
          [placeholder]="'password' | translate"
          name="passwordedit"
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          autocomplete="new-password"
        />
        <mat-icon matSuffix style="cursor: pointer" (click)="toggleShowPassword()">
          {{ !showPassword ? 'visibility' : 'visibility_off' }}</mat-icon
        >
      </div>
      <div class="inputOutline w-100 is-flex is-flex-direction-row">
        <input
          [placeholder]="'repeatPassword' | translate"
          name="repeatPassword"
          formControlName="repeatPassword"
          [type]="showPassword ? 'text' : 'password'"
        />
        <mat-icon matSuffix style="cursor: pointer" (click)="toggleShowPassword()">
          {{ !showPassword ? 'visibility' : 'visibility_off' }}</mat-icon
        >
      </div>
    </div>
    <div class="is-flex is-flex-direction-row switchToCol">
      <div class="inputOutline w-100">
        <textarea
          matInput
          rows="5"
          type="text"
          [placeholder]="'aboutMe' | translate"
          name="aboutMe"
          formControlName="aboutMe"
        >
        </textarea>
      </div>
    </div>
    <div class="is-flex is-flex-direction-row switchToCol w-100">
      <div class="inputOutline w-100">
        <input
          matInput
          [placeholder]="'organisation' | translate"
          name="organisation"
          formControlName="organisation"
        />
      </div>
    </div>
    <div class="is-flex is-flex-direction-row switchToCol is-align-items-center w-100">
      <div class="inputOutline w-100 spaceRightDesktop">
        <input
          matInput
          [placeholder]="'location' | translate"
          name="location"
          formControlName="location"
        />
      </div>
      <div class="inputOutline w-100">
        <input
          matInput
          [placeholder]="'website' | translate"
          name="homepage"
          formControlName="homepage"
        />
      </div>
    </div>
    <div class="is-flex is-flex-direction-row switchToCol is-align-items-center w-100">
      <div class="inputOutline w-100 select-outline spaceRightDesktop">
        <mat-select formControlName="lang">
          <mat-option *ngFor="let language of languages" [value]="language">{{
            ('language' | translate) + ': ' + ('language_' + language | translate)
          }}</mat-option>
        </mat-select>
      </div>
      <div class="inputOutline w-100 select-outline">
        <mat-select formControlName="organizationType">
          <mat-option *ngFor="let type of orgTypeOptions" [value]="type.value">{{
            type.label | translate
          }}</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="is-flex is-justify-content-center">
      <app-button
        [label]="'cancel' | translate"
        class="cancel-btn"
        (click)="routeToProfile()"
      ></app-button>
      <app-button (click)="updateProfile()" [label]="'save' | translate"></app-button>
    </div>
  </form>
</div>
