@import '../../../less/basecolors.less';

.largeRankingContainer {
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  .col-md-12 {
    padding-left: 30px;
  }
  .col-md-4 {
    padding: 0;
  }

  .rankingWrapper {
    border-style: solid none solid none;
    border-color: @base-background-color;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 430px;
    margin: 0 15px 15px;
  }

  .col-md-4 {
    width: 30%;
    div:nth-of-type(5) {
      div {
        border-style: none;
      }
    }
  }
  .pagingLink {
    height: 430px;
    padding-top: 192px;
    color: @accent-color;
    font-size: 40px;
    width: 40px;
    opacity: 0.5;
  }
  .pagingLink:hover {
    opacity: 1;
  }

  .widthforty {
    width: 40px;
  }
}
