@import '../../../less/basecolors.less';

.smallRankingContainer {
  h3 {
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    padding-top: 20px;
    font-size: 2em;
    text-align: center;
    color: @base-background-color;
  }

  p {
    margin-left: 0;
  }

  .pagingLink {
    display: block;
    color: @base-background-color;
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
  }
  .pagingLink:hover {
    opacity: 1;
  }

  .rankingWrapper {
    min-height: 450px;
    border-style: solid none solid none;
    border-width: 1px;
    border-color: @base-background-color;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .pagingLinkTop {
    background-image: none;
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    height: 30px;
    margin-top: 50px;
    span {
      font-size: 25px;
    }
  }

  .pagingLinkBottom {
    background-image: none;
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    height: 30px;
    margin-top: 535px;
    span {
      font-size: 25px;
    }
  }
  div:nth-of-type(5) {
    div {
      border-style: none;
      padding-bottom: 15px;
    }
  }

}
