@media (max-width: 994px) {
  .footer {
    text-align: center;
    .container {
      width: 100%!important;
    }
    .copyRight{
      float: none!important;
    }
  }
}

.footer {
  height: 70px;
  background-color: #3C191E;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;

  a {
    color: #ded8d9;
    font-size: 14px;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  a:active,
  a:visited {
    text-decoration: none;
  }

  .copyRight {
    color: #ded8d9;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    float: right;
  }
  a:nth-of-type(3) {
    float: right;
  }

  .container {
    padding-top: 27px;
  }
}
