<div
  class="is-flex is-flex-direction-column padding-left padding-top-075 is-justify-content-space-between"
>
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a class="breadcrumb-active" routerLink="/imprint">
          {{ 'imprint' | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
<div
  class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center padding-1"
>
  <div class="imprint">
    <h2>{{ 'imprint' | translate }}</h2>
    <div *ngFor="let imp of imprints">
      <h4>{{ imp.title }}</h4>
      <div innerHtml="{{ imp.intro }}">
        {{ imp.intro }}
      </div>
      <div *ngFor="let paragraph of imp.paragraphs">
        <p>
          {{ paragraph.title }}
        </p>
        <p>
          {{ paragraph.text }}
        </p>
      </div>
    </div>
  </div>
</div>
