<div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
  <div class="imprint">
    <h2>{{ 'imprint' | translate }}</h2>
    <div *ngFor="let imp of imprints?.slice().reverse()">
      <h4>{{ imp.title }}</h4>
      <div innerHtml="{{ imp.intro }}">
        {{ imp.intro }}
      </div>
      <div *ngFor="let paragraph of imp.paragraphs">
        <p>
          {{ paragraph.title }}
        </p>
        <p>
          {{ paragraph.text }}
        </p>
      </div>
    </div>
  </div>
</div>
