.column {
  margin: 0;
  padding: 0;
}

.full-height {
  height: calc(100vh - 80px);
}

.switchToCol {
  flex-grow: 1;
}


@media only screen and (max-width: 768px) {
  .full-height {
    height: initial;
  }
}
