<app-header></app-header>
<app-offer-area></app-offer-area>
<div class="columns">
  <div class="column is-two-fifths plant-tree-col bordered padding-left">
    <app-plant-tree></app-plant-tree>
  </div>
  <div class="column bordered">
    <app-tree-tile name="Lärche"></app-tree-tile>
  </div>
  <div class="column bordered">
    <app-tree-tile name="Eiche"></app-tree-tile>
  </div>
  <div class="column bordered">
    <app-tree-tile name="Buche"></app-tree-tile>
  </div>
</div>
<app-forest-tour></app-forest-tour> 
<div class="columns">
  <div class="column">
    <app-planting-process></app-planting-process>
  </div>
</div>
<app-planted-trees></app-planted-trees>