.newest {
  height: 100%;
  border-right: 1px solid var(--black);
  border-bottom: none;
}

.column {
  padding: 0!important;
}

@media only screen and (max-width: 900px) {
  .newest {
    border-right: none;
    border-bottom: 1px solid var(--black);
  }
}

