@big-scren-width: 17.5vw;
@small-scren-width: 100vw;
@media (min-width: 731px) {
  .menu {
    > div {
      &.visible {
        width: @big-scren-width
      }
      > .menu-item {
        width: @big-scren-width
      }
      > .login-menu-item {
        width: @big-scren-width
      }
      .language-menu-item {
        width: @big-scren-width
      }
    }
  }
}
@media (max-width: 730px) {
  .menu {
    > div {
      &.visible {
        width: @small-scren-width;
      }
      > .menu-item {
        width: @small-scren-width;
      }
      > .login-menu-item {
        width: @small-scren-width;
      }
      .language-menu-item {
        width: @small-scren-width;
      }
    }
  }
}

.menu {
  display: block;
  > div {
    position: fixed;
    z-index: 10001;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    overflow: hidden;

    .closeMenu {
      > button {
        font-size: 30px;
        font-weight: bold;
        background: transparent;
        border: 0;
        margin-top: 10px;
      }
    }
    &.left {
      background: #82AB1F;

      .closeMenu {
        text-align: right;
        > button {
          color: #3C191E;
          margin-right: 10px;
        }
      }
    }

    &.notvisible {
      width: 0;
      opacity: 0;

      -webkit-transition: width 0.3s linear, opacity 0.2s linear;
      -moz-transition: width 0.3s linear, opacity 0.2s linear;
      -o-transition: width 0.3s linear, opacity 0.2s linear;
      -ms-transition: width 0.3s linear, opacity 0.2s linear;
      transition: width 0.3s linear, opacity 0.2s linear;
    }

    &.visible {
      opacity: 1;

      -webkit-transition: width 0.2s linear, opacity 0.3s linear;
      -moz-transition: width 0.2s linear, opacity 0.3s linear;
      -o-transition: width 0.2s linear, opacity 0.3s linear;
      -ms-transition: width 0.2s linear, opacity 0.3s linear;
      transition: width 0.2s linear, opacity 0.3s linear;
    }

    &.right {
      background: #3C191E;
      right: 0;

      .closeMenu {
        text-align: left;
        > button {
          padding-bottom: 16px;
          color: #fff;
          margin-left: 10px;
        }
      }
    }

    > .menu-item {
      margin: 0;
      padding: 10px 15px;

      box-sizing: border-box;
      color: #fff;
      text-align: center;
      font-size: 14px;

      a {
        color: #fff;
        text-decoration: none;
      }
      a:hover {
        font-weight: bold;
      }

      .inactive {
        opacity: 0.3;
        cursor: default;
      }
    }

    > .login-menu-item {
      background-color: #fff;
      text-align: center;
      padding-top: 10px;

      .buttonDiv {
        text-align: right;
        padding-right: 35px;
        div {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }

      .login {
        margin: 0;
        display: inline-block;
        > input {
          border-style: none none dashed none;
          border-color: #3C191E;
          font-size: 16px;
          width: 80%;
          padding: 10px;
          &:focus {
            outline: none;
          }
        }

        a {
          color: #000;
          margin-bottom: 20px;
        }
        a:nth-of-type(1) {
          float: left;
          margin-left: 50px;
        }
        a:nth-of-type(2) {
          float: right;
          margin-right: 50px;
        }
      }
    }

    .language-menu-item {
      margin-top: 15px;
      text-align: center;
      a,
      a:active,
      a:visited {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-color: #fff;
      }
      a:nth-of-type(1) {
        margin-right: 10px;
      }
      a:hover {
        text-decoration: none;
        color: #82AB1F;
        background-color: #fff;
      }

      .selected {
        color: #82AB1F;
        background-color: #fff;
      }
    }
  }
}
