@big-scren-width: 300px;
@small-scren-width: 100vw;
@media (min-width: 601px) {
  .menu {
    > div {
      &.visible {
        width: @big-scren-width
      }

      > .menu-item {
        width: @big-scren-width
      }

      > .login-menu-item {
        width: @big-scren-width
      }

      .language-menu-item {
        width: @big-scren-width
      }
    }
  }
}
@media (max-width: 600px) {
  .menu {
    > div {
      &.visible {
        width: @small-scren-width;
      }

      > .menu-item {
        width: @small-scren-width;
      }

      > .login-menu-item {
        width: @small-scren-width;
      }

      .language-menu-item {
        width: @small-scren-width;
      }
    }
  }
}

.menu {
  display: block;

  > div {
    position: fixed;
    z-index: 10001;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
    overflow: hidden;

    .closeMenu {
      height: 54px;

      > button {
        font-size: 30px;
        font-weight: bold;
        background: transparent;
        border: 0;
        margin-top: 10px;
      }
    }

    &.left {
      background: #82AB1F;

      .closeMenu {
        text-align: right;

        > button {
          color: #4F3A2C;
          margin-right: 10px;
        }
      }

      a:hover {
        color: #4F3A2C;
      }

      .menu-item {
        text-align: left;
      }
    }

    &.notvisible {
      width: 0;
      opacity: 0;

      -webkit-transition: width 0.3s linear, opacity 0.2s linear;
      -moz-transition: width 0.3s linear, opacity 0.2s linear;
      -o-transition: width 0.3s linear, opacity 0.2s linear;
      -ms-transition: width 0.3s linear, opacity 0.2s linear;
      transition: width 0.3s linear, opacity 0.2s linear;
    }

    &.visible {
      opacity: 1;

      -webkit-transition: width 0.2s linear, opacity 0.3s linear;
      -moz-transition: width 0.2s linear, opacity 0.3s linear;
      -o-transition: width 0.2s linear, opacity 0.3s linear;
      -ms-transition: width 0.2s linear, opacity 0.3s linear;
      transition: width 0.2s linear, opacity 0.3s linear;
    }

    &.right {
      background: #4F3A2C;
      right: 0;

      .closeMenu {
        text-align: left;

        > button {
          padding-bottom: 16px;
          color: #fff;
          margin-left: 10px;
        }
      }

      a:hover {
        color: #82ab1f;
      }

      .menu-item {
        text-align: right;
      }
    }

    > .menu-item {
      margin: 0;
      padding: 10px 30px;

      box-sizing: border-box;
      color: #fff;
      font-size: 14px;

      a {
        color: #fff;
        text-decoration: none;

      }

      .inactive {
        opacity: 0.3;
        cursor: default;
      }
    }

    > .login-menu-item {
      background-color: #fff;
      padding: 10px;
      text-align: center;

      .login-user-details {
        div:nth-of-type(1) {
          vertical-align: top;
          display: inline-block;
          padding: 10px;
        }

        div:nth-of-type(2) {
          display: inline-block;
          padding: 10px;
          text-align: left;

          label:nth-of-type(2) {
            color: #82AB1F;
          }

          label:nth-of-type(3) {
            color: #3085d1;
          }

          span {
            // padding-left: 5px;
            padding-right: 10px;
          }

          span:nth-of-type(3) {
            color: #3085d1;
          }
        }

        .logout-div {
          text-align: right;

          a {
            text-decoration: none;
            color: #000000;
            cursor:pointer;
          }

          a:hover {
            color: #82AB1F;
          }
        }
      }

      .buttonDiv {
        text-align: right;
        padding-right: 35px;

        div {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }

      .login {
        margin: 0;
        display: inline-block;

        > input {
          border-style: none none dashed none;
          border-color: #4F3A2C;
          font-size: 16px;
          width: 80%;
          padding: 10px;

          &:focus {
            outline: none;
          }
        }

        a {
          color: #000;
          margin-bottom: 20px;
        }

        a:nth-of-type(1) {
          float: left;
          margin-left: 30px;
        }

        a:nth-of-type(2) {
          float: right;
          margin-right: 30px;
        }
      }
    }

    .language-menu-item {
      text-align: left;
      padding: 10px 30px;
      margin-top: 15px;

      a,
      a:active,
      a:visited {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-color: #fff;
      }

      a:nth-of-type(1) {
        margin-right: 10px;
      }

      a:hover {
        text-decoration: none;
        color: #82AB1F;
        background-color: #fff;
      }

      .selected {
        color: #82AB1F;
        background-color: #fff;
      }
    }
  }
}
