
.navbar {
  min-height: 50px;
  margin-bottom: 0;
  border: 0;
  z-index: 10000;
}

.list-group-item .label {
  margin-right: 5px;
}

.leaflet-container {
  height: 180px;
}

.navbar-default {
  background-color: #3C191E;
  background-image: linear-gradient(to bottom,#3C191E 0,#3C191E 100%);

  .navbar-right {
    margin-right: 0;
  }
}

.navbar-collapse {
  border: 0;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
