@import '../../../less/basecolors.less';

@media(min-width: 731px) {
  .navbar {
    .myForrestDiv {
      margin-left: 15px;
    }
    .collapse {
      display: inline-block!important;
    }
  }
}
@media (max-width: 730px) {
  .navbar {
    .navbar-left {
      float: left;
    }
    .navbar-right {
      float: right;
      margin-left: 0;
      //width: 50%;
    }
    .collapse {
      display: none !important;
    }
    .container {
      .navbar-right {
        .plantBag{
          margin-right: 15px!important;
          width: 50px!important;
          background: none!important;
          button{
            .image-wrapper {
              padding-right: 0!important;
            }
            .plantBag-button-text{
              display: none!important;

            }
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .navbar {
    .imageButton {
      p {
        display:none!important;
      }
    }
  }
}

.navbar {
  height: 54px;
  margin-bottom: 0;
  border: 0;
  z-index: 10000;
  .navbar-left,
  .navbar-right {
    padding-top: 12px;
  }
  .container {
    height: 54px;
    .navbar-left {
      padding-top: 4px;
    }
    .navbar-right {
      padding-top: 0;
    }
  }

}
.list-group-item .label {
  margin-right: 5px;
}

.leaflet-container {
  height: 180px;
}

.navbar-default {
  background-color: @primary-color;
  background-image: linear-gradient(to bottom,@primary-color 0,@primary-color 100%);

  .navbar-right {
    margin-right: 0;
  }
}
