.plantBag {
  display: inline-block;
  background-color: #82AB1F;
  margin-right: -15px;

  button {
    background-color: #82AB1F;
    border: 0;
    height: 70px;
  }
  .buttonText {
    color: #fff;
    font-size: 18px;
  }

  .image-wrapper {
    position: relative;
    display: inline;
    float: left;
    padding-right: 15px;
  }

  .price {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    margin: 0;
  }
  .wrapper {
    overflow: hidden;
  }

  .green-button-text {
    float: left;
    padding-top: 20px;
  }
}
