@import '../../../less/basecolors.less';

.plantBag {
  display: inline-block;
  width: 200px;
  text-align: center;
  background-color: @accent-color;
  margin-right: -15px;
  font-size: 14px;
  height: 54px;
  button {
    background-color: @accent-color;
    border: 0;
    height: 50px;
  }
  .buttonText {
    color: #fff;
  }

  .image-wrapper {
    position: relative;
    display: inline;
    float: left;
    padding-right: 10px;
  }

  .price {
    font-weight: bold;
    color: #fff;
    margin: 0;
  }
  .wrapper {
    overflow: hidden;
  }

  .plantBag-button-text {
    float: left;
    padding-top: 15px;
  }
}

.scale {
  -webkit-animation: scale 2s;
  /* Safari 4+ */
  -moz-animation: scale 2s;
  /* Fx 5+ */
  -o-animation: scale 2s;
  /* Opera 12+ */
  animation: scale 2s;
  /* IE 10+, Fx 29+ */
}
@-webkit-keyframes scale{
  from { transform: none; }
	50% { transform: scale(1.2); }
	to { transform: none; }
}
@-moz-keyframes scale{
  from { transform: none; }
	50% { transform: scale(1.2); }
	to { transform: none; }
}
@-o-keyframes scale{
  from { transform: none; }
  	50% { transform: scale(1.2); }
  	to { transform: none; }
}
@keyframes scale{
  from { transform: none; }
	50% { transform: scale(1.2); }
	to { transform: none; }
}
