@import '../../../less/basecolors.less';

.user-details {
  display: inline-block;
  height: 54px;
  padding: 15px 20px 0px 20px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border: none;

  .glyphicon-user {
    font-size: 1.3em;
  }

  //username
  label {
    font-size: 1em;
    font-weight: 400;
    color: @base-background-color;
    margin-bottom: 0;
    padding-top: 2px;
  }

  //tree count
  label:nth-of-type(2) {
    color: @accent-color;
  }

  //user icon
  span {
    padding-left: 5px;
    padding-right: 10px;
  }

  //tree icon
  span:nth-of-type(1) {
    color: @base-background-color;
  }

  a{
    margin-top: 1px;
    text-decoration: none;
    cursor: pointer;
    color: @base-background-color;
  }

  a:hover {
    color: @accent-color;
  }

}
.logged-out{
  padding-top: 15px;
/*   a:nth-of-type(1){
    padding-left: 15px;
  }
  a:nth-of-type(2){
    padding-right: 15px;
  } */
  a {
    padding: 0px 15px;
  }

}
