<div class="mobile-menu w-100 h-100 is-flex-direction-column is-flex">
  <div class="is-flex h-80px border-bottom">
    <div class="h-100 is-flex-grow-3 border-right"></div>
    <div
      class="h-100 w-80px is-flex-grow-0 center-vertically-horizontally"
      (click)="searchClicked()"
    >
      <mat-icon>search</mat-icon>
    </div>
  </div>
  <div class="is-flex is-justify-content-space-around h-80px border-bottom">
    <div
      class="h-100 center-vertically-horizontally is-flex-grow-1 border-right"
      [class.is-flex-grow-3]="!loggedIn"
    >
      <app-button
        *ngIf="loggedIn"
        label="{{ 'profile' | translate }}"
        (clicked)="routeToProfile()"
      ></app-button>
    </div>
    <div class="h-100 center-vertically-horizontally is-flex-grow-1">
      <app-button
        *ngIf="!loggedIn"
        label="{{ 'login' | translate }}"
        (clicked)="loginClicked()"
      ></app-button>
      <app-button
        *ngIf="loggedIn"
        label="{{ 'logout' | translate }}"
        (clicked)="logoutClicked()"
      ></app-button>
    </div>
  </div>
  <div
    (click)="closeMenu()"
    routerLink="/plant"
    class="padding-1 is-flex border-bottom is-align-items-center is-justify-content-space-between"
  >
    <a>{{ 'plantTree' | translate }}</a>
    <mat-icon>arrow_forward</mat-icon>
  </div>
  <div
    (click)="closeMenu()"
    routerLink="/projectReports"
    class="padding-1 is-flex border-bottom is-align-items-center is-justify-content-space-between"
  >
    <a>{{ 'projects' | translate }}</a>
    <mat-icon>arrow_forward</mat-icon>
  </div>
  <div
    (click)="closeMenu()"
    routerLink="/about"
    class="padding-1 is-flex border-bottom is-align-items-center is-justify-content-space-between"
  >
    <a>{{ 'aboutUs' | translate }}</a>
    <mat-icon>arrow_forward</mat-icon>
  </div>
  <div
    (click)="closeMenu()"
    routerLink="/explore"
    class="padding-1 is-flex border-bottom is-align-items-center is-justify-content-space-between"
  >
    <a>{{ 'explore' | translate }}</a>
    <mat-icon>arrow_forward</mat-icon>
  </div>
  <div class="is-flex-grow-1 is-flex is-flex-direction-column">
    <div class="columns is-flex is-flex-grow-1 border-bottom">
      <div
        class="padding-1 column is-6 is-flex is-flex-direction-column is-justify-content-space-between"
      >
        <a routerLink="contact" (click)="closeMenu()">{{ 'contact' | translate }}</a>
        <a routerLink="newsletter" (click)="closeMenu()">{{ 'newsletter' | translate }}</a>
        <a routerLink="about" (click)="closeMenu()">{{ 'aboutUs' | translate }}</a>
        <a routerLink="blog" (click)="closeMenu()">{{ 'blog' | translate }}</a>
      </div>
      <div
        class="border-left column is-6 padding-1 is-flex is-flex-direction-column is-justify-content-space-between"
      >
        <a routerLink="numbers" (click)="closeMenu()">{{ 'numbers' | translate }}</a>
        <a routerLink="facts" (click)="closeMenu()">{{ 'facts' | translate }}</a>
        <a routerLink="finances" (click)="closeMenu()">{{ 'finances' | translate }}</a>
        <a routerLink="partners" (click)="closeMenu()">{{ 'partners' | translate }}</a>
      </div>
    </div>
    <div class="is-flex is-flex-grow-1 columns">
      <div
        class="padding-1 column is-6 is-flex is-flex-direction-column is-justify-content-space-between"
      >
        <a routerLink="imprint" (click)="closeMenu()">{{ 'imprint' | translate }}</a>
        <a routerLink="privacy" (click)="closeMenu()">{{ 'dsgvo' | translate }}</a>
        <a routerLink="press" (click)="closeMenu()">{{ 'press' | translate }}</a>
        <a routerLink="ranking" (click)="closeMenu()">{{ 'ranking' | translate }}</a>
      </div>
      <div class="border-left column is-6 padding-1 is-flex"></div>
    </div>
  </div>
</div>
