.ranking {
  padding: 3px;

  p {
    font-size: 16px;
    margin-left: 0;
  }

  .rankingSummary {
    display: inline-block;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #fff;
  }
  div:nth-of-type(5) {
    div {
      border-style: none;
      padding-bottom: 15px;
    }
  }
  a,
  a:active,
  a:visited {
    text-decoration: none;
    display: inherit;
  }

  .ranking-img {
    vertical-align: sub;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    border-width: 4px;
    background-color: #fff;
  }

  .name {
    color: #fff;
  }

  .stats {
    color: #000;
  }
  .stats:nth-of-type(3n+4) {
    padding-left: 10px;
  }
}
