@import '../../less/basecolors.less';

.teaser {
  padding-left: 15px;
  padding-right: 15px;

  h1 {
    padding-left: 20px;
    color: @base-background-color;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 1.8em;
  }

  .row {
    overflow: hidden;
  }
  .col-md-4 {
    padding-left: 0;
    padding-right: 0;

    height: 100%;
    padding-bottom: 1000px;
    margin-bottom: -1000px;

    min-height: 512px;
  }

  .description {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #000;
  }

  p {
    display: inline;
  }
  .col-md-4:nth-child(3n + 1) {
    background-color: #bfbfbf;
  }
  .col-md-4:nth-child(3n + 2) {
    background-color: #737373;
  }
  .col-md-4:nth-child(4),
  .col-md-4:nth-child(5) {
    .leaflet-container {
      height: 253px;
      width: 100%;
    }
  }
  a,
  a:active,
  a:visited,
  a:hover {
    text-decoration: none;
  }

  .more {
    color: @base-background-color;
  }

  .firstRow {
    .col-md-4:nth-child(3) {
      background-color: @accent-complement-color;
    }
  }
  .secondRow {
    .col-md-4:nth-child(3) {
      background-color: #813d59;
    }
  }

  .leaflet-container {
    height: 253px;
  }
}
