.teaser {
  padding-left: 15px;
  padding-right: 15px;

  h2 {
    padding-left: 20px;
    color: #fff;
    font-family: Georgia,Times,Times New Roman,serif;
  }
 

  .row {
    overflow: hidden;
  }
  .col-md-4 {
    padding-left: 0;
    padding-right: 0;

    height: 100%;
    padding-bottom: 1000px;
    margin-bottom: -1000px;

    min-height: 512px;
  }

  .description {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #000;
  }

  p {
    display: inline;
  }
  .col-md-4:nth-child(3n + 1) {
    background-color: #bfbfbf;

    .leaflet-container {
      height: 285px;
      width: 100%;
    }
  }
  .col-md-4:nth-child(3n + 2) {
    background-color: #737373;
  }
  a,
  a:active,
  a:visited,
  a:hover {
    text-decoration: none;
  }

  .more{
    color: #fff;
  }

  .firstRow {
    .col-md-4:nth-child(3) {
      background-color: #51a8be;
    }
  }
  .secondRow {
    .col-md-4:nth-child(3) {
      background-color: #813d59;
    }
  }

}