<mat-card>
  <mat-card-title>Pflanzkorb</mat-card-title>
  <mat-card-content>
    <div class="columns" *ngFor="let item of (plantbag$ | async).plantbagItems">
      <app-plantbag-tree-input
        [article]="item.article"
        [amount]="item.amount"
        [withDelete]="true"
        [showProject]="true"
      ></app-plantbag-tree-input>
    </div>
    <div class="columns">
      <p class="price">{{'Gesamtpreis: ' + (plantbagPrice | async | currency)}}</p>
    </div>
  </mat-card-content>
</mat-card>
