<h2>{{ 'plantbag' | translate }}</h2>
<mat-card>
  <mat-card-content *ngIf="(plantbag$ | async).plantbagItems.length > 0">
    <div *ngFor="let item of (plantbag$ | async).plantbagItems">
      <app-plantbag-tree-input
        [article]="item.article"
        [amount]="item.amount"
        [withDelete]="true"
        [showProject]="true"
      ></app-plantbag-tree-input>
    </div>
    <div class="columns">
      <p class="price">{{ 'Gesamtpreis: ' + (plantbagPrice | async | currency) }}</p>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="(plantbag$ | async).plantbagItems.length == 0">
    <p class="desktop">
      {{ 'noTreesInPlantbag' | translate }}
    </p>
  </mat-card-content>
</mat-card>
