<h2>{{ 'plantbag' | translate }}</h2>
<div *ngIf="(plantbag$ | async).plantbagItems.length > 0">
  <div class="columns is-mobile">
    <div class="column hideOnMobile"></div>
    <div class="column hideOnMobile">
      <b> {{ 'treeType' | translate }} </b>
    </div>
    <div class="column hideOnMobile">
      <b> {{ 'project' | translate }} </b>
    </div>
    <div class="column hideOnMobile">
      <b> {{ 'amount' | translate }} </b>
    </div>
    <div class="column hideOnMobile">
      <b> {{ 'partialPrice' | translate }} </b>
    </div>
    <div class="column hideOnMobile"></div>
  </div>

  <div *ngFor="let item of (plantbag$ | async).plantbagItems">
    <app-plantbag-tree-input
      [article]="item.article"
      [amount]="item.amount"
      [withDelete]="true"
      [showProject]="true"
    ></app-plantbag-tree-input>
  </div>
  <div class="columns is-mobile">
    <div class="column hideOnMobile"></div>
    <div class="column hideOnMobile"></div>
    <div class="column hideOnMobile"></div>
    <div class="column is-half-mobile">
      <mat-checkbox [formControl]="giftControl">{{ 'asGift' | translate }}</mat-checkbox>
    </div>
    <div class="column is-half-mobile">
      <p class="price">
        <b>
          {{ 'priceComplete' | translate }} <br />
          {{ plantbagPrice | async | currency }}
        </b>
      </p>
    </div>
    <div class="column hideOnMobile">
      <app-button
        label="{{ 'checkout' | translate }}"
        (click)="convertPlantBagToCartEmit()"
      ></app-button>
    </div>
  </div>
  <div class="hideOnDesktop w-100 margin-bottom-1 is-flex is-justify-content-center">
    <app-button
      label="{{ 'checkout' | translate }}"
      (click)="convertPlantBagToCartEmit()"
    ></app-button>
  </div>
</div>
<div *ngIf="(plantbag$ | async).plantbagItems.length == 0">
  <p class="desktop">
    {{ 'noTreesInPlantbag' | translate }}
  </p>
</div>
