<div
  class="is-flex is-flex-direction-column padding-left padding-top-075 is-justify-content-space-between"
>
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/contact" class="breadcrumb-active">
          {{ 'contact' | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
<div
  class="contactForm is-flex padding-1 is-flex-direction-column w-100 is-justify-content-center is-align-items-center"
>
  <h2>{{ 'contact' | translate }}</h2>
  <form
    class="w-100 is-flex is-flex-direction-column"
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="inputOutline">
      <input
      [placeholder]="'name' | translate"
      name="name"
      required
      formControlName="name" />
    </div>
    <div class="inputOutline">
      <input
      [placeholder]="'reason' | translate"
      name="reason"
      required
      formControlName="reason" />
    </div>
    <div class="inputOutline">
      <input
        [placeholder]="'email' | translate"
        type="text"
        name="email"
        required
        formControlName="mail"
      />
    </div>
    <div class="inputOutline">
      <input
        [placeholder]="'phonenumber' | translate"
        type="text"
        name="phonenumber"
        required
        formControlName="phone"
      />
    </div>
    <div class="inputOutline">
      <textarea
        rows="10"
        [placeholder]="'message' | translate"
        type="text"
        name="message"
        required
        formControlName="message"
      >
      </textarea>
    </div>
    <app-captcha (captchaStatusEmit)="updateCaptchaStatus($event)"></app-captcha>
  </form>
  <div class="center">
    <app-button (clicked)="onSubmit()" [label]="'sendNow' | translate"></app-button>
  </div>
</div>
