.contactForm {
  background-image: url(/assets/baumscheiben.jpg);
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 80px);
  position: relative;
  z-index: 2;
  form {
    max-width: 900px;
  }

  h2 {
    text-align: left;
  }
}
