@media (min-width: 381px) and (max-width: 700px) {
  .selfPlant {
    .selfPlantForm {
      .desc-value {
        .value {
          .dateField {
            width: 200px!important;
          }

          input[type="range"] {
            width: 200px!important;
            display: inline;
          }
          textarea {
            width: 200px!important;
          }
        }
        .map {
          width: 200px!important;
          display: inline-block;
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .selfPlant {
    .selfPlantForm {
      .desc-value {
        .value {
          .dateField {
            width: 150px!important;
          }

          input[type="range"] {
            width: 150px!important;
            display: inline;
          }
          textarea {
            width: 150px!important;
          }
        }
        .map {
          width: 150px!important;
          display: inline-block;
        }
      }
    }
  }
}

.selfPlant {
  background-color: #e5e5e5;
  margin-left: 0;
  margin-right: 0;

  .col-md-12 {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .selfPlantForm {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  .align-center {
    padding-bottom: 15px;
  }

  .plantingDone {
    text-align: center;
  }
}
