@media (min-width: 381px) and (max-width: 700px) {
  .selfPlant {
    .selfPlantForm {
      .desc-value {
        .value {
          .dateField{
            width: 200px!important;
          }

          input[type="range"] {
            width: 200px!important;
            display: inline;
          }
          textarea {
            width: 200px!important;
          }
        }
        .map {
          width: 200px!important;
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .selfPlant {
    .selfPlantForm {
      .desc-value {
        .value {
          .dateField{
            width: 150px!important;
          }

          input[type="range"] {
            width: 150px!important;
            display: inline;
          }
          textarea {
            width: 150px!important;
          }
        }
        .map {
          width: 150px!important;
          display: inline-block;
        }
      }
    }
  }
}

.selfPlant {
  background: #fff;
  margin-left: 0;
  margin-right: 0;

  .selfPlantForm {
    margin-left: 2vw;
    margin-right: 2vw;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;

    .desc-value {
      margin-bottom: 5px;
      .desc {
        display: inline-block;
        width: 30%;
        text-align: right;
        vertical-align: top;
        padding-right: 15px;
      }
      .value {
        display: inline-block;
        width: 70%;

        input[type="range"] {
          width: 400px;
          display: inline;
        }
        p {
          font-size: 18px;
          display: inline;
          vertical-align: top;
          padding-top: 15px;
        }
      }

      .map {
        width: 400px;
        display: inline-block;

      }
    }
  }

  .align-center {
    padding-bottom: 15px;
  }

  .plantingDone {
    text-align: center;
  }
}
