.selfPlant {
  background: #fff;
  margin-left: 0;
  margin-right: 0;

  .selfPlantForm {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 1px solid #3C191E;
    background: rgba(60, 25, 30, .5);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;

    table {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      td:nth-child(1) {
        width: 30%;
      }
      td:nth-child(2) {
        width: 70%;
      }

      tr {
        height: 40px;
      }
      tr:nth-child(1) {
        height: 60px;
        td:nth-child(2) {
          div:nth-child(1){
        //    width: 250px;
          }
        }
      }
      tr:nth-child(2) {
        vertical-align: top;
        height: 100px;
        input[type="range"] {
          width: 80% !important;
          float: left;
        }
        td:nth-child(2) {
          p {
            margin-top: 8px;
            font-size: 20px;
            color: #82ab1f;
          }
        }
      }
      tr:nth-child(3) {
        vertical-align: top;
        height: 60px;
      }

      tr:nth-child(5) {
        vertical-align: top;
        height: 420px;
        .glyphicon-tree-deciduous{
          font-size:30px;
        }
        .leaflet-container {
          width: 400px;
          height: 400px;

        }
      }
      tr:nth-child(6){
        vertical-align: top;
      }
    }
  }

  .plantingDone{
    text-align: center;
  }
}
