@import '../../less/basecolors.less';

@media (max-width: 500px) {
  .plantBagProject{
    h3{
      font-size: 20px!important;
    }
    .sum{
      font-size: 16px!important;
    }
  }
}

.plantBagProject {
  margin-bottom: 15px;
  overflow: hidden;

  h3 {
    display: inline;
    margin-left: 15px;
  }
  .line {
    margin-left: auto;
    background-color: #000;
    height: 5px;
    width: 30%;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
  }

  .sum {
    width: 30%;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
  }

  .iconButton{
    a{
      background-color: #F7F7F7;
      span{
        color: #000;
      }
    }
  }
}
