.plantBagItem {
  margin-top: 15px;

  div {
    display: inline-block;
  }
  .image{
    width: 70px;
    text-align: center;
  }
  .treeTypeInfo{
    width: 120px;
    margin-left: 25px;
    vertical-align: middle;
  }
  .customizer{
    width: 100px;
    text-align: center;
    vertical-align: middle;

    div:nth-of-type(1){
      margin-right: 5px;
    }
    div:nth-of-type(2){
      margin-left: 10px;
    }
  }

  a,
  a:visited,
  a:active {
    margin: 5px;
    color: #000;
    text-align: center;
    text-decoration: none;
  }

  .result-arrow{
    text-align: center;
    width: 40px;
    font-size: 20px;
  }

  .result{
    width: 105px;
    text-align: right;
    line-height: 60px;
    vertical-align: middle;

    p{
      display: inline;
      margin-right: 10px;
    }
  }

  img {
    border-radius: 50%;
    border-color: #82ab1f;
    border-style: solid;
    border-width: 4px;
    background-color: #fff;
  }
}
