.plantBagItem {
  margin-top: 15px;

  div {
    display: inline-block;
  }
  div:nth-of-type(2) {
    margin-left: 25px;
    vertical-align: middle;
  }
  div:nth-of-type(3) {
    margin-left: 50px;
    vertical-align: middle;
  }

  div:nth-of-type(4) {
    margin-left: 50px;
    vertical-align: middle;
    font-size: 20px;
  }

  div:nth-of-type(5) {
    line-height: 60px;
    float:right;
    vertical-align: middle;
    margin-left: 50px;
  }

  img {
    border-radius: 50%;
    border-color: #82ab1f;
    border-style: solid;
    border-width: 4px;
    background-color: #fff;
  }
}
