<div class="columns">
  <div class="column is-two-fifths padding-left padding-bottom-3">
    <nav class="breadcrumb">
      <ul>
        <li>
          <a routerLink="/">
            {{ 'startPage' | translate }}
          </a>
        </li>
        <li>
          <a class="breadcrumb-active">
            {{ 'plantTree' | translate | titlecase }}
          </a>
        </li>
      </ul>
    </nav>
    <h2>{{ 'createSelfplantedTree' | translate | titlecase }}</h2>
    <p class="desktop">
      {{ 'createSelfplantDescription3' | translate }}
    </p>
  </div>
</div>
<div class="columns proposal-row">
  <div class="column is-three-fifths border-top-right padding-left padding-right padding-top-2">
    <div class="custom-slider">
      <ngx-slider
        [(value)]="value"
        [options]="sliderOptions"
        (valueChange)="getProposal($event)"
      ></ngx-slider>
    </div>
    <div class="columns price-row">
      <div class="column price">
        <p class="desktop">
          {{ ('price' | translate) + ': ' + (proposalPrice$ | async) + '€' }}
        </p>
      </div>
      <div class="column is-one-third">
        <app-button
          label="{{ 'intoPlantbag' | translate }}"
          (click)="putIntoPlantbag()"
        ></app-button>
      </div>
    </div>
  </div>
  <div class="column border-top padding-left padding-top">
    <p class="desktop">{{ 'proposalOrIndividualText' | translate }}</p>
    <a routerLink="/">
      {{ 'orChooseIndivudual' | translate }}
    </a>
  </div>
</div>
<app-leaflet-map></app-leaflet-map>

<app-offer-area></app-offer-area>
