<div class="columns">
  <div class="column is-two-fifths padding-left padding-bottom-3">
    <nav class="breadcrumb">
      <ul>
        <li>
          <a routerLink="/">
            {{ 'startPage' | translate }}
          </a>
        </li>
        <li>
          <a class="breadcrumb-active">
            {{ 'plantTree' | translate | titlecase }}
          </a>
        </li>
      </ul>
    </nav>
    <h2>{{ 'createSelfplantedTree' | translate | titlecase }}</h2>
    <p class="desktop">
      {{ 'createSelfplantDescription3' | translate }}
    </p>
  </div>
</div>
<div class="columns proposal-row">
  <div class="column is-three-fifths border-top-right padding-left padding-right padding-top-2">
    <div class="custom-slider">
      <ngx-slider
        [(value)]="value"
        [options]="sliderOptions"
        (valueChange)="getProposal($event)"
      ></ngx-slider>
    </div>
    <div class="is-flex is-align-items-center is-justify-content-flex-end price-row">
      <p class="desktop">
        {{ ('price' | translate) + ': ' + (proposalPrice$ | async) + '€' }}
      </p>
      <app-button label="{{ 'intoPlantbag' | translate }}" (click)="putIntoPlantbag()"></app-button>
    </div>
  </div>
  <div
    class="column border-top padding-left is-flex is-flex-direction-column is-justify-content-space-around padding-top"
  >
    <p class="desktop">{{ 'proposalOrIndividualText' | translate }}</p>
    <a routerLink="/">
      {{ 'orChooseIndivudual' | translate }}
    </a>
  </div>
</div>
<div class="map-margin">
  <app-leaflet-map></app-leaflet-map>
</div>

<app-offer-area></app-offer-area>
