<div class="columns">
  <div class="column is-two-fifths padding-left padding-bottom-1">
    <nav class="breadcrumb">
      <ul>
        <li>
          <a routerLink="/">
            {{ 'startPage' | translate }}
          </a>
        </li>
        <li>
          <a class="breadcrumb-active">
            {{ 'createSelfplantedTree' | translate }}
          </a>
        </li>
      </ul>
    </nav>
    <h2>{{ 'createSelfplantedTree' | translate }}</h2>
    <p class="desktop" *ngIf="selectAuthenticated$ | async">
      {{ 'createSelfplantDescription3' | translate }}
    </p>
  </div>
</div>
<div
  class="column is-flex-direction-column is-flex padding-left padding-bottom-4"
  *ngIf="!(selectAuthenticated$ | async)"
>
  <p>{{ 'plsLoginToContinue' | translate }}</p>
  <app-button label="{{ 'login' | translate }}" (clicked)="routeToLogin()"></app-button>
</div>

<div *ngIf="selectAuthenticated$ | async">
  <form [formGroup]="selfPlantForm">
    <div class="columns">
      <div class="column is-two-fifths padding-left padding-right padding-top-2">
        <mat-form-field>
          <mat-label>{{ 'plantDate' | translate }}</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="plantedOn" />
          <mat-hint></mat-hint>
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>OK</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="column is-three-fifths padding-left padding-right padding-top-2">
        <div class="custom-slider mb-4">
          <p>{{ 'howManyTreesDidYouPlant' | translate }}</p>
          <app-slider [stepsArray]="stepsArray" (valueChanged)="addTreesToForm($event)"></app-slider>
        </div>
        <p>
          {{ 'contactForProof1' | translate }}
          <a routerLink="/contact">{{ 'contactUs' | translate }}</a>
          {{ 'contactForProof2' | translate }}
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-two-fifths padding-left padding-right">
        <div>
          <h4>{{ 'photo' | translate }}:</h4>
          <input
            #csvInput
            hidden="true"
            type="file"
            (change)="imageChanged($event)"
            accept=".png, .jpg, .jpeg"
          />
          <app-button
            label="{{ 'imageUpload' | translate }}"
            (click)="csvInput.click()"
          ></app-button>
          <div class="margin-top-2">
            <img src="{{ imageSrc }}" width="400" height="300" *ngIf="imageSrc" />
            <p *ngIf="!imageSrc">{{ 'noImgPicked' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="column is-three-fifths padding-left padding-right">
        <mat-form-field>
          <mat-label>{{ 'treeType' | translate }}</mat-label>
          <mat-select [value]="selectedTreeType" (selectionChange)="treeTypeChanged($event)">
            <mat-option *ngFor="let treeType of treeTypes" [value]="treeType.id">{{
              treeType.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="inputOutline mt-4">
          <textarea
            rows="10"
            [placeholder]="'shortDescription' | translate"
            type="text"
            name="description"
            formControlName="description"
          >
          </textarea>
        </div>
      </div>
    </div>
  </form>

  <h4 class="margin-left-4">{{ 'mapLocation' | translate }}:</h4>
  <div class="map-margin" *ngIf="isBrowser">
    <app-leaflet-map
      [showSelfPlantMarker]="true"
      [mapHeight]="mapHeight"
      (markerSet)="setTreeCoordinates($event)"
    ></app-leaflet-map>
  </div>

  <div
    class="is-flex is-flex-row switchToFlexCol margin-top-1 is-justify-content-space-between is-align-items-center padding-left padding-right"
  >
    <a routerLink="/plant" class="mb-4">
      {{ 'backToPlantProposal' | translate }}
    </a>
    <app-button
      class="mb-4"
      label="{{ 'addPlantingNow' | translate }}"
      (click)="submitPlanting()"
    ></app-button>
  </div>
</div>

<app-offer-area></app-offer-area>
