ngx-slider.animate .ngx-slider-bubble {
  display: none;
}

nav {
  margin-top: 1rem;
}
h2 {
  margin-top: 2rem;
}

::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    // background: #ffe4d1;
    background: var(--black);
    height: 1px;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 15px;
    height: 15px;
    top: auto; /* to remove the default positioning */
    // bottom: 3;
    bottom: -3px;
    border-width: 1px;
    border-style: solid;
    background-color: var(--green);
    border-radius: 50%;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    // color: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    margin-left: 15px;
    width: 0px;
    height: 0px;
  }
  .custom-slider .ngx-slider .ngx-slider-tick:last-child() {
    margin-left: 0px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    // background: orange;
  }
  .custom-slider .ngx-slider .ngx-slider-tick-legend {
    white-space: nowrap;
  }
}

.proposal-row {
  // margin-top: 2rem;
  .price-row {
    padding-top: 2rem;
    .is-one-third {
      text-align: right;
    }

    .price {
      padding-top: 2rem;
      text-align: right;
    }
  }
}
