.blog-header {
  border-bottom: 1px solid var(--black);
}

nav {
  margin-top: 1rem;
}

.imageWrapper {
  display: flex;
  align-items: center; /* vertical */
  justify-content: center;
  min-width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 400px;
  img {
    height: auto;
  }
}

.is-two-fifths {
  padding: 0 !important;
}
