<div class="columns blog-header">
  <div
    class="border-right column is-three-fifths is-flex is-flex-direction-column padding-left is-justify-content-space-between"
  >
    <nav class="breadcrumb">
      <ul>
        <li>
          <a routerLink="/">
            {{ 'startPage' | translate }}
          </a>
        </li>
        <li>
          <a routerLink="/blog">
            {{ 'blog' | translate }}
          </a>
        </li>
        <li>
          <a class="breadcrumb-active">
            {{ blogArticle.title }}
          </a>
        </li>
      </ul>
    </nav>
    <h2>{{ blogArticle.title }}</h2>
  </div>
  <div
    class="column is-two-fifths is-flex is-flex-direction-column is-justify-content-space-around"
  >
    <div class="imageWrapper" *ngIf="imageUrl">
      <img src="{{ imageUrl }}" alt="blogImage" width="400" height="300"/>
    </div>
  </div>
</div>
