@import '../../../less/basecolors.less';



@media (min-width: 1500px) {
  .cartOverview {
    width: 98vw;
  }
}

.cartOverview {
  select {
    width: 96px;
  }

  .react-grid-Canvas {
    width: 100% !important;
  }

  .row {
    background-color: @base-background-color;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
  }

  .react-grid-Row {
    font-size: 12px;

    .react-grid-Cell {
      padding-left: 5px;
    }
  }

  .react-grid-HeaderRow {
    font-size: 12px;

    .react-grid-HeaderCell {
      padding-left: 5px;
    }
  }

  .cart-details {
    z-index: 10002;
    border-style: solid;
    border-width: 3px;
    border-color: @accent-color;

    .row {
      background-color: @base-background-color;

      .col-md-12 {
        padding: 0;
      }
    }
  }

  .sq-buttons {
    .spacer{
      width: 5px;
      display:inline-block;
    }
  }

  .glyphicon-ok,
  .glyphicon-pencil,
  .glyphicon-remove {
    font-size: 15px;
  }
  .glyphicon-ok,
  .glyphicon-floppy-open {
    color: @accent-color!important;
  }
  .glyphicon-remove {
    color: red !important;
  }
  .glyphicon-floppy-open {
    font-size: 22px;
  }
  .react-grid-Container {
    .iconButton {
      a {
        padding: 0px;
        background-color: #fff;
        .glyphicon-pencil {
          color: #000;
        }
      }
    }
  }
}
