@import '../../../less/basecolors.less';

.cartOverview {
  .row {
    background-color: @base-background-color;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
  }

  .react-grid-Row {
    height: 25px !important;
    font-size: 12px;

    .react-grid-Cell {
      padding-left: 5px;
      height: 25px !important;
    }
  }

  .react-grid-HeaderRow {
    font-size: 12px;

    .react-grid-HeaderCell {
      padding-left: 5px;
    }
  }

  .cart-details {
    z-index: 10002;
    border-style: solid;
    border-width: 3px;
    border-color: @accent-color;

    .row {
      background-color: @base-background-color;

      .col-md-12 {
        padding: 0;
      }
    }
  }
}
