<div
  class="is-flex is-flex-direction-column padding-left padding-top-075 is-justify-content-space-between"
>
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a class="breadcrumb-active" routerLink="/partner">
          {{ 'partners' | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
<div
  class="w-100 is-flex is-flex-direction-column is-justify-content-center is-align-items-center padding-1"
>
  <div class="partner w-100 margin-top-2">
    <h2>{{ 'partners' | translate }}</h2>
    <div *ngFor="let partner of partners?.slice().reverse(); let i = index">
      <h4>{{ partner.title }}</h4>
      <div class="margin-top-2 margin-bottom-2 center" *ngIf="articleImageUrls[i]?.mainImageUrl">
        <img
          [src]="articleImageUrls[i]?.mainImageUrl"
          />
        <br>
        <span class="image-caption">{{ partner.imageDescription }}</span>
      </div>
      <div innerHtml="{{ partner.intro }}"></div>
      <div class="margin-bottom-2" *ngFor="let paragraph of partner.paragraphs; let j = index">
        <h4> {{ paragraph.title }} </h4>
        <div class="center" *ngIf="articleImageUrls[i]?.paragraphImageUrls[j]">
          <img [src]="articleImageUrls[i].paragraphImageUrls[j]" />
        </div>
        <br>
        <p innerHtml="{{ paragraph.text }}"></p>
      </div>
    </div>
  </div>
</div>
