@import '../../../less/basecolors.less';

.proposalPlantPage {
  background-color: @base-background-color;
  margin-left: 0;
  margin-right: 0;
  h2 {
    text-align: center;
  }

  .plantItemDesc {
    margin-top: 25px;
    display: table;
    margin-left: auto;
    margin-right: auto;

    div {
      height: 50px;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
    div:not(:first-child) {
      border-style: none none solid none;
      border-width: 1px;
    }
    div:nth-of-type(1) {
      width: 100px;
      text-align: center;
    }
    div:nth-of-type(2) {
      width: 120px;
      text-align: left;
      vertical-align: middle;
    }
    div:nth-of-type(3) {
      width: 60px;
      vertical-align: middle;
    }
    div:nth-of-type(4) {
      width: 180px;
      vertical-align: middle;
    }
    div:nth-of-type(5) {
      width: 40px;
      text-align: center;
      vertical-align: middle;
    }
    div:nth-of-type(6) {
      width: 70px;
      text-align: right;
      vertical-align: middle;
    }
  }

  .plantItems {
    overflow: hidden;
  }

  .plantItem {
    margin-top: 10px;
    display: table;
    margin-left: auto;
    margin-right: auto;

    div {
      display: table-cell;
      vertical-align: middle;
      height: 78px;
      padding-bottom: 10px;

    }
    div:not(:first-child) {
      border-style: none none solid none;
      border-width: 1px;
    }
    div:nth-of-type(1) {
      width: 100px;
      text-align: center;
    }
    div:nth-of-type(2) {
      width: 120px;
      text-align: left;
      vertical-align: middle;
    }
    div:nth-of-type(3) {
      width: 60px;
      vertical-align: middle;
    }
    div:nth-of-type(4) {
      width: 180px;
      vertical-align: middle;
    }
    div:nth-of-type(5) {
      width: 40px;
      text-align: center;
      vertical-align: middle;
    }
    div:nth-of-type(6) {
      width: 70px;
      text-align: right;
      vertical-align: middle;
    }

    img {
      border-radius: 50%;
      border-color: @accent-color;
      border-style: solid;
      border-width: 4px;
      background-color: @base-background-color;
    }
  }
}

@media (min-width: 356px) and (max-width: 565px) {
  .proposalPlantPage {
    .col-md-12 {
      padding: 0;
    }
    .plantItem,
    .plantItemDesc {
      font-size: 12px;
      div {
        vertical-align: top;
        height: 40px;
      }
      div:nth-of-type(1) {
        display: none;
      }
      div:nth-of-type(2) {
        width: 100px;
      }
      div:nth-of-type(3) {
        width: 50px;
      }
      div:nth-of-type(4) {
        width: 110px;
      }
      div:nth-of-type(5) {
        display: none;
      }
      div:nth-of-type(6) {
        width: 50px;
      }
    }
  }
}

@media (max-width: 350px) {
  .proposalPlantPage {
    .plantItem,
    .plantItemDesc {
      font-size: 10px;
      div:nth-of-type(1) {
        display: none!important;
      }
      div:nth-of-type(2) {
        width: 80px;
      }
      div:nth-of-type(3) {
        width: 40px;
      }
      div:nth-of-type(4) {
        width: 100px;
      }
      div:nth-of-type(6) {
        width: 40px;
      }
    }
  }
}
