.proposalPlantPage {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  h2 {
    text-align: center;
  }

  .plantItemDesc {
    margin-top: 25px;
    div {
      text-align: center;
    }
  }

  .plantItem {
    margin-top: 10px;

    div {
      display: inline-block;
    }
    div:nth-of-type(1) {
      width: 100px;
      text-align: center;
    }
    div:nth-of-type(2) {
      width: 100px;
      text-align: left;
      vertical-align: middle;
    }
    div:nth-of-type(3) {
      width: 60px;
      vertical-align: middle;
    }
    div:nth-of-type(4) {
      width: 180px;
      vertical-align: middle;
    }
    div:nth-of-type(5) {
      width: 40px;
      text-align: center;
      vertical-align: middle;
    }
    div:nth-of-type(6) {
      width: 70px;
      text-align: right;
      vertical-align: middle;
    }

    img {
      border-radius: 50%;
      border-color: #82ab1f;
      border-style: solid;
      border-width: 4px;
      background-color: #fff;
    }
  }

}
