.plantPage {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;

  h2 {
    text-align: center;
  }
  .mainSlider {
    margin-bottom: 15px;

    .desc {
      text-align: right;
    }

    .sliderDiv {
      display: inline-block;
      width: 90%;
      vertical-align: top;
      padding-top: 5px;
      padding-bottom: 6px;
      border-width: 1px;
      border-style: solid;
    }

    .sliderSummary {
      display: inline-block;
      width: 10%;
      border-width: 1px;
      border-style: solid;
      height: 58px;
      padding: 6px;
      text-align: right;
      font-size: 16px;

      .treeValue {
        color: #82ab1f;
      }
    }
  }

  .projectSlider {
    margin-bottom: 15px;
    .projectSummary {
      display: inline-block;
      width: 30%;

      .pieChart {
        display: inline-block;
        svg {
          height: 80px;
          border-radius: 50%;
          border-color: #82ab1f;
          border-style: solid;
          border-width: 5px;
          padding: 1px;
        }
      }
      .projectInfo {
        vertical-align: top;
        margin-top: 17px;
        display: inline-block;
        padding-left: 25px;
      }
    }
    .sliderDiv {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      margin-top: 12px;
      padding-top: 5px;
      padding-bottom: 6px;
      border-width: 1px;
      border-style: solid;
    }

    .sliderSummary {
      display: inline-block;
      vertical-align: top;
      margin-top: 12px;
      width: 10%;
      border-width: 1px;
      border-style: solid;
      height: 57px;
      padding: 6px;
      text-align: right;
      font-size: 16px;

      .treeValue {
        color: #82ab1f;
      }
    }
  }

  .articleSlider {
    text-align: right;
    margin-bottom: 0;

    .image {
      padding-top: 5px;
      text-align: center;
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #e5e5e5;
      img {
        border-radius: 50%;
        border-color: #82ab1f;
        border-style: solid;
        border-width: 3px;
      }
    }
    .treeTypeInfo {
      width: 130px;
      margin: 0;
      font-size: 14px;
      background-color: #e5e5e5;
      padding-top: 10px;
      vertical-align: top;
      text-align: left;
      display: inline-block;
      height: 50px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .sliderDiv {
      margin-top: 0;
      padding-top: 10px;
      background-color: #e5e5e5;
      display: inline-block;
      height: 50px;
      width: 45%;
      vertical-align: top;
      border: none;

    }
    .sliderSummary {
      width: 12%;
      font-size: 14px;
      margin-top: 0;
      padding-top: 18px;
      background-color: #e5e5e5;
      display: inline-block;
      vertical-align: top;
      height: 50px;
      border: none;
    }
  }
}
