@import '../../less/basecolors.less';

.projectPage {
  .carousel {
    .imageDescription {
      text-align: center;
      background-color: @primary-color;
      height: 70px;
      font-size: 18px;
      padding: 10px 10px 0;

      .date {
        font-family: Georgia,Times,Times New Roman,serif;
        color: #9e8c8f;
      }

      .text {
        color: @base-background-color;
      }
    }
  }

  .projectDetails {
    background-color: @base-background-color;
    padding-top: 15px;
    padding-bottom: 15px;

    h1, h2 {
      text-align: center;
      font-family: Georgia,Times,Times New Roman,serif;
    }

    svg {
      height: 100px;
      border-radius: 50%;
      border-color: @accent-color;
      border-style: solid;
      border-width: 5px;
      padding: 1px;
    }

    .greenValue {
      color: @accent-color;
      font-size: 30px;
      font-weight: bold;
    }

    .tableText {
      font-family: Georgia,Times,Times New Roman,serif;
      font-size: 16px;
    }

    table {
      margin: 30px auto;
      line-height: 140%;

      .floatRight {
        float: right;
      }

      td {
        width: 220px;
      }

      .midTd {
        text-align: center;
      }
    }

    .description {
      margin-left: 4vw;
      margin-right: 4vw;
      border-bottom: 1px solid;
      margin-bottom: 15px;
    }

    .spacing {
      margin: 50px 0 40px;

      .svgButton {
        border-radius: 0;
        background-color: @primary-color;
        border: 0;

        a {
          div {
            text-align: left;

            svg {
              border-radius: 0;
              height: 35px;
              border: 0;
            }
          }
        }
      }
    }
  }

  .projectRankings {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;

    .col-md-4 {
      padding-bottom: 1000px;
      margin-bottom: -1000px;
    }

    > div:nth-of-type(1) {
      background-color: @accent-complement-color;
    }

    > div:nth-of-type(2) {
      background-color: #737373;
    }

    > div:nth-of-type(3) {
      background-color: #813d59;
    }
  }
}
