.blog-tile {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  white-space: pre-wrap;
  border-bottom: 1px solid var(--black);
  border-right: 1px solid var(--black);
  background-image: none;
  background-size: cover;
  background-position: center;
}

.blog-tile:hover {
  cursor: pointer;
}

.tile-body {
  font-family: 'Bull-mono';
  padding: 1rem;
  text-align: left;

  h4 {
    text-decoration: underline;
    font-size: 1.25rem !important;
  }

  .description {
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 15;
    -webkit-line-clamp: 15; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}

@media only screen and (max-width: 768px) {
  .blog-tile {
    height: initial;
  }
}
