<div
  id="blog-tile"
  [style.backgroundImage]="backgroundImgUrl"
  (mouseenter)="showBackgroundImage(true)"
  (mouseleave)="showBackgroundImage(false)"
  class="blog-tile is-flex is-flex-direction-column"
  (click)="route()"
>
  <div [style.zIndex]="zIndex" class="tile-body is-flex h-100 w-100 is-flex-direction-column">
    <h4>{{ blogArticle.title }}</h4>
    <span class="dateAuthor">{{ blogArticle.createdOn | date }} {{ blogArticle.owner.name }}</span>
    <div class="description" innerHtml="{{ description }}"></div>
  </div>
</div>
