<div class="is-flex is-flex-direction-column padding-4 padding-top-2">
  <form [formGroup]="profileForm" *ngIf="profileForm">
    <h2>{{ 'editProfile' | translate }}</h2>
    <div class="is-flex is-flex-direction-row w-100">
      <div class="inputOutline w-100 spaceRightDesktop">
        <input [placeholder]="'username' | translate" name="username" formControlName="username" />
      </div>
      <div class="inputOutline w-100">
        <input [placeholder]="'email' | translate" name="mail" formControlName="mail" />
      </div>
    </div>
    <div class="is-flex is-flex-direction-row">
      <div class="inputOutline w-100">
        <textarea
          (blur)="updateProfile('ABOUTME', profileForm.get('aboutMe').value)"
          matInput
          rows="5"
          type="text"
          [placeholder]="'aboutMe' | translate"
          name="aboutMe"
          formControlName="aboutMe"
        >
        </textarea>
      </div>
    </div>
    <div class="is-flex is-flex-direction-row w-100">
      <div class="inputOutline w-100">
        <input
          (blur)="updateProfile('ORGANISATION', profileForm.get('organisation').value)"
          matInput
          [placeholder]="'organisation' | translate"
          name="organisation"
          formControlName="organisation"
        />
      </div>
    </div>
    <div class="is-flex is-flex-direction-row is-align-items-center w-100">
      <div class="inputOutline w-100 spaceRightDesktop">
        <input
          (blur)="updateProfile('LOCATION', profileForm.get('location').value)"
          matInput
          [placeholder]="'location' | translate"
          name="location"
          formControlName="location"
        />
      </div>
      <div class="inputOutline w-100">
        <input
          (blur)="updateProfile('HOMEPAGE', profileForm.get('homepage').value)"
          matInput
          [placeholder]="'website' | translate"
          name="homepage"
          formControlName="homepage"
        />
      </div>
    </div>
    <!-- <div class="is-flex is-justify-content-center">
      <app-button (clicked)="updateProfile()" [label]="'saveProfile' | translate"></app-button>
    </div> -->
  </form>
</div>
