.column {
  padding-left: 0;
}
.custom-text {
  background-color: var(--brown);
  display: inline-block;
  p {
    padding: 1rem;
    color: #fff;
    text-shadow: 0 0;
    padding-bottom: 0;
  }
}

.carousel {
  overflow-x: hidden;
}
