@import '../../less/basecolors.less';

.redeemGiftContent{
  margin-top: 10px;

  .inputWrapper {
    margin-bottom: 25px;
  }

  .iconButton {
    margin-bottom: 25px;
  }

  .code{
    display: inline-block;
    padding: 10px;
    border-style: solid;
    margin-bottom: 15px;
    background: rgba(60, 25, 30, .5);
  }
}
