<div class="is-flex is-flex-direction-column padding-top-1">
  <p>
    {{
      projectId
        ? ('customPlantingInfoSingleProject' | translate)
        : ('customPlantingInfo' | translate)
    }}
  </p>
  <div *ngFor="let project of activeProjects" class="content">
    <h4 class="margin-bottom-1">{{ project.projectName }}</h4>
    <div *ngIf="formGroup.get(project.projectName)">
      <div *ngFor="let fg of getFormArray(project.projectName)">
        <app-custom-plant-tree-input [formGroup]="fg"></app-custom-plant-tree-input>
      </div>
    </div>
  </div>
  <div class="is-flex w-100 slider-row is-align-items-center is-flex-direction-row-reverse price-row">
    <app-button
      label="{{ 'intoPlantbag' | translate }}"
      (click)="putIntoPlantbag()"
      *ngIf="showPutIntoPlantbagButton"
    ></app-button>
    <app-button
      label="{{ 'toPlantBag' | translate }}"
      routerLink="/plantbag"
      *ngIf="showGoToPlantbagButton"
    ></app-button>
    <span class="font-1 pricetag">
      <b>
        {{ ('price' | translate) + ': ' + totalPrice + ' €' }}
      </b>
    </span>
  </div>
</div>
