<div class="is-flex is-flex-direction-column padding-top-2">
  <p class="padding-bottom-1">
    {{
      projectId
        ? ('customPlantingInfoSingleProject' | translate)
        : ('customPlantingInfo' | translate)
    }}
  </p>
  <div *ngFor="let project of activeProjects" class="content">
    <div class="columns hideOnMobile">
      <div class="column">
        <b>
          {{ project.projectName }}
        </b>
      </div>
      <div class="column">
        <b> {{ 'treeType' | translate }} </b>
      </div>
      <div class="column">
        <b> {{ 'amount' | translate }} </b>
      </div>
      <div class="column">
        <b> {{ 'partialPrice' | translate }} </b>
      </div>
      <div class="column"></div>
    </div>
    <h4 class="margin-bottom-1 hideOnDesktop">{{ project.projectName }}</h4>
    <div *ngIf="formGroup.get(project.projectName)">
      <div *ngFor="let fg of getFormArray(project.projectName)">
        <app-custom-plant-tree-input [formGroup]="fg"></app-custom-plant-tree-input>
      </div>
    </div>
  </div>
  <div
    class="is-flex slider-row is-align-items-center"
  >
    <app-button
      label="{{ 'intoPlantbag' | translate }}"
      (click)="putIntoPlantbag()"
      *ngIf="showPutIntoPlantbagButton"
    ></app-button>
    <app-button
      label="{{ 'toPlantBag' | translate }}"
      routerLink="/plantbag"
      *ngIf="showGoToPlantbagButton"
    ></app-button>
    <span class="font-1 pricetag">
      <b>
        {{ ('price' | translate) + ': ' + totalPrice + ' €' }}
      </b>
    </span>
  </div>
</div>
