<div
  class="is-flex is-flex-direction-column padding-left padding-right padding-top-2 padding-bottom-2 border-bottom collapsible"
>
  <h2 class="is-flex is-justify-content-space-between is-align-items-center pointer">
    <span>
      {{ 'orChooseIndivudual' | translate }}
    </span>
  </h2>
  <p>
    {{
      projectId
        ? ('customPlantingInfoSingleProject' | translate)
        : ('customPlantingInfo' | translate)
    }}
  </p>
  <div *ngFor="let project of activeProjects" class="content">
    <h4 class="margin-top-1">{{ project.projectName }}</h4>
    <div *ngFor="let article of project.articles">
      <app-plantbag-tree-input
        [article]="article"
        [amount]="0"
        [withDelete]="false"
        [showProject]="false"
      ></app-plantbag-tree-input>
    </div>
  </div>
</div>
