<app-profile-info
  *ngIf="profileDetails$ | async"
  [profileDetails]="profileDetails$ | async"
  [teamDetails]="teamDetails$ | async"
  [showEdit]="showEdit"
></app-profile-info>

<app-profile-trees
  [trees]="(profileDetails$ | async)?.trees"
  [userName]="(profileDetails$ | async)?.userName"
></app-profile-trees>
<app-profile-receipts
  [receipts]="(profileDetails$ | async)?.receipts"
  *ngIf="showEdit"
></app-profile-receipts>
<app-profile-gift-overview
  [recipientGifts]="(profileDetails$ | async)?.gifts?.recipient"
  [consignorGifts]="(profileDetails$ | async)?.gifts?.consignor"
  *ngIf="showEdit"
></app-profile-gift-overview>

<app-newsletter *ngIf="showEdit"> </app-newsletter>
