.column {
  padding: 0 !important;
}

.desktopView {
  display: block;
}

.mobileView {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktopView {
    display: none;
  }

  .mobileView {
    display: block;
  }
}
