<!--  desktop layout --><!--  desktop layout --><!--  desktop layout -->
<div class="w-100 desktopView">
  <div class="columns border-bottom">
    <div class="column is-half border-right">
      <app-profile-header
        *ngIf="profileDetails$ | async"
        [profileDetails]="profileDetails$ | async"
        [showEdit]="showEdit"
      ></app-profile-header>
    </div>
    <div class="column is-half">
      <app-team-header
        *ngIf="profileDetails$ | async"
        [teamDetails]="teamDetails$ | async"
        [profileDetails]="profileDetails$ | async"
      ></app-team-header>
    </div>
  </div>
  <div class="columns border-bottom">
    <div class="column is-half border-right">
      <app-profile-details
        *ngIf="profileDetails$ | async"
        [profileDetails]="profileDetails$ | async"
      ></app-profile-details>
    </div>
    <div class="column is-half">
      <app-team-details
        *ngIf="teamDetails$ | async"
        [teamDetails]="teamDetails$ | async"
      ></app-team-details>
    </div>
  </div>
</div>
<!--  desktop layout --><!--  desktop layout --><!--  desktop layout -->

<!--  Mobile layout --><!--  Mobile layout --><!--  Mobile layout -->
<div class="w-100 mobileView">
  <app-profile-header
    *ngIf="profileDetails$ | async"
    [profileDetails]="profileDetails$ | async"
  ></app-profile-header>
  <app-profile-details
    *ngIf="profileDetails$ | async"
    [profileDetails]="profileDetails$ | async"
  ></app-profile-details>
  <div class="border-bottom"></div>

  <app-team-header
    *ngIf="profileDetails$ | async"
    [profileDetails]="profileDetails$ | async"
    [teamDetails]="teamDetails$ | async"
  ></app-team-header>
  <app-team-details
    *ngIf="teamDetails$ | async"
    [teamDetails]="teamDetails$ | async"
  ></app-team-details>
  <div class="border-bottom"></div>
</div>
<!--  Mobile layout --><!--  Mobile layout --><!--  Mobile layout -->

<app-profile-trees
  [trees]="(profileDetails$ | async)?.trees"
  [userName]="(profileDetails$ | async)?.userName"
></app-profile-trees>
<app-profile-receipts
  [receipts]="(profileDetails$ | async)?.receipts"
  *ngIf="showEdit"
></app-profile-receipts>
<app-profile-gift-overview
  [recipientGifts]="(profileDetails$ | async)?.gifts?.recipient"
  [consignorGifts]="(profileDetails$ | async)?.gifts?.consignor"
  *ngIf="showEdit"
></app-profile-gift-overview>
<app-profile-certificates
  [carts]="(profileDetails$ | async)?.carts ?? []"
></app-profile-certificates>
<app-profile-widgets> </app-profile-widgets>
<app-newsletter *ngIf="showEdit"> </app-newsletter>
