@media (min-width: 406px) and (max-width: 565px) {
  .article {
    font-size: 12px;
    div {
      vertical-align: top!important;
    }
    div:nth-of-type(1) {
      display: none!important;
    }
    div:nth-of-type(2) {
      margin-left: 0 !important;
      width: 130px!important;
    }
    div:nth-of-type(3) {
      width: 136px!important;
      text-align: left!important;
      padding-left: 15px !important;
      input {
        width: 50px!important;
      }
    }
    div:nth-of-type(4) {
      display: none!important;
    }
    div:nth-of-type(5) {
      width: 80px!important;
    }
    div:nth-of-type(6) {
      width: 0px!important;
    }
  }
  .articleDesc {
  font-size: 12px;
    div {
      display: inline-block;
    }
    div:nth-of-type(1) {
      width: 130px!important;
    }
    div:nth-of-type(2) {
      width: 65px!important;
    }
    div:nth-of-type(3) {
      width: 70px!important;
    }
    div:nth-of-type(4) {
      width: 70px!important;
    }
  }
}
@media (max-width: 405px) {
  .article {
    font-size: 10px;
    div {
      vertical-align: top!important;
    }
    div:nth-of-type(1) {
      display: none!important;
    }
    div:nth-of-type(2) {
      margin-left: 0 !important;
      width: 110px!important;
    }
    div:nth-of-type(3) {
      width: 116px!important;
      text-align: left!important;
      padding-left: 0 !important;
      input {
        width: 50px!important;
      }
    }
    div:nth-of-type(4) {
      display: none!important;
    }
    div:nth-of-type(5) {
      width: 70px!important;
    }
  }
  .articleDesc {
  font-size: 10px;
    div {
      display: inline-block;
    }
    div:nth-of-type(1) {
      width: 110px!important;
    }
    div:nth-of-type(2) {
      width: 50px!important;
    }
    div:nth-of-type(3) {
      width: 60px!important;
    }
    div:nth-of-type(4) {
      width: 70px!important;
    }
  }
}

.article {
  margin-bottom: 5px;
  div {
    display: inline-block;
  }
  .image {
    width: 80px;
    text-align: center;
  }
  div:nth-of-type(2) {
    margin-left: 15px;
    width: 120px;
    text-align: left;
  }
  div:nth-of-type(3) {
    width: 135px;
    input {
      width: 80px;
    }
  }
  div:nth-of-type(4) {
    margin-left: 25px;
    width: 50px;
    font-size: 20px;
  }
  div:nth-of-type(5) {
    width: 80px;
    text-align: right;
  }

  img {
    border-radius: 50%;
    border-color: #82ab1f;
    border-style: solid;
    border-width: 4px;
    background-color: #fff;
  }
}

.articleDesc {
  margin-top: 15px;
  margin-bottom: 15px;
  div {
    display: inline-block,;
  }
  div:nth-of-type(1) {
    width: 215px;
  }
  div:nth-of-type(2) {
    width: 84px;
    text-align: right;
  }
  div:nth-of-type(3) {
    width: 76px;
  }
  div:nth-of-type(4) {
    width: 135px;
    text-align: right;
  }
}
