.customPlantPage {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;

  .plantItems {
    overflow: hidden;
  }
  .slideIn {
    -webkit-animation: slide-in 2s;
    /* Safari 4+ */
    -moz-animation: slide-in 2s;
    /* Fx 5+ */
    -o-animation: slide-in 2s;
    animation: slide-in 2s;
  }
  @keyframes slide-in {
    from {
      max-height: 500px;
    }
    10% {
      max-height: 0;
    }
    20% {
      opacity: 0;
    }
    to {
      opacity: 1;
      max-height: 500px;
    }
  }
  @-webkit-keyframes slide-in {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      opacity: 1;
      max-height: 1000px;
    }
  }
  @-moz-keyframes slide-in {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      opacity: 1;
      max-height: 1000px;
    }
  }
  @-o-keyframes slide-in {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      opacity: 1;
      max-height: 1000px;
    }
  }

  .project {
    text-align: center;

    .plantItemDesc {
      margin-top: 15px;
      div {
        display: inline-block,;
      }
      div:nth-of-type(1) {
        width: 215px;
      }
      div:nth-of-type(2) {
        width: 84px;
        text-align: right;
      }
      div:nth-of-type(3) {
        width: 76px;
      }
      div:nth-of-type(4) {
        width: 135px;
        text-align: right;
      }
    }
  }

  .article {
    margin-bottom: 5px;
    div {
      display: inline-block;
    }
    .image {
      width: 80px;
      text-align: center;
    }
    div:nth-of-type(2) {
      margin-left: 15px;
      width: 120px;
      text-align: left;
    }
    div:nth-of-type(3) {
      width: 135px;
      input {
        width: 80px;
      }
    }
    div:nth-of-type(4) {
      margin-left: 25px;
      width: 50px;
      font-size: 20px;
    }
    div:nth-of-type(5) {
      width: 80px;
      text-align: right;
    }

    img {
      border-radius: 50%;
      border-color: #82ab1f;
      border-style: solid;
      border-width: 4px;
      background-color: #fff;
    }

  }
}
