@import '../../../less/basecolors.less';

@media (max-width: 630px) {
  .customPlantPage {
    .col-md-12 {
      padding: 0;
    }
  }
}

.customPlantPage {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;

  h2 {
    text-align: center;
  }

  .plantItems {
    overflow: hidden;
  }
  .slideIn {
    -webkit-animation: slide-in 2s;
    /* Safari 4+ */
    -moz-animation: slide-in 2s;
    /* Fx 5+ */
    -o-animation: slide-in 2s;
    animation: slide-in 2s;
  }
  @keyframes slide-in {
    from {
      max-height: 500px;
    }
    10% {
      max-height: 0;
    }
    20% {
      opacity: 0;
    }
    to {
      opacity: 1;
      max-height: 500px;
    }
  }
  @-webkit-keyframes slide-in {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      opacity: 1;
      max-height: 1000px;
    }
  }
  @-moz-keyframes slide-in {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      opacity: 1;
      max-height: 1000px;
    }
  }
  @-o-keyframes slide-in {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      opacity: 1;
      max-height: 1000px;
    }
  }

  .project {
    text-align: center;
  }
}
