@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
@import '~leaflet/dist/leaflet.css';
@import 'bulma/bulma.sass';

// Fonts
@import './assets/fonts/bull5/bull5.css';
@import './assets/fonts/nbArchitect/nbArchitect.css';
@import './app/util/material/custom-theme.scss';

:root {
  // --background: #dcdcd6;
  --background: #fdfefb;
  --black: #212121;
  --green: #969900;
  --lightGreen: #dcff61;
  --dark-brown: #3c3335;
  --dark-brown-hover: #332b2d;
  --brown: #65594e;
  --dark-green: #959349;
  --orange: #ff5a00;
}

html,
body {
  // overflow: auto;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  font-family: 'Bull-mono', sans-serif;
  font-size: 20px;
}

.code {
  padding: 0.5rem;
  background-color: #dbdbd7;
  color: var(--black);
}

.columns {
  margin: 0 !important;
}

mat-divider {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mat-raised-button.mat-warn {
  color: #fff !important;
}

snack-bar-container {
  background-color: var(--orange) !important;
  color: #fff !important;
  .mat-simple-snackbar-action {
    color: #fff !important;
  }
}

.success-snackbar {
  background-color: var(--green) !important;
  color: #fff !important;
}

.warning-snackbar {
  background-color: #ebad1a !important;
  color: #000 !important;
  .mat-simple-snackbar-action {
    color: #000 !important;
  }
}

.no-display {
  display: none;
}

.form-wrapper {
  padding: 15px;
}

.spacer {
  height: 15px;
}

.top-row-btn {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.mat-form-field-flex {
  padding: 0 0.5rem !important;
}

nav {
  margin-top: 1rem;
}
.breadcrumb {
  min-height: 1rem;
}

.breadcrumb-active {
  text-decoration: underline !important;
}

.center {
  text-align: center;
}

.image-wrapper {
  width: 100%;
  position: relative;

  img {
    height: 100%;
    min-width: 100%;
  }
}

.mat-toolbar-single-row {
  padding: 0 !important;
}

///////// radio button
.category {
  display: flex;
  margin-bottom: 1rem;
  span {
    font-size: 1.25rem;
  }
}

.circle {
  padding: 2px;
  border-style: solid;
  border-width: 1px;
  width: 21px;
  border-radius: 50%;
  height: 21px;
  margin-right: 10px;
  div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}
.circle-active {
  div {
    background: var(--dark-brown);
  }
}
.circle:hover {
  div {
    background: var(--green);
  }
}

.ag-icon {
  font-family: 'agGridAlpine' !important;
}

.mat-menu-panel {
  background: var(--background);
  padding: 1rem !important;
}

// finances page custom styles
.finances,
.partner {
  ul,
  table {
    margin-bottom: 0.75rem;
  }

  li,
  div,
  td {
    font-family: 'Bull-mono' !important;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.02em !important;
    text-shadow: 0 0 8px var(--background);
  }

  td {
    font-size: 0.8rem;
    p {
      font-size: 0.8rem;
    }
  }
}

app-toolbar {
  .mat-badge-content {
    background: transparent !important;
    top: 0px !important;
    right: 0px !important;
    width: 60px !important;
  }
}

.leaflet-container {
  z-index: 1;
}

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
  background-color: rgb(0, 0, 0, 0.04);
}

.offer:hover {
  circle {
    fill: var(--green);
  }
}
p.incognito {
  color: var(--background);
}

.select-outline {
  padding: 0.65rem !important;
  font-size: 20px !important;
}

.circle-icon-text {
  margin-left: -0.5rem;
}

.custom-slider .ngx-slider .ngx-slider-pointer {
  width: 25px !important;
  height: 25px !important;
  top: unset !important;
  bottom: -10px !important;
}

// MATERIAL TABLE MATERIAL TABLE MATERIAL TABLE MATERIAL TABLE MATERIAL TABLE
.mat-table {
  background: var(--background);
}

th.mat-header-cell {
  padding-left: 0 !important;
  padding-top: 0.5rem !important;
  font-family: 'Bull-mono';
}

tr,
td {
  padding-left: 0 !important;
  font-family: 'Bull-mono';
}

.tableAlignment {
  padding-top: 0.75rem !important;
}

.minTable200 {
  min-width: 200px;
}
.minTable60 {
  min-width: 60px;
}
.minTable80 {
  min-width: 80px;
}
.table48 {
  padding: 0 !important;
  width: 48px;
}

.mat-tab-label-content {
  font-family: 'Bull-mono' !important;
  font-size: 1rem !important;
}

mat-paginator {
  background-color: var(--background) !important;
  font-family: 'Bull-mono' !important;
}

.mat-button-toggle-button {
  min-width: 130px;
  background: var(--dark-brown) !important;
  color: var(--background) !important;
}

.left-toggle-btn {
  background: var(--background);
  button {
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
  }
}

.right-toggle-btn {
  background: var(--background);
  button {
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
  }
}

.mat-button-toggle-checked {
  button {
    background: var(--green) !important;
    color: var(--dark-brown) !important;
  }
}

// .plant-proposal-page {
//   .mat-tab-label-container {
//     padding-left: 4rem !important;
//   }
// }

.teamPage {
  .leftSide {
    border-right: 1px solid var(--black);
  }
}

.teamPage {
  .borderRight {
    border-right: 1px solid var(--black);
  }
}

app-profile-page {
  .teamHeader {
    mat-icon {
      display: none;
    }
  }
}

.cc-deny,
.cc-message {
  font-size: 1rem !important;
}
.cc-link {
  font-weight: bold;
}
.cc-allow {
  border-radius: 45px;
  padding: 0.35rem 1rem;
  font-size: 1rem !important;
  background: var(--dark-brown) !important;
  border-radius: 45px;
  color: var(--background) !important;
  text-decoration: none;
  &:hover {
    background: var(--green) !important;
    color: var(--black) !important;
  }
}

.ng-scroll-content {
  height: 100%;
}

.mat-snack-bar-container {
  max-width: 45vw !important;
}

.custom-snackbar {
  background: var(--background) !important;
}

// correct hover effect in footer
a:hover {
  app-instagram-icon {
    .svg-icon {
      path {
        fill: var(--green) !important;
      }
    }
  }
  app-youtube-icon {
    .svg-icon {
      path {
        fill: var(--green) !important;
      }
    }
  }
  app-facebook-icon {
    .svg-icon {
      path {
        fill: var(--green) !important;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .mat-snack-bar-container {
    max-width: 100% !important;
  }

  html,
  body {
    font-size: 16px;
  }

  .gift-box {
    .mat-tab-label {
      padding: 0 0.75rem;
    }
  }
  .plant-proposal-page {
    // .mat-tab-label-container {
    //   padding-left: 0rem !important;
    // }
    .mat-tab-label {
      padding: 0 0.5rem;
    }
  }
}
