<div class="padding-2 padding-left plantbag-wrapper">
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/plantbag" class="breadcrumb-active">
          {{ 'plantbag' | translate }}
        </a>
      </li>
    </ul>
  </nav>
  <app-plantbag (convertPlantBagToCartClicked)="convertPlantBagToCart()"></app-plantbag>
  <app-not-authenticated-warning *ngIf="!(loggedIn$ | async)"></app-not-authenticated-warning>
</div>
