<div class="padding-2 padding-left plantbag-wrapper">
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/plantbag" class="breadcrumb-active">
          {{ 'plantbag' | translate }}
        </a>
      </li>
    </ul>
  </nav>
  <div class="columns">
    <div class="column">
      <app-plantbag></app-plantbag>
    </div>
  </div>
</div>

<div class="columns padding-left padding-2 padding-right" *ngIf="(plantBagPrice$ | async) > 0">
  <div class="column is-8" *ngIf="!(loggedIn$ | async)">
    <p class="p-header">
      Du bist nicht eingeloggt! Wenn du anonym pflanzt, stehen dir weniger Funktionen zur Verfügung
    </p>
    <p>{{ 'plantBagInfoText' | translate }}</p>
    <p>
      {{ ('giftRedeemInfoDescription2' | translate) + ' '
      }}<a routerLink="/login">{{ 'login' | translate }}</a>
    </p>
    <p>
      {{ ('giftRedeemInfoDescription3' | translate) + ' '
      }}<a routerLink="/signup">{{ 'registerHere' | translate }}</a>
    </p>
  </div>
  <div class="column checkout-btn">
    <app-button
      label="{{ 'GoToCheckout' | translate }}"
      (click)="convertPlantBagToCart()"
    ></app-button>
  </div>
</div>
