.bordered {
  border-right-style: solid;
  border-top-style: solid;
  border-width: 1px;
}

.stats {
  margin: 1rem auto 1rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
}

.tree-tile {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .border-left {
    border-left: none;
  }

  .stats {
    margin: 0 auto 1rem 0;
  }
}
