<div class="columns">
  <div
    class="column is-two-fifths bordered padding-left is-flex is-flex-direction-column is-justify-content-center"
  >
    <h2>{{ 'plantTree' | translate }}</h2>
    <p>{{ 'selectAndPlantNow' | translate }}</p>
    <app-button label="{{ 'plantNow' | translate }}" routerLink="/plant"></app-button>
  </div>
  <div
    *ngFor="let tree of trees; let i = index"
    class="column bordered padding-1"
    routerLink="/plant"
    (mouseenter)="hoveredIndex = i"
    (mouseleave)="hoveredIndex = null"
  >
    <p class="margin-0 has-text-right">{{ tree.name }}</p>
    <img [src]="hoveredIndex === i ? tree.urlColor : tree.urlBW" alt="tree" />
  </div>
</div>
