<div class="columns border-bottom">
  <div class="column padding-left is-flex is-flex-direction-column is-justify-content-center">
    <div class="stats"><app-tree-icon></app-tree-icon>{{ treeCount$ | async }}</div>
    <h2>{{ 'plantTree' | translate }}</h2>
    <p>{{ 'selectAndPlantNow' | translate }}</p>
    <app-button label="{{ 'plantNow' | translate }}" (clicked)="routeToPlanting()"></app-button>
  </div>
  <div
    *ngFor="let tree of trees; let i = index"
    class="column padding-1 is-one-fifth border-left tree-tile"
    (click)="addTreeToPlantBag(tree)"
  >
    <div class="is-flex is-flex-direction-column">
      <p class="margin-0">{{ tree.name }}</p>
      <img [src]="tree.urlColor" alt="tree" />
      <p class="has-text-right">{{ tree.article.project.name }}</p>
    </div>
  </div>
</div>
