<div class="is-hidden-mobile is-flex is-flex-direction-row is-align-items-center">
  <span class="margin-right-1"
  >{{ 'deleteAccountConfirmation' | translate }}
  </span>
  <span class="pointer cookieButton margin-right-1" (click)="softDeleteAccount()">{{
    'delete' | translate
    }}</span>
  <span class="pointer outlineButton margin-right-1" (click)="closeSnackbar()">{{
    'cancel' | translate
    }}</span>
</div>
<div class="is-hidden-desktop is-flex is-flex-direction-column is-align-items-center">
  <span class="margin-bottom-05"
  >{{ 'deleteAccountConfirmation' | translate }}
  </span>
  <div class="is-flex w-100 is-flex-direction-row is-justify-content-space-evenly">
    <span class="pointer cookieButton" (click)="softDeleteAccount()">{{ 'delete' | translate }}</span>
    <span class="pointer outlineButton" (click)="closeSnackbar()">{{ 'cancel' | translate }}</span>
  </div>
</div>

