<div class="columns center">
  <div class="column">
    <h2>{{ 'process' | translate }}</h2>
  </div>
</div>
<div class="columns">
  <div class="column is-one-fifth">
    <div class="svg-div">
      <app-tree-icon></app-tree-icon>
    </div>
    <h4>{{ 'selectTree' | translate }}</h4>
    <p class="desc">
      {{ 'selectTreeText' | translate }}
    </p>
  </div>
  <div class="column is-1">
    <div class="line"></div>
  </div>
  <div class="column is-one-fifth">
    <div class="svg-div">
      <app-barrel-icon></app-barrel-icon>
    </div>
    <h4>{{ 'plantbag' | translate }}</h4>
    <p class="desc">
      {{ 'plantbagText' | translate }}
    </p>
  </div>
  <div class="column is-1">
    <div class="line"></div>
  </div>
  <div class="column is-one-fifth">
    <div class="svg-div">
      <app-shovel-icon></app-shovel-icon>
    </div>
    <h4>{{ 'plantTree' | translate }}</h4>
    <p class="desc">
      {{ 'plantTreeText' | translate }}
    </p>
  </div>
  <div class="column is-one-fifth">
    <div class="svg-div">
      <app-certificate-icon></app-certificate-icon>
    </div>
    <h4>{{ 'certificate' | translate }}</h4>
    <p class="desc">
      {{ 'certificateText' | translate }}
    </p>
  </div>
</div>
