.wrapper {
  margin: 2rem auto !important;
}

h2 {
  margin: 2rem auto !important;
}

.line {
  margin: 0 2rem;
  width: 200px;
  height: 1px;
  background: var(--black);
}

.svg-div {
  height: 40px;
}

.flex-container {
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  .line {
    margin: 1rem 0;
    width: 1px;
    height: 50px;
    background: var(--black);
  }
}
