<div class="w-100 padding-2 is-flex is-flex-direction-column">
  <h2>
    {{ 'team' | translate }}
  </h2>
  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
    <div class="inputOutline">
      <input
        type="text"
        [placeholder]="'name' | translate"
        name="name"
        required
        formControlName="name"
      />
    </div>
    <div class="inputOutline">
      <textarea
        type="text"
        [placeholder]="'description' | translate"
        name="description"
        required
        formControlName="description"
      ></textarea>
    </div>

    <!-- <div>
      <input
        #csvInput
        hidden="true"
        type="file"
        (change)="imageChanged($event)"
        accept=".png, .jpg, .jpeg"
      />
      <app-button
        [type]="'button'"
        label="{{ 'imageUpload' | translate }}"
        (click)="csvInput.click()"
      ></app-button>
      <div class="margin-top-2">
        <img src="{{ imageSrc }}" width="400" height="300" *ngIf="imageSrc" />
        <p *ngIf="!imageSrc">{{ 'noImgPicked' | translate }}</p>
      </div>
    </div> -->

    <app-button class="margin-right-1" [label]="'save' | translate"></app-button>
    <app-button [label]="'cancel' | translate" [type]="'button'" (clicked)="cancel()"></app-button>
  </form>
</div>
