<div class="columns">
  <div class="column is-4">
    <mat-form-field appearance="fill">
      <mat-label>Beschreibung(De)</mat-label>
      <textarea
        matInput
        placeholder=""
        [formControl]="descriptionDe"
        rows="5"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Beschreibung(En)</mat-label>
      <textarea
        matInput
        placeholder=""
        [formControl]="descriptionEn"
        rows="5"
      ></textarea>
    </mat-form-field>
  </div>
  <div class="column is-6">
    <img src="{{ imageSrc }}" width="400" height="300" />
  </div>
  <div class="column is-2">
    <button mat-raised-button color="primary" (click)="updateImage()"  [disabled]="!saveAvailable">
      Speichern
    </button>
    <input
      #csvInput
      hidden="true"
      type="file"
      onclick="this.value=null"
      (change)="imageChanged($event)"
      accept=".png, .jpg, .jpeg"
    />
    <button mat-raised-button color="primary" (click)="csvInput.click()">
      Bild
    </button>
    <button mat-icon-button color="warn" (click)="openDeleteConfirmation()">
      <mat-icon aria-hidden="false">delete</mat-icon>
    </button>
  </div>
</div>
