<div class="row">
  <div class="col">
    <button mat-raised-button color="primary" (click)="filterColumns()">
      Filter columns
    </button>
    <button mat-raised-button color="primary" (click)="resetColumns()">
      All columns
    </button>
  </div>
</div>
<div class="row">
  <div [ngClass]="cartDetails ? 'col-8' : 'col-12'">
    <div class="grid-wrapper">
      <ag-grid-angular
        style="width: 100%; height: 100%"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        (cellValueChanged)="onCellValueChanged($event)"
        [gridOptions]="gridOptions"
      >
      </ag-grid-angular>
    </div>
  </div>
  <div [ngClass]="cartDetails ? 'col-4' : 'no-display'">
    <div class="cart-detail-wrapper">
      <app-cart-details *ngIf="cartDetails"></app-cart-details>
    </div>
  </div>
</div>
