<div
  class="is-flex is-flex-direction-column padding-left padding-top-075 is-justify-content-space-between"
>
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a class="breadcrumb-active" routerLink="/awards">
          {{ 'awards' | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
<div
  class="w-100 is-flex is-flex-direction-column is-justify-content-center is-align-items-center padding-1"
>
  <div class="awards margin-top-2">
    <h2>{{ 'awards' | translate }}</h2>
    <div *ngFor="let awardsArticle of awards?.slice().reverse()">
      <h4>{{ awardsArticle.title }}</h4>
      <div innerHtml="{{ awardsArticle.intro }}"></div>
      <div *ngFor="let paragraph of awardsArticle.paragraphs">
        <p>
          {{ paragraph.title }}
        </p>
        <p>
          {{ paragraph.text }}
        </p>
      </div>
    </div>
  </div>
</div>
