<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="assets/ipatlogo.svg" width="50" height="50" />
    <div class="menu-spacer"></div>
    <div>
      <a mat-list-item (click)="selectOverviewPage('CARTS')" [ngClass]="selectedOverview === 'CARTS' ? 'border-bottom' : ''"> Carts </a>
      <a mat-list-item (click)="selectOverviewPage('USER')" [ngClass]="selectedOverview === 'USER' ? 'border-bottom' : ''"> User </a>
      <a mat-list-item (click)="selectOverviewPage('PROJECTS')" [ngClass]="selectedOverview === 'PROJECTS' ? 'border-bottom' : ''"> Projects </a>  
      <a mat-list-item (click)="selectOverviewPage('CONTENT')" [ngClass]="selectedOverview === 'CONTENT' ? 'border-bottom' : ''"> Content </a>  
      <a mat-list-item (click)="selectOverviewPage('EVENTS')" [ngClass]="selectedOverview === 'EVENTS' ? 'border-bottom' : ''"> Events </a>  
      <a mat-list-item (click)="selectOverviewPage('TREETYPES')" [ngClass]="selectedOverview === 'TREETYPES' ? 'border-bottom' : ''"> Baumarten </a>  
    </div>    
    <div class="menu-spacer"></div>
    <span class="logout" (click)="logout()">Logout</span>
    <img class="profile-img" src="{{ profileImgUrl }}" width="50" height="50" />
    <p class="profile-name">{{ username$ | async }}</p>
  </mat-toolbar-row>
</mat-toolbar>

<app-carts-overview *ngIf="selectedOverview == 'CARTS'"> </app-carts-overview>
<app-projects-overview *ngIf="selectedOverview == 'PROJECTS'"></app-projects-overview>
<app-user-overview *ngIf="selectedOverview == 'USER'"></app-user-overview>
<app-content-overview *ngIf="selectedOverview == 'CONTENT'"></app-content-overview>
<app-events-overview *ngIf="selectedOverview == 'EVENTS'"></app-events-overview>
<app-treetypes-overview *ngIf="selectedOverview == 'TREETYPES'"></app-treetypes-overview>
