<mat-card *ngIf="!(passwordResetSent$ | async) && (verifyPasswordResetLink$ | async)">
  <mat-card-content>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <img src="assets/ipat_logo.png" width="150" height="150" />
      <h2>Passwort zurücksetzen</h2>
      <mat-form-field>
        <input matInput placeholder="neues Passwort" name="password" required formControlName="password" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Passwort wiederholen" name="passwordConfirmation" required formControlName="passwordConfirmation" />
      </mat-form-field>
      <button mat-raised-button color="primary">zurücksetzen</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="passwordResetSent$ | async">
  <mat-card-content> Passwort erfolgreich geändert </mat-card-content>
</mat-card>

<mat-card *ngIf="!(verifyPasswordResetLink$ | async)">
  <mat-card-content> Dieser Link ist ungültig </mat-card-content>
</mat-card>
