span {
  font-size: 1.5rem !important;
}

.blog-header {
  border-bottom: 1px solid var(--black);
}

nav {
  margin-top: 1rem;
}

.mapLink {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  span {
    font-size: 1rem !important;
  }

  .border-right {
    border-right: none;
    border-bottom: 1px solid var(--black);
  }

  .mapLink {
    margin-bottom: 1rem;
  }
}
