@import '../../../less/basecolors.less';

@media (max-width: 290px) {
  .captcha {
    img {
      width: 150px;
      height: 52px;
      margin-bottom: 15px;
    }
  }
}

.captcha {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: @base-background-color;

  .captchaImage {
    margin-bottom: 15px;
  }

  .inputWrapper {
    .inputField {
      display: inline-block;
      margin: 10px 10px 10px 0px;
      width: 200px;
      padding-left: 0px;
    }
  }

  .iconButton {
    a {
      span:nth-child(1) {
        margin-right: 0 !important;
      }
    }
  }
}
