@import '../../../less/basecolors.less';

.circleButton {
  display: inline-block;
  margin: 15px 35px 0px 0px;
  a {
    text-decoration: none;
    span.circle,
    span.circle:visited {
      display: inline-block;
      width: 24px;
      height: 24px;
      padding: 4px 0px 0px 3px;
      border-radius: 50%;
      color: @base-background-color;
      background-color: #000;
    }
    span.label,
    span.label:visited {
      color: #000;
      text-align: center;
      text-decoration: none;
      background-color: @base-background-color;
      padding: 6px;
      font-size: 14px; 
    }
  }
  a:hover {
    span.circle {
      background-color: @accent-color;
      color: @base-background-color;
    }
    span.label {
      background-color: @base-background-color;
      color: @accent-color;
    }
  }
}
