.dateField {
  width: 250px;
  .popover-title{
    background-color: #82ab1f;
    color: #fff;
    .pull-left{
      color: #fff;
    }
    .pull-right{
      color: #fff;
    }

  }
  .popover-content {
    table {
      .bg-primary{
        background-color: #82ab1f;
      }
      tr {
        height: 15px !important;
      }
    }
  }
}
