@import '../../../less/basecolors.less';

.dateField {
  width: 250px;
  .popover-title{
    background-color: @accent-color;
    color: @base-background-color;
    .pull-left{
      color: @base-background-color;
    }
    .pull-right{
      color: @base-background-color;
    }

  }
  .popover-content {
    table {
      .bg-primary{
        background-color: @accent-color;
      }
      tr {
        height: 15px !important;
      }
    }
  }
}
