.fileChooser{
  a,
  a:active,
  a:visited {
    color: #000;
    text-decoration: none;
    span {
      margin-left: 5px;
    }
  }
  a:hover {
    font-weight: bold;
    text-decoration: none;
  }
}
