@import '../../../less/basecolors.less';

.iconButton {
  display: inline-block;
  a,
  a:visited {
    color: #000;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    span:nth-child(1) {
      color: @base-background-color;
      margin-right: 5px;
      top: 3px;
    }
    span:nth-child(2) {
      position: relative;
      top: 1px;
    }

    background-color: @primary-color;
    color: @base-background-color;
    padding: 6px;
    font-size: 14px;
  }
  a:hover {
    background-color: #70523e;
  }
}
