.imageButton {
  display: inline-block;
  background-color: #3C191E;
  padding: 5px;

  img {
    background-color: #fff;
  }

  p {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0px;
  }

  span {

  }
  a,
  a:active,
  a:visited {
    display: block;
    color: #fff;
    text-decoration: none;
  }
  &:hover {
    cursor: pointer;
    a {
      color: #82ab1f;
    }

    img {
      background-color: #82ab1f;
    }
  }
}
