@import '../../../less/basecolors.less';

.imageButton {
  display: inline-block;
  background-color: @primary-color;
  padding: 5px 10px 5px 10px;

  img {
    background-color: #fff;
  }

  p {
    display: inline-block;
    margin-left: 5px;
  }

  a,
  a:active,
  a:visited {
    display: block;
    color: #fff;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    a {
      color: #82ab1f;
    }
    img {
      background-color: #82ab1f;
    }
  }
}
