@import '../../../less/basecolors.less';

.leftRightSwitch{
  display: inline-block;
  .buttonDiv {
    background-color: #fff;
    font-size: 14px;
    display: inline-block;
    width: 60px;
    color: #82ab1f;
    border-style: solid;
    border-width: 1px;
    border-color: #82ab1f;
    text-align: center;
    a,
    a:active,
    a:visited {
      color: #82ab1f;
      text-decoration: none;
    }

    input {
      text-align: center;
      color: #82ab1f;
      width: 100%;
      margin-right: 5px;
      padding: 0;
      border:0;
    }
  }
  .buttonDiv:hover {
    background-color: #82ab1f;
    color: #fff;
    a {
      color: #fff;
    }
  }

  .chosen {
    background-color: #82ab1f;
    color: #fff;
    a {
      color: #fff;
    }
  }
}
