@import '../../../less/basecolors.less';

.radioButton {
  font-size: 12px;
  display: inline-block;
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    font-size: 1em;
    width: 100%;
  }

  /* graceful degradation for ie8 */
  input[type='radio'] {
    width: auto;
    float: left;
    margin-right: 0.75em;
    background: transparent;
    border: none;
  }
  input[type='radio']:checked,
  input[type='radio']:not(:checked) {
    background: transparent;
    position: relative;
    visibility: hidden;
    margin: 0;
    padding: 0;
  }

  input[type='radio'] + label {
    cursor: pointer;
  }
  input[type='radio']:checked + label::before,
  input[type='radio']:not(:checked) + label::before {
    content: ' ';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    background: white;
    margin-right: 3px;
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.1);
  }
  input[type=radio]:checked + label::before,
  input[type=radio]:not(:checked) + label::before {
    border-radius: 30px;
  }
  input[type='radio']:hover + label::before {
    background: @base-background-color;
    box-shadow: inset 0 0 0 3px @accent-color;
  }
  input[type='radio']:checked + label::before {
    background: @accent-color;

    box-shadow: inset 0 0 0 3px @base-background-color;
  }

}
