<div class="is-flex is-flex-direction-column padding-top-2 padding-left-2 padding-right-2">
  <div class="is-flex is-justify-content-space-between is-align-items-center w-100"
  flex-grow:1>
    <h2>{{ 'ranking' | translate | titlecase }}</h2>
      <mat-icon routerLink="ranking"
          [matTooltip]="'more' | translate"
      >
       emoji_events
      </mat-icon>
  </div>

  <app-ranking-item
    *ngFor="let item of (rankings$ | async).content.slice(0, 4)"
    [item]="item"
    [max]="maxValue$ | async"
    [type]="'bestUser'"
    [lastYear]="lastYear"
  ></app-ranking-item>
</div>

