@media (max-width: 994px) {
  .footer {
    .col-md-2 {
      width: 100%!important;
    }
  }
}

.footer {
  background-color: #4F3A2C;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;


  .col-md-2{
    text-align: center;
  }

  a {
    color: #ded8d9;
    font-size: 14px;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  a:active,
  a:visited {
    text-decoration: none;
  }

  .container {
    padding-top: 27px;
  }
}


