@import '../../../less/basecolors.less';

.footer {
  background-color: @primary-color;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;

  a {
    color: #ded8d9;
    font-size: 14px;
    display: block;
    margin-bottom: 7px;
    text-align: center;
  }
  a:hover {
    color: @base-background-color;
    text-decoration: none;
  }
  a:active,
  a:visited {
    text-decoration: none;
  }

  .container {
    padding-top: 25px;
    padding-bottom: 18px;
  }
}