<div class="w-100 columns is-flex is-align-items-center w-100 bottomLine">
  <div class="column is-one-fifth">
    <img class="img-tree" src="{{ imageUrl }}" alt="tree" />
  </div>
  <div class="column is-one-fifth">
    <b> {{ getTreetypeName(plantItem.treeType) }} </b>
  </div>
  <div class="column is-one-fifth">
    <div class="x">x {{ plantItem.amount }}</div>
    <div class="amount">{{ plantItem.amount }} {{ 'pieces' | translate }}</div>
  </div>
  <div class="projectname column is-one-fifth">
    <div>
      {{ plantItem.projectName }}
    </div>
  </div>
  <div class="column is-one-fifth">
    <div>
      {{ sum | currency }}
    </div>
  </div>
</div>
