.image-wrapper {
  max-width: 90px;
  max-height: 90px;
}

.bottomLine {
  border-bottom: 1px solid #c9c9c9;
}

.column {
  font-size: 1rem;
  font-family: 'Bull-mono' !important;
  padding: 0 !important;
}

.amount {
  display: block;
}

.x {
  display: none;
}

@media only screen and (max-width: 768px) {
  .amount {
    display: none;
  }

  .projectname {
    display: none;
  }

  .x {
    display: block;
  }
}
