<div class="w-100 columns is-flex is-align-items-center w-100 bottomLine">
  <div class="column">
    <img class="img-tree" src="{{ imageUrl }}" alt="tree" />
  </div>
  <div class="column">
    <span> {{ getTreetypeName(plantItem.treeType) }} </span>
    <span> {{ plantItem.treePrice / 100 | currency }}</span>
  </div>
  <div class="column">
    <div class="x">x {{ plantItem.amount }}</div>
    <div class="amount">{{ plantItem.amount }} {{ 'pieces' | translate }}</div>
  </div>
  <div class="projectname column">
    <div>
      {{ plantItem.projectName }}
    </div>
  </div>
  <div class="column">
    <div>
      {{ sum | currency }}
    </div>
  </div>
</div>
