<div
  class="columns is-flex is-flex-direction-row is-justify-content-space-between text-align-center is-align-items-center w-100 bottomLine"
>
  <div class="column is-one-fifth image-wrapper">
    <img class="img-tree" src="{{ imageUrl }}" alt="tree" />
  </div>
  <div class="column is-two-fifth is-flex-direction-column is-flex">
    <b> {{ getTreetypeName(plantItem.treeType) }} </b>
    {{ plantItem.treePrice / 100 | currency }}
  </div>
  <div class="column is-two-fifth is-flex-direction-row is-flex">
    <div class="x">x {{ plantItem.amount }}</div>
    <div class="amount">{{ plantItem.amount }} {{ 'pieces' | translate }}</div>
  </div>
  <div class="column is-two-fifth">
    {{ plantItem.projectName }}
  </div>
  <div class="column is-one-fifth">
    {{ sum | currency }}
  </div>
</div>
