.tree-overlay {
  min-height: 100vh;
  padding-top: 80px;
  background: var(--background);
}
mat-icon {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}

mat-icon:hover {
  color: var(--green);
  cursor: pointer;
}

.imageWrapper {
  display: flex;
  align-items: center; /* vertical */
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 300px;
  img {
    height: auto;
    width: 100%;
  }
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.treeTile {
  border: 1px solid var(--black);
  padding: 1rem;
}

.infoPage {
  padding-top: 0 !important;
}

.column {
  padding: 0 !important;
}

@media only screen and (max-width: 768px) {
  .imageWrapper {
    margin: 0;
  }

  .description,
  .infoPage {
    flex-direction: column !important;
  }
  .padding-2 {
    padding: 1rem;
  }
}
