<div class="wrapper">
  <div class="columns">
    <div class="column is-three-fifths">
      <p>
        {{ 'offerAreaText' | translate }}
      </p>
    </div>
    <div class="column flex">
      <p class="largeText">
        <svg width="20" height="20" viewBox="0 0 20 19" xmlns="http://www.w3.org/2000/svg">
          <circle cx="9.69531" cy="9.5" r="9.5" fill="#212121" />
          <circle cx="9.69531" cy="9.5" r="9.5" fill="#212121" />
        </svg>
        {{ 'offerAreaNow' | translate }}
      </p>
    </div>
  </div>
</div>
