.columns {
  background: var(--background);
  font-family: 'Bull-mono';
}

.column {
  border-top: 1px solid black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
  }
}

.is-three-fifths {
  border-right: 1px solid black;
}

p {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 1rem 7rem;
}

.largeText {
  font-size: 30px;
  line-height: 31px;
}
