.columns {
  font-family: 'Bull-mono';
}

.column {
  border-top: 1px solid var(--black);
  padding: 2rem;
}

p {
  margin-bottom: 0;
}

.is-three-fifths {
  border-right: 1px solid var(--black);
}

.largeText {
  display: block;
  font-size: 1.25rem !important;
  line-height: 1.25rem !important;
}

.largeTextMobile {
  display: none;
  font-size: 25px !important;
  line-height: 31px !important;
}

app-circle-icon {
  margin-right: 1rem;
}

.desktop {
  // font-family: 'Bull-regular' !important;
  // font-size: 15px !important;
  // line-height: 21px !important;
}

@media only screen and (max-width: 768px) {
  .column {
    padding: 1rem;
  }

  .largeText {
    display: none;
  }

  .largeTextMobile {
    display: block;
  }
}
