.columns {
  font-family: 'Bull-mono';
}

.column {
  border-top: 1px solid var(--black);
  padding: 2rem;
}

p {
  margin-bottom: 0;
}

.is-three-fifths {
  border-right: 1px solid var(--black);
}

.largeText {
  font-size: 25px !important;
  line-height: 31px !important;
}

app-circle-icon {
  margin-right: 1rem;
}
