form {
  max-width: 1024px;
  z-index: 2;
}

.captcha {
  border: var(--black) 1px solid;
  border-radius: 20px;
}

.offerArea {
  max-width: 1024px;
}

mat-icon {
  height: 48px;
  width: 48px;
  font-size: 48px;
  &:hover {
    color: var(--green);
    cursor: pointer;
  }
}

.inputOutline:last-child {
  margin-bottom: 0 !important;
  margin-left: 1rem;
}
