.projectOverview {
  .row {
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .project {
    padding-bottom: 25px;
    //    border-style: none none solid none;
    //    border-width: 1px;
    p {
      font-size: 16px;
      margin-right: 10px;
      display: inline;
    }
  }
}
