.faq {
  max-width: 1080px;
}

.is-9 {
  max-width: 1280px;
  padding: 0 2rem;
}

.scroll-container {
  min-height: 1000px;
}

.faq-link {
  font-size: 1rem;
  margin-bottom: 5px;
}

.faq-columns {
  min-height: 80vh;
}
