.faq {
  max-width: 1080px;
}

.column {
  padding: 0 !important;
}

.scroll-container {
  min-height: 1000px;
}

.faq-link {
  font-size: 1rem;
  margin-bottom: 5px;
}

.faq-columns {
  min-height: 80vh;
}
