.tour-button {
  font-family: 'Bull-mono';
  font-size: 24px;
  line-height: 24px;
  border-radius: 48px;
  border: 2px solid var(--background);
  color: var(--background);
  background: #00000000;
}

.button-wrapper {
  width: 100%;
  position: absolute;
  left: 4rem;
  bottom: 4rem;
}

button:hover {
  border: 2px solid var(--lightGreen);
  color: var(--lightGreen);
}

@media only screen and (max-width: 768px) {
  .tour-button {
    font-size: 15px;
    line-height: 15px;
    border-radius: 30px;
  }

  .button-wrapper {
    left: initial;
    text-align: center;
  }
}
