<div class="columns h-100 w-100 border-bottom" *ngIf="teamDetails && !createMode && !editMode">
  <div class="column is-half leftSide padding-2">
    <h2 class="w-100 is-flex is-justify-content-space-between w-100">
      {{ 'team' | translate }}
      <div class="is-flex is-flex-direction-row" *ngIf="isLoggedIn()">
        <mat-icon *ngIf="isAdmin$ | async" [matTooltip]="'edit' | translate" (click)="editTeam()"
          >edit</mat-icon
        >
        <mat-icon
          *ngIf="isAdmin$ | async"
          [matTooltip]="'delete' | translate"
          (click)="openConfirmation('delete')"
          >delete</mat-icon
        >
        <mat-icon
          *ngIf="(isMember$ | async) && !(isAdmin$ | async)"
          [matTooltip]="'leave' | translate"
          (click)="openConfirmation('leave')"
          >logout</mat-icon
        >
        <mat-icon
          *ngIf="!(isMember$ | async) && !(hasTeam$ | async)"
          [matTooltip]="'join' | translate"
          (click)="openConfirmation('join')"
          >group_add</mat-icon
        >
      </div>
    </h2>
    <h4 class="pointer" (click)="routeToTeam()">{{ teamDetails.teamName }}</h4>
  </div>
  <div class="column is-half padding-2">
    <div class="imageWrapper">
      <img
        src="{{ teamDetails.teamImageUrl + '?' + randomNumber }}"
        alt=""
        *ngIf="teamDetails.teamImageUrl"
      />
      <img *ngIf="!teamDetails.teamImageUrl" src="assets/default_user.jpg" alt="" />
    </div>
  </div>
</div>
<div
  class="columns w-100 is-flex is-flex-direction-column padding-2"
  *ngIf="!teamDetails && !createMode"
>
  <h2>
    {{ 'team' | translate }}
  </h2>
  <h4 class="margin-bottom-1" *ngIf="!isMyProfile()">
    {{ profileDetails.userName }} {{ 'noTeamYet' | translate }}
  </h4>
  <p class="margin-bottom-1" *ngIf="isMyProfile()">{{ 'youNoTeamYet' | translate }}</p>
  <app-button
    *ngIf="isMyProfile()"
    (clicked)="switchMode('create')"
    [label]="'createTeam' | translate"
  ></app-button>
</div>
<app-team-create-edit
  *ngIf="createMode || editMode"
  [editMode]="editMode"
  (closeComponent)="closeTeamCreate()"
  [teamDetails]="teamDetails"
></app-team-create-edit>
