<div class="columns w-100 padding-2" *ngIf="teamDetails && !createMode && !editMode">
  <div class="column is-half">
    <h2 class="is-flex is-justify-content-space-between w-100">
      {{ 'team' | translate }}
      <div>
        <mat-icon
          *ngIf="isAdmin$ | async"
          [matTooltip]="'edit' | translate"
          (click)="switchMode('edit')"
          >edit</mat-icon
        >
        <mat-icon
          *ngIf="isAdmin$ | async"
          [matTooltip]="'delete' | translate"
          (click)="openConfirmation('delete')"
          >delete</mat-icon
        >
        <mat-icon
          *ngIf="isMember$ | async"
          [matTooltip]="'leave' | translate"
          (click)="openConfirmation('leave')"
          >logout</mat-icon
        >
      </div>
    </h2>
    <h4 class="pointer" (click)="routeToTeam()">{{ teamDetails.teamName }}</h4>
  </div>
  <div class="column is-half">
    <div class="imageWrapper">
      <img src="{{ teamDetails.teamImageUrl }}" alt="" />
    </div>
  </div>
</div>
<div
  class="columns w-100 is-flex is-flex-direction-column padding-2"
  *ngIf="!teamDetails && !createMode"
>
  <h2>
    {{ 'team' | translate }}
  </h2>
  <h4 class="margin-bottom-1">{{ profileDetails.userName }} {{ 'noTeamYet' | translate }}</h4>
  <app-button (clicked)="switchMode('create')" [label]="'createTeam' | translate"></app-button>
</div>
<app-team-create-edit
  *ngIf="createMode || editMode"
  [editMode]="editMode"
  (closeComponent)="closeTeamCreate()"
  [teamDetails]="teamDetails"
></app-team-create-edit>
