.menu:hover,
span:hover {
  cursor: pointer;
  color: var(--green);
}

span {
  font-size: 1.25rem;
}

.menuItem {
  padding: 0.5rem;
}

.menuItem:hover {
  color: var(--green);
}
mat-icon {
  height: 2rem;
  width: 2rem;
  font-size: 1.75rem;
}
