<mat-card *ngIf="!(passwordResetRequestSent$ | async)">
  <mat-card-content>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <img src="{{logoUrl}}" width="150" height="150" />
      <h2>Passwort vergessen?</h2>
      <mat-form-field>
        <input matInput placeholder="Email" name="email" required formControlName="email" />
      </mat-form-field>
      <button mat-raised-button color="primary">Passwort anfragen</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="passwordResetRequestSent$ | async">
  <mat-card-content> Du hast eine E-Mail an die angegebene Adresse erhalten um dein Passwort zurückzusetzen </mat-card-content>
</mat-card>
