<nav class="breadcrumb padding-left padding-top-1">
  <ul>
    <li>
      <a routerLink="/">
        {{ 'startPage' | translate }}
      </a>
    </li>
    <li>
      <a class="breadcrumb-active">
        {{ 'forgotPassword' | translate }}
      </a>
    </li>
  </ul>
</nav>
<div
  *ngIf="!(passwordResetRequestSent$ | async)"
  class="forgotPassword is-flex padding-1 is-flex-direction-column w-100 is-align-items-center"
>
  <form
    class="w-100 is-flex is-flex-direction-column"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <h4 class="center">{{ 'forgotPassword' | translate }}</h4>
    <div class="inputOutline">
      <input [placeholder]="'email' | translate" name="email" required formControlName="email" />
    </div>
    <div class="center">
      <app-button [label]="'requestPassword' | translate"></app-button>
    </div>
  </form>
</div>
<div
  *ngIf="passwordResetRequestSent$ | async"
  class="is-flex is-align-items-center forgotPassword is-justify-content-center"
>
  <p>
    {{ 'receivedMailForPasswordReset' | translate }}
  </p>
</div>
