<div
  *ngIf="!(passwordResetRequestSent$ | async)"
  class="login is-flex padding-1 is-flex-direction-column w-100 is-align-items-center"
>
  <form
    class="w-100 is-flex is-flex-direction-column"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <img src="{{ logoUrl }}" width="150" height="150" />
    <h2>{{ 'forgotPassword' | translate }}</h2>
    <div class="inputOutline">
      <input
        [placeholder]="'forgotPassword' | translate"
        name="forgotPassword"
        required
        formControlName="forgotPassword"
      />
    </div>
    <div class="center">
      <app-button [label]="'requestPassword' | translate"></app-button>
    </div>
  </form>

  <mat-card *ngIf="passwordResetRequestSent$ | async">
    <mat-card-content>
      Du hast eine E-Mail an die angegebene Adresse erhalten um dein Passwort zurückzusetzen
    </mat-card-content>
  </mat-card>
</div>
