<div *ngIf="details" class="row">
  <div class="col-11">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Geo-Coordinates">
        <app-project-edit-location [positions]="projectForm.get('positions')"></app-project-edit-location>
      </mat-tab>
      <mat-tab label="Data">
        <app-project-edit-data [projectForm]="projectForm"></app-project-edit-data>
      </mat-tab>
      <mat-tab label="Trees">
        <app-project-edit-tree *ngFor="let tree of projectForm.get('articles').value"></app-project-edit-tree>
      </mat-tab>
      <mat-tab label="Images">Content 3</mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-1">
    <button mat-raised-button color="primary" (click)="saveData()">
      save
    </button>
  </div>
</div>


<div *ngIf="!details" class="no-details-wrapper">
  <mat-spinner *ngIf="detailsLoading$ | async"></mat-spinner>
  <p *ngIf="!details && !(detailsLoading$ | async)">No details selected</p>
</div>
