<div *ngIf="details" class="row">
  <div class="col-11">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Karte">
        <app-project-edit-location
          [positions]="projectForm.get('positions')"
        ></app-project-edit-location>
      </mat-tab>
      <mat-tab label="Daten">
        <app-project-edit-data
          [projectForm]="projectForm"
        ></app-project-edit-data>
      </mat-tab>
      <mat-tab label="Bäume">
        <div class="spacer"></div>
        <div *ngFor="let tree of projectForm.get('articles').controls">
          <app-project-edit-tree [control]="tree"></app-project-edit-tree>
          <mat-divider></mat-divider>
        </div>
        <div class="center">
          <button mat-raised-button color="primary" (click)="addArticle()">
            add article
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Bilder">
        <div class="spacer"></div>
        <button mat-raised-button color="primary" (click)="addImage()">
          add image
        </button>
        <div class="spacer"></div>
        <div *ngFor="let image of projectForm.get('images').controls">
          <app-project-edit-image
            [control]="image"
            [projectId]="projectForm.get('id').value"
          ></app-project-edit-image>
          <mat-divider></mat-divider>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-1">
    <button mat-raised-button color="primary" (click)="saveData()">Speichern</button>
  </div>
</div>

<div *ngIf="!details" class="no-details-wrapper">
  <mat-spinner *ngIf="detailsLoading$ | async"></mat-spinner>
  <p *ngIf="!details && !(detailsLoading$ | async)">No details selected</p>
</div>
