<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <carousel interval="5000">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" style="margin:auto;">

      <div class="carousel-caption">
        <h4 translate="{{slide.title}}"></h4>

        <p translate="{{slide.text}}"></p>
      </div>
    </slide>
  </carousel>

  <div class="row">
    <div class="col-md-4" ng-repeat="teas in teaser">
      <div class="thumbnail">
        <img ng-src="{{teas.image.src}}{{teas.title | translate}}" alt="{{teas.image.alt}}">

        <div class="caption">
          <h3 translate="{{teas.title}}"></h3>

          <p translate="{{teas.text}}"></p>
        </div>
      </div>
    </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
