<div class="is-flex is-flex-direction-column padding-left pt-075 is-justify-content-space-between">
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a class="breadcrumb-active" routerLink="/privacy">
          {{ 'privacy' | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
<div
  class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center padding-1"
>
  <div class="privacy">
    <h2>{{ 'dsgvo' | translate }}</h2>
    <div *ngFor="let dsgvo of privacyPolicy?.slice().reverse()">
      <h4>{{ dsgvo.title }}</h4>
      <div innerHtml="{{ dsgvo.intro }}"></div>
      <div *ngFor="let paragraph of dsgvo.paragraphs">
        <p>
          {{ paragraph.title }}
        </p>
        <p>
          {{ paragraph.text }}
        </p>
      </div>
    </div>
  </div>
</div>
