<div
  class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center padding-1"
>
  <div class="privacy">
    <h2>{{ 'dsgvo' | translate }}</h2>
    <div *ngFor="let dsgvo of privacyPolicy?.slice().reverse()">
      <h4>{{ dsgvo.title }}</h4>
      <div innerHtml="{{ dsgvo.intro }}"></div>
      <div *ngFor="let paragraph of dsgvo.paragraphs">
        <p>
          {{ dsgvo.title }}
        </p>
        <p>
          {{ dsgvo.text }}
        </p>
      </div>
    </div>
  </div>
</div>
