@import '../../../../less/basecolors.less';

.aboutUs {
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 20px;
    background: @base-background-color;
  }

  .title {
    font-weight: bold;
  }

  ul {
    margin-top: 15px;
  }
  li {
    margin-bottom: 10px;
  }

  .article-img {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    .article-img-div {
      display: inline-block;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
      .img-desc {
        text-align: left;
        font-size: 12px;
      }
    }
  }
}
