@import '../../../../less/basecolors.less';

.contact {
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 4vw;
    padding-right: 4vw;
    background: @base-background-color;
    .form-group {
      .iconButton {
        margin-bottom: 25px;
      }
    }
  }

  .col-md-12 {
    margin: 0px;
    padding: 0px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }
}
