@import '../../../../less/basecolors.less';

.financial {
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 20px;
    background: @base-background-color;
  }

  .title {
    font-weight: bold;
    font-size: 1.5em;
  }

  ul {
    margin-top: 15px;
  }
  li {
    margin-bottom: 10px;
  }
}
