.helpUs {
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 20px;
    background: #e5e5e5;
  }

  .title {
    font-weight: bold;
  }

  ul {
    margin-top: 15px;
  }
  li {
    margin-bottom: 10px;
  }
}
