@import '../../../../less/basecolors.less';

.links {
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 20px;
    background: @base-background-color;
  }

  .link{
    border-width: 1px;
    border-style: none none solid none;
    margin-bottom: 15px;
  }
  .link:last-child{
    border-style: none;
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .link-title {
    font-size: 16px;
    font-weight: bold;
  }
  a,
  a:active,
  a:visited {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    color: @accent-color;
  }

}
