.social {
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 20px;
    background: #fff;
  }

  .title{
    font-size: 18px;
    font-weight: bold;
  }

  a,
  a:active,
  a:visited {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    color: #82ab1f;
  }
}
