.row {
  margin-left: 0;
  margin-right: 0;
}

.button-wrapper {
  padding-top: 15px;
  text-align: right;
}

.title-field {
  width: 100%;
}

.filter-input{
  width: 90%;
}

mat-icon {
  cursor: pointer;
}

mat-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}