.faq{
  .row {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 20px;
    background: #e5e5e5;
  }

  a,
  a:visited,
  a:active{
    text-decoration: none;
    color: #000;
  }

  .question{
    font-size: 12px;
    display: inline;
  }

  .question:hover{
    color: #82ab1f;
  }

  .answers{
    max-height: 700px;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    padding: 15px;

    .box-question{
      font-weight: bold;
    }
  }
}
