.newsletter {
  background-image: url(/assets/baumscheiben.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: row;
}

.newsletterPage {
  height: calc(100vh - 80px);
}

.nl-iframe {
  min-height: 200px;
}

@media only screen and (max-width: 768px) {
  .switchToCol {
    flex-direction: column;
    padding: 1rem;
  }

  .padding-3 {
    padding: 1rem;
  }
}
