<div class="newsletter w-100 is-flex columns" [class.newsletterPage]="fullScreenNewsletter">
  <div class="is-flex column is-one-third is-flex-direction-column is-justify-content-center">
    <h2>{{ 'newsLetter' | translate }}</h2>
    <p>{{ 'newsLetterText' | translate }}</p>
  </div>
  <div
    class="is-flex is-flex-direction-column is-align-items-left is-justify-content-center column is-one-third padding-1"
  >
    <div #iframe id="iframe" [innerHTML]="html" class="nl-iframe"></div>
  </div>
  <div class="column is-one-third"></div>
</div>
