.image-wrapper {
  max-width: 100px;
  max-height: 100px;
}

.columns {
  font-family: 'Bull-mono' !important;
}

.bottomLine {
  border-bottom: 1px solid #c9c9c9;
}

.amount {
  display: block;
}

.x {
  display: none;
}

.w-100 {
  max-width: 764px;
}

.column {
  padding: 0 !important;
}

@media only screen and (max-width: 768px) {
  .amount {
    display: none;
  }

  .x {
    display: block;
  }
}
