<div
  class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center w-100 bottomLine"
>
  <div class="image-wrapper">
    <img class="img-tree" src="{{ imageUrl }}" alt="tree" />
  </div>
  <div class="is-flex-direction-column is-flex is-justify-content-center">
    <b> {{ getGerman(plantItem.treeType) }} </b>
    <br />
    {{ plantItem.treePrice / 100 | currency }}
  </div>
  <div class="is-flex-direction-row is-flex is-justify-content-center">
    <div class="x">x {{ plantItem.amount }}</div>
    <div class="amount">{{ plantItem.amount }} {{ 'pieces' | translate }}</div>
  </div>
  <div>
    {{ plantItem.projectName }}
  </div>
  <div>
    {{ sum | currency }}
  </div>
</div>
