<div
  class="columns project-description padding-2 is-align-items-center is-justify-content-center is-flex is-flex-direction-column"
>
  <div class="mwidth" [innerHtml]="intro | safeHtml"></div>
  <div class="mwidth" *ngFor="let p of blogArticle.paragraphs">
    <p class="description" [innerHtml]="getText(p.text) | safeHtml"></p>
    <div *ngIf="p.imageFileName !== (null || '')" class="center blog-image">
      <img src="{{ getImageUrl(p.imageFileName) }}" width="800" height="600" />
      <p>{{ p.imageDescription }}</p>
    </div>
  </div>
  <a class="margin-top-2" routerLink="/blog">{{ 'backToBlog' | translate }}</a>
</div>
