<div class="columns">
  <div class="column is-half padding-2 borderRight border-bottom">
    <p>{{ 'rank' | translate }}: {{ teamDetails.rank }}</p>
    <p>{{ 'treesPlanted' | translate }}: {{ teamDetails.co2Data?.treesCount }}</p>
    <p innerHTML="{{ ('CO2Trapped' | translate) + ': ' + teamDetails.co2Data?.co2 + ' t' }}"></p>
    <p class="incognito">{{ 'treesPlanted' | translate }}: {{ teamDetails.co2Data?.treesCount }}</p>
  </div>
  <div class="column is-half padding-2 border-bottom">
    <p>{{ 'founded' | translate }}: {{ teamDetails.regDate | date : 'dd.MM.yyyy' }}</p>
    <p innerHTML="{{ 'teamLeader' | translate }}: {{ teamDetails.adminName }}"></p>
    <p>{{ 'members' | translate }}: {{ teamDetails.memberCount }}</p>
  </div>
</div>
<div class="columns padding-2">
  <p innerHTML="{{ teamDetails.description }}"></p>
</div>
