<div
  class="is-flex is-flex-direction-column padding-left padding-top-075 is-justify-content-space-between"
>
  <nav class="breadcrumb">
    <ul>
      <li>
        <a routerLink="/">
          {{ 'startPage' | translate }}
        </a>
      </li>
      <li>
        <a class="breadcrumb-active" routerLink="/about">
          {{ 'aboutUs' | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>
<div
  class="w-100 is-flex is-flex-direction-column is-justify-content-center is-align-items-center padding-1"
>
  <div class="about margin-top-2">
    <h2>{{ 'aboutUs' | translate }}</h2>
    <div *ngFor="let about of aboutUs; let i = index">
      <h4>{{ about.title }}</h4>
      <div class="margin-top-2 margin-bottom-2 center" *ngIf="articleImageUrls[i].mainImageUrl">
        <img
          [src]="articleImageUrls[i].mainImageUrl"
        />
        <br>
        <span class="image-caption">{{ about.imageDescription }}</span>
      </div>
      <div innerHtml="{{ about.intro }}"></div>
      <div class="margin-bottom-2" *ngFor="let paragraph of about.paragraphs; let j = index">
        <h4> {{ paragraph.title }} </h4>
        <div class="center margin-bottom-1" *ngIf="articleImageUrls[i].paragraphImageUrls[j]">
          <img [src]="articleImageUrls[i].paragraphImageUrls[j]" />
          <br>
          <span class="image-caption">{{ paragraph.imageDescription }}</span>
        </div>
        <p innerHtml="{{ paragraph.text}} "> </p>
      </div>
    </div>
  </div>
</div>
