{
  "env": {
    "node": true
  },
  "globals": {
    "angular": true,
    "describe": true,
    "beforeEach": true,
    "before": true,
    "afterEach": true,
    "after": true,
    "it": true,
    "expect": true,
    "module": true,
    "inject": true
  },
  "rules": {
    "quotes": [2, "single"],
    "curly": [2, "all"],
    "eol-last": [2],
    "semi": 2
  }
}