<div class="is-flex is-flex-direction-column" *ngIf="projectReport">
  <h4 class="center">{{ 'newestPlantings' | translate }}</h4>
  <div
    class="carousel-row is-flex is-flex-direction-row padding-1 is-justify-content-space-between"
  >
    <mat-icon *ngIf="currentPlantingPage > 0" (click)="fetchNextPage('plantings', -1)"
      >arrow_left</mat-icon
    >
    <app-carousel-item
      *ngFor="let item of (plantings$ | async).content"
      [rankingItem]="item"
    ></app-carousel-item>
    <mat-icon (click)="fetchNextPage('plantings', 1)">arrow_right</mat-icon>
  </div>
  <h4 class="center">{{ 'partner' | translate }}</h4>
  <div
    class="carousel-row is-flex is-flex-direction-row padding-1 is-justify-content-space-between"
  >
    <mat-icon *ngIf="currentPartnerPage > 0" (click)="fetchNextPage('partners', -1)"
      >arrow_left</mat-icon
    >
    <app-carousel-item
      *ngFor="let item of (partners$ | async).content"
      [rankingItem]="item"
    ></app-carousel-item>
    <mat-icon (click)="fetchNextPage('partners', 1)">arrow_right</mat-icon>
  </div>
</div>
