.svg-icon {
  path {
    fill: var(--brown);
  }
}

.inToolbar {
  cursor: pointer;
  path {
    fill: var(--dark-brown);
  }
}
.inToolbar:hover {
  cursor: pointer;
  path {
    fill: var(--green);
  }
}
