<div class="columns w-100 padding-2 border-bottom">
  <div class="column is-half">
    <p>{{ 'rank' | translate }}: {{ profileDetails.rank }}</p>
    <p>{{ 'treesPlanted' | translate }}: {{ profileDetails.co2Data.treesCount }}</p>
    <p innerHTML="{{ ('CO2Trapped' | translate) + ': ' + profileDetails.co2Data.co2 + ' t' }}"></p>
    <p>{{ 'website' | translate }}:
      <a target="_blank" rel="nofollow noopener noreferrer" [href]="setURL(profileDetails.homepage)">
        {{ profileDetails.homepage }}
      </a>
    </p>
  </div>
  <div class="column is-half">
    <p>{{ 'memberSince' | translate }}: {{ profileDetails.regDate | date : 'dd.MM.yyyy' }}</p>
    <p>{{ 'type' | translate }}: {{ profileDetails.organizationType | translate }}</p>
    <p innerHTML="{{ 'organisation' | translate }}: {{ profileDetails.organisation }}"></p>
    <p innerHTML="{{ 'location' | translate }}: {{ profileDetails.location }}"></p>
  </div>
</div>
<div class="columns padding-2">
  <p innerHTML="{{ profileDetails.aboutMe }}"></p>
</div>
