{
  "owner": {
    "name": "Martin",
    "id": 2,
    "enabled": true,
    "banned": false
  },
  "dtoId": 2,
  "amount": 1,
  "longitude": 1,
  "latitude": 1,
  "submittedOn": 1434651634303,
  "plantedOn": 1000001,
  "treeTypeName": null,
  "ownerName": null,
  "treeTypeId": null,
  "_links": {
    "self": {
      "href": "http://localhost:8080/rest/v1/trees/2"
    },
    "treeType": {
      "href": "http://localhost:8080/rest/v1/treetypes/null"
    }
  }
}