
.slidercontainer {
  max-width: 1200px;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  border-top: 4px solid var(--background);
  border-bottom: 4px solid var(--background);
  background: var(--black); /* Grey background */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  position: absolute;
  left: 20px;
  border-radius: 8px;
  width: 16px; /* Set a specific slider handle width */
  height: 16px; /* Slider handle height */
  background: var(--green); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  position: absolute;
  left: 20px;
  background: var(--green); /* Green background */
  cursor: pointer; /* Cursor on hover */
}

