@font-face {
  font-family: "Bull-mono";
  font-weight: 400;
  src: url(/assets/fonts/bull5/Bull-5-Mono.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: "Bull-regular";
  font-weight: 400;
  src: url(/assets/fonts/bull5/Bull-5-Regular.woff2) format("woff2");
}
