<div class="row">
  <div class="col-4">
    <mat-form-field appearance="fill" class="title-field">
      <input
        type="text"
        placeholder="User der Bäume abgibt"
        matInput
        [formControl]="filterControlFromUser"
        [matAutocomplete]="auto"
        class="filter-input"
      />
      <mat-icon
        aria-hidden="false"
        (click)="removeFromUser()"
        *ngIf="fromUser.value"
        >delete</mat-icon
      >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredOptionsFromUser" [value]="user">
          {{ user.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="col-4">
    <mat-form-field appearance="fill" class="title-field">
      <input
        type="text"
        placeholder="User der Bäume aufnimmt"
        matInput
        [formControl]="filterControlToUser"
        [matAutocomplete]="autoTo"
        class="filter-input"
      />
      <mat-icon
        aria-hidden="false"
        (click)="removeToUser()"
        *ngIf="toUser.value"
        >delete</mat-icon
      >
      <mat-autocomplete #autoTo="matAutocomplete">
        <mat-option *ngFor="let user of filteredOptionsToUser" [value]="user">
          {{ user.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="col-4">
    <div class="btn-wrapper">
      <button
        mat-raised-button
        color="primary"
        (click)="transferTrees()"
        [disabled]="!fromUser.value || !toUser.value"
      >
        Bäume übertragen
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <b>{{
      "Anzahl an zu übertragenden Bäumen: " + (amountOfTrees$ | async)
    }}</b>
  </div>
</div>
