.title-field {
  width: 100%;
}


.filter-input{
  width: 90%;
}

mat-icon {
  cursor: pointer;
}

.transfer-text{
  text-align: right;
  p{
    margin-top: 10px;
  }
}
.spacer {
  width: 100%;
  height: 25px;
}