.close-wrapper {
  text-align: right;
  .close-button{
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
  }
}

b{
  margin-right: 5px;
}

.col-30{
  text-align: right;
}