@import '../../less/basecolors.less';

.teamPage {
  .smallRankingContainer {
    a {
      color: black;
    }
    h3 {
      display: none;
    }
  }

  .details {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;

    h2 {
      margin-top: 0;
      padding-top: 15px;
    }
    > div:nth-of-type(1) {
      background-color: #e5e5e5;
      height: 100%;
      padding-bottom: 1000px;
      margin-bottom: -1000px;
    }
    > div:nth-of-type(2) {
      background-color: @base-background-color;
      height: 100%;
      padding-bottom: 1000px;
      margin-bottom: -1000px;
    }
  }

  .teamName {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }

  .imageDiv {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  table {
    width: 100%;
    font-size: 14px;
  }

  .stats {
    border-style: solid none solid none;
    border-width: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .teamDesc {
    font-family: Georgia,Times,Times New Roman,serif;
    border-style: none none solid none;
    font-size: 14px;
    border-width: 1px;
    margin-bottom: 25px;
    padding-bottom: 15px;
  }
  .teamLink,
  .teamLink:active,
  .teamLink:visited {
    color: #000;
    text-decoration: none;
    text-align: center;
    height: 50px;
    font-size: 14px;
    div {
      background-color: #e5e5e5;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .imgDiv {
      display: inline-block;
      vertical-align: top;
    }

    .textDiv1Line {
      display: inline-block;
      text-align: left;
      padding-left: 10px;
    }

    .textDiv2Lines {
      display: table-row;
      text-align: left;
      div {
        padding-left: 10px;
      }
    }

  }
  .teamLink:hover {
    text-decoration: none;
  }

  .teamMember {
    a,
    a:active,
    a:hover,
    a:visited {
      text-decoration: none;
      color: #000;
    }
    .member {
      font-size: 16px;
      text-transform: uppercase;
      padding: 10px;
      div {
        display: inline-block;
      }
      .image {
        img {
          border-radius: 50%;
          border-color: @accent-color;
          border-style: solid;
          border-width: 4px;
        }
      }
      .name {
        text-align: left;
        margin-left: 10px;
        width: 150px;
      }
    }
  }

  .teamButtons{
    padding-bottom: 25px;
  }

  .bottomButton{
    padding-top:25px;
    padding-bottom:25px;
  }

  .teamRanking {
    background-color: #cccccc;
  }
}
