@import '../../../less/basecolors.less';

.transformTreesPage {
  .row {
    background-color: @base-background-color;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .col-md-2 {
    text-align: right;
    padding-top: 10px;
  }

  .sum-of-trees {
    font-size: 18px;
    .col-md-6:first-child {
      text-align: right;
    }
    .col-md-6 {
      font-weight: bold;
    }
  }
  .transfer-button {
    text-align: center;
  }
}
