<form [formGroup]="controlObj">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Baumart</mat-label>
        <mat-select
          [value]="controlObj.get('treeType').get('id').value"
          (selectionChange)="treeTypeChanged($event)"
        >
          <mat-option
            *ngFor="let treeType of treeTypes"
            [value]="treeType.id"
            >{{ treeType.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col" formGroupName="price">
      <mat-form-field>
        <input
          matInput
          placeholder="Preis"
          name="amount"
          formControlName="amount"
          type="number"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <input
          matInput
          placeholder="Anzahl"
          name="amount"
          formControlName="amount"
          type="number"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <button mat-icon-button color="warn" (click)="openDeleteConfirmation()">
        <mat-icon aria-hidden="false">delete</mat-icon>
      </button>
    </div>
  </div>
</form>
