<div class="form-wrapper">
  <div>
    <form [formGroup]="projectForm">
      <div class="columns">
        <div class="column">
          <mat-form-field>
            <input matInput placeholder="Name" name="name" formControlName="name" />
          </mat-form-field>
        </div>
        <div class="column">
          <mat-checkbox formControlName="visible">sichtbar</mat-checkbox>
        </div>
        <div class="column">
          <mat-checkbox formControlName="shopActive">aktiv</mat-checkbox>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="columns">
        <div class="column is-4">
          <img src="{{ imageSrc }}" width="400" height="300" />
        </div>
        <div class="column is-2">
          <input
            #csvInput
            hidden="true"
            type="file"
            onclick="this.value=null"
            (change)="imageChanged($event)"
            accept=".png, .jpg, .jpeg"
          />
          <button mat-raised-button color="primary" (click)="csvInput.click()">Bild</button>
        </div>
        <div class="column is-6"></div>
      </div>
      <mat-divider></mat-divider>
      <div class="columns">
        <div class="column is-2">Description(De)</div>
        <div class="column is-10">
          <app-text-editor [control]="projectForm.get('descriptionDe')"></app-text-editor>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="columns">
        <div class="column is-2">Description(En)</div>
        <div class="column is-10">
          <app-text-editor [control]="projectForm.get('descriptionEn')"></app-text-editor>
        </div>
      </div>
    </form>
  </div>
</div>
