@import '../../../less/basecolors.less';

.eventEditor {
  .row {
    background-color: @base-background-color;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    padding-left: 4vw;
    padding-right: 4vw;
    display: flex;
  }

  .col-md-4 {
    text-align: right;

    .select-label {
      padding-top: 7px;
    }

    .input-label {
      vertical-align: -webkit-baseline-middle;
    }
  }
  .col-md-8 {
    flex: 1;

    input[type='text'] {
      width: 300px;
    }
  }

  .save {
    text-align: right;
  }

  .price {
    display: inline-block;

    margin-right: 25px;
    span {
      font-size: 24px;
      font-weight: bold;
      color: @accent-color;
    }
  }

  .plant-div {
    text-align: center;

    .svgButton {
      background-color: @primary-color;

      div {
        text-align: left;
      }
      p {
        line-height: 1;
      }
    }
  }
}
